<form>
	<div class="hideBorder">&nbsp;</div>
	<h5>ANNOUNCEMENTS <a class="pull-right decoratenone" ng-click="showAnnouncementsPopupInfo()" ng-if="announcementsObj.announcement.announcementList.length >5 && !announcementsErr && announcementsObj.errorMsg == 'N/A'" stop-event><span class="zeropadding">View more</span><span class="householdviewmore iconpadding"></span></a></h5>
	<div ng-if="!announcementsErr && announcementsObj.errorMsg == 'N/A'" class=" rightMenuPopupDiv">
	<p ng-repeat="eachAnnouncement in announcementsObj.announcement.announcementList" ng-if="$index < 5"><a class="decoratenone" open-document data-url="{{eachAnnouncement.link}}">{{eachAnnouncement.title}} <sup ng-if="eachAnnouncement.isNew">New!</sup></a></p>
	
	</div>	
	<div ng-if="announcementsObj.errorMsg != 'N/A'" class="errtxt">{{announcementsObj.errorMsg}}</div>
    <div ng-if="announcementsErr" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	
</form>