<div class="pagesection col-lg-12 " >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "><h4 class="sub-header">New Audit Setup</h4></div>
	<div ng-if="auditSetup.flatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	<div ng-if="!auditSetup.flatTireErr" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
		<form id="auditSet" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">			
			<div class="row addmargintop" >
				<label class="fsLabel col-lg-2 col-md-2 col-sm-3 col-xs-3" >Audit Name:</label>
				<input type="text" ng-disabled="true" class=" col-lg-3 col-md-3 col-sm-6 col-xs-9 " maxlength="100" id="auditName" ng-model="auditSetup.auditName">
				<!--span class="redTxt visible-sm col-sm-offset-3 col-sm-9 remLRpad" ng-if ="auditSetup.auditName=='' && auditSetup.showMessage">Please enter Audit Name</span-->	
				<div class="col-lg-1 col-md-1 col-sm-12 keysuggestion"></div>
				<label class="fsLabel col-lg-2 col-md-2 col-sm-3 col-xs-3 " >Audit Lead:</label>
				<select class="col-lg-3 col-md-3 col-sm-6 col-xs-9 " id="auditLead" ng-model="auditSetup.data.defAuditLead" ng-options="lead for lead in auditSetup.data.AuditLeads">
				</select>
				<!--span class="redTxt col-md-offset-2 col-md-10  hidden-sm remLRpad"  ng-if ="auditSetup.auditName=='' && auditSetup.showMessage">Please enter Audit Name</span-->	
			</div>
			<div class="row">
				<label class="fsLabel col-lg-2 col-md-2 col-sm-3 col-xs-3" >Location:</label>
				<select class="col-lg-3 col-md-3 col-sm-6 col-xs-9" id="location" ng-model="auditSetup.data.defAuditLocation" ng-options="loc for loc in auditSetup.data.AuditLocations">
				</select>
				<div class="col-lg-1 col-md-1 col-sm-12 keysuggestion"></div>
				<label class="fsLabel col-lg-2 col-md-2 col-sm-3 col-xs-3 ">Date & Time:</label>
				<div >
					<input  ng-model="auditSetup.auditDate" class="col-lg-2 col-md-2 col-sm-4 col-xs-9 date-format-hgt remRpad" />
					<span datetime-picker ng-model="auditSetup.auditDate"  date-only date-format="MM/dd/yyyy hh:mm a"  class="col-sm-4 auditCalendar add-on glyphicon glyphicon-calendar"></span>
				</div>							
				<label class="fsLabel left col-sm-1 smgridTable">{{auditSetup.data.timeZone}}</label>		
				<span class="redTxt  col-md-offset-8 col-md-4 col-sm-offset-3 col-sm-9 remLRpad" ng-if ="auditSetup.auditDate =='' && auditSetup.showMessage">Please select Date</span>	
			</div>
			<div class="row" >
				<label class="fsLabel col-lg-2 col-md-2 col-sm-3 col-xs-3" >Audit Type:</label>
				<select class="col-lg-3 col-md-3 col-sm-6 col-xs-9" id="type" ng-model="auditSetup.data.defAuditType" ng-options="types for types in auditSetup.data.AuditTypes">
				</select>				
			</div>
			<div class="row">
				<label class="fsLabel col-lg-2 col-md-2 col-sm-3 col-xs-3">Description:</label>
				<textarea rows="7"  class=" col-lg-9 col-md-9 col-sm-9 col-xs-9" maxlength="500" id="description" ng-model="auditSetup.description"></textarea>
				<span class="redTxt col-md-offset-2 col-md-10  col-sm-offset-3 col-sm-9 remLRpad" ng-if ="auditSetup.description =='' && auditSetup.showMessage">Please enter Description</span>
				<span class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-9">{{500 - auditSetup.description.length}} characters remaining</span>
			</div>				
			<div class="row addmargintop">
				<div class=" col-lg-11 col-md-11 remLRpad">
					<input  type="submit" class="pull-right updateBtn btn btn-default frmLink" value="Save" ng-click="auditSave()"/>
					<input type="button" class="pull-right updateBtn btn btn-default frmLink" value="Cancel" ng-click="auditCancel()"/>
				</div>
			</div>
		</form>				
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs- 12 row remLRpad">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
</div>	