<div class="pagesection col-xs-12 col-md-12">	
<h4 class="sub-header">Campaign</h4>
<div class="campaignContainer">	 
	 <div class="panel-group col-xs-12 col-sm-12 col-md-12 col-lg-12 removeD" >
	 <div class="panel panel-default rmLRPad accOverflow" ng-repeat="cam in campObj" ng-class="{'greenBorder': (cam.campaignDescr | lowercase) == 'completed','redBorder': (cam.campaignDescr | lowercase) != 'completed'}">
      <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 0">
       
			<div class="col-xs-12 col-md-12 flexbox" ng-class="{'firstTabActive': (cam.campaignDescr | lowercase) == 'completed','firstTabInctive': (cam.campaignDescr | lowercase) != 'completed'}" >
			<div class="col-xs-3 col-md-2 col-lg-2 serviceProvider">				
				<p ng-class="{'active': (cam.campaignDescr | lowercase) == 'completed','inactive': (cam.campaignDescr | lowercase) != 'completed'}" style="background-position-x: center;width: auto;padding-top:10px;padding-bottom:10px;">&nbsp;</p>
				<p class="text-center text-sucess" ng-class="{'campCompleted': (cam.campaignDescr | lowercase) == 'completed','campNotcompleted': (cam.campaignDescr | lowercase) != 'completed'}" >{{cam.campaignDescr}}</p>
			</div>
			<div class="col-xs-9 col-md-10 col-lg-10 tab-color">
				<div class="row camprec">
				<label class="fsLabel col-xs-4 col-md-2 col-lg-2 removeD ">Description</label>
				<p class="col-xs-8 col-md-10 col-lg-10 removeD">{{cam.campaignTitle}}</p></div>
				<div class="row camprec" ng-if="cam.campaignStatus && cam.campaignStatus!='N/A'">
				<label class="fsLabel col-xs-4 col-md-2 col-lg-2 removeD ">Status</label>
				<p class="col-xs-8 col-md-10 col-lg-10 removeD">{{cam.campaignStatus}}</p></div>
				<div class="row camprec" ng-if="cam.expDate!='N/A'">
				<label class="fsLabel col-xs-4 col-md-2 col-lg-2 removeD ">Expiration Date</label>
				<p class="col-xs-8 col-md-10 col-lg-10 removeD"> {{cam.expDate}}</p></div>
				<div class="row camprec">
				<label class="fsLabel col-xs-4 col-md-2 col-lg-2 removeD ">Date Serviced</label>
				<p class="col-xs-8 col-md-10 col-lg-10 removeD"> {{cam.dateOfService}}</p></div>				
				<div class="row camprec">
					<label class="fsLabel col-xs-4 col-md-2 col-lg-2 removeD ">Dealer</label> 
					<div class="col-xs-8 col-md-10 col-lg-10 removeD">
						<dealer-popup   stop-event dcode="{{cam.dealerCode}}" dname="{{cam.dealerName}}"></dealer-popup>
					</div>
				</div>
				<div class="row removeD pull-right">	
					<span class="pull-right text-primary frmLink" rel="docu_{{$index}}" ng-click="campDocList('nClose_{{$index}}',$event)" ng-hide="cam.documentListEmpty">
					View Documents <span class="camview"  rel="docu_{{$index}}" ng-click="campDocList('nClose_{{$index}}',$event)" ng-hide="cam.documentListEmpty"></span>
						<div  stop-event stop-screen-move class="shadowpopup" ng-class="{more: listCunt>4}" id="docu_{{$index}}" ng-show="campaignDoc">
							<h4>Documents {{"("+documentObj.length+")"}}<span class=" closebutton  " ng-click="overlayShow(false);$event.stopPropagation();" my-touchstart="hidePopupAndOverlay();">X</span></h4>
							<div class="doc" ng-repeat="doc in documentObj" ng-if="$index < listCunt">
								<a open-document data-url="{{doc.documentUrl}}" stop-event>{{doc.objectTitle}}</a>
							</div>
							<div ng-click=showMore("more") ng-if="documentObj.length > listCunt" stop-event>More...</div>
							<div ng-click=showMore("less") ng-if="documentObj.length <= listCunt && documentObj.length > 3" stop-event>Less...</div>	
						</div>
					</span>						
				</div>
				<span  ng-if="cam.frameInsLink" class="pull-right">	
					<a open-document data-url="{{cam.frameInsLink}}">Frame Inspection<span class="frmIcon"></span></a>
				</span>
			</div>
			</div>
		</div>
      
      <div class="panel-collapse collapse in" ng-if="cam.techCertReq">
        <div class="panel-body col-xs-12 col-sm-12 col-md-12 col-lg-12 "> 
				<h5>Tech Cert Requirements</h5>
				<table class="table scrollableTab" style="margin-top: 5px;">				
				<tbody>
					<tr ng-if="(vehOneLiner.division | lowercase) == 'toyota' || (vehOneLiner.division | lowercase) == 'scion'">
						<td rowspan="2" class="header cAlign">Maint</th>
						<td colspan="4" class="header border-right cAlign">Certified</td>
						<td colspan="5" class="header border-right cAlign">Expert</td>
						<td rowspan="2" class="header border-right cAlign">Mast</td>
						<td rowspan="2" class="header border-right cAlign">MDT</td>
						<td rowspan="2" class="header border-right border-left cAlign">Special Courses</td>
					</tr>
					<tr ng-if="(vehOneLiner.division | lowercase) == 'lexus'">
						<td class="header cAlign">Certified</th>
						<td class="header border-right cAlign">Senior</td>
						<td class="header border-right cAlign">Master</td>
						<td class="header border-right cAlign">Diagnostic Specialist</td>
						<td class="header border-right cAlign border-left">Special Courses</td>
					</tr>
					<tr ng-if="(vehOneLiner.division | lowercase) == 'toyota'|| (vehOneLiner.division | lowercase) == 'scion'">
						<td class="noTick border-right">EG</td>
						<td class="noTick border-right">DT</td>
						<td class="noTick border-right">CH</td>
						<td class="noTick border-right">EL</td>
						<td class="noTick border-right">EG</td>
						<td class="noTick border-right">DT</td>
						<td class="noTick border-right">CH</td>
						<td class="noTick border-right">EL</td>
						<td class="noTick border-right">HY</td>
					</tr>
					<tr class="techRow">							
					<td ng-class="{'activated': elgiblecol, 'border-right': $index != 0,'noTick': $last}" ng-repeat="elgiblecol in cam.techTable track by $index">&nbsp; <span ng-if="$last" ng-hide="!elgiblecol">{{elgiblecol}}</span></td>						
					</tr>
				</tbody>
				</table>
				<label class="fsLabel col-xs-12 cols-md-12 cols-lg-12 removeD">Additional Information</label>
				<p class="col-xs-12 col-md-12 col-lg-12 addninfoBox">{{cam.additionalInfo}}</p>				
				<div class="col-xs-12 col-md-12 col-lg-12" style="padding: 20px 0;" ng-if="cam.EligibleTechErr || cam.eligibleTech.length">
					<p class="glyphicon acc_minus fsProduct-glyphicon" ng-class="{'collapsed':cam.collapse}" ng-click="cam.collapse = !cam.collapse"><a id="eligibleTechlink" class="glyphiText">[Eligible Techs]</a></p>
				</div>
				
				<div class="hide" id="campElgibleTechRow" ng-class="{'show': !cam.collapse}" >
				<div class="redTxt" ng-if="cam.EligibleTechErr" style="line-height: 30px;">{{cam.EligibleTechErr}}</div>
					<table ng-table="tableParams" class="table scrollableTab" ng-if="cam.eligibleTech.length">		
						<thead>
						<tr>
							<th class="header border-right">#</th>
							<th class="header border-right">Name</th>
							<th class="header border-right">Last 4 of SPIN</th>
							<th class="header border-right">Experience</th>
							<th class="header border-right">Certification</th>		
						</tr>
						
						</thead>		
						<tbody>						
							<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="etRec in cam.eligibleTech">
								<td>{{$index + 1}}</td>
								<td class="border-right"><a ng-click="showTechnicianPopup(etRec.name,etRec.lastDate,etRec.associateId,etRec.experience,etRec.certificate)">{{etRec.name}}</a></td>
								<td class="border-right">{{etRec.lastSpin}}</td>
								<td class="border-right">{{etRec.experience+' Months'}}</td>
								<td class="border-right">{{etRec.certificate}}</td>															
							</tr>
						</tbody>
				
		
	</table>
				</div>
			</div>
		</div>
      </div>
    </div>
	</div>

<div class="row remLRpad" style="clear:both !important;">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
</div>