<form>
	<div class="hideBorder">&nbsp;</div>
		<!--<h5 >GUEST INFORMATION</h5>-->
		<h5 ng-if="vehOneLiner.division == 'TOYOTA'">CUSTOMER INFORMATION</h5>
		<h5 ng-if="vehOneLiner.division == 'LEXUS'">GUEST INFORMATION</h5>	
		<div ng-if="customerInfoVal" ng-hide="customerInfoErr" >
			<!--a id="household">&nbsp;</a-->
			<select ng-init="ownerDriver" ng-model="ownerDriver" ng-options="option.displayName for option in custInfoData.customerInfo" ng-change="selectCustomer(ownerDriver.customerID)"></select>
			<a  ng-click="showHouseHoldInfo('INITIAL',1,0)" >
				<div class="houseinguest"><span  class="householdiconsmall"></span></div>
			</a>
			<label ng-if="ownerDriver.addressLine1" class="cusLabel wrapinside" >{{ownerDriver.addressLine1}}</label> 
			<label ng-if="ownerDriver.addressLine2" class="cusLabel wrapinside" >{{ownerDriver.addressLine2}}</label>
			<label ng-if="ownerDriver.addressLine3" class="cusLabel cusLabelws">{{ownerDriver.addressLine3}}</label>
			<label class="customerPhoneIcon" ng-if="ownerDriver.primaryPhoneNO">{{ownerDriver.primaryPhoneNO}}</label>
			<label class="customerPhoneIcon" ng-if="ownerDriver.alternatePhoneNO">{{ownerDriver.alternatePhoneNO}}</label>
			<label class="customerMailIcon" ng-if="ownerDriver.emailAddress">{{ownerDriver.emailAddress}}</label>
			<label ng-if="ownerDriver.lastUpdateDT" id="lastUpadte">Last Update: {{ownerDriver.lastUpdateDT}}</label>
		</div>
	<div ng-if="custInfoData.errorMsg !='N/A'" id="custError" class="redTxt" ng-hide="customerInfoErr">{{custInfoData.errorMsg}}</div>
	<div ng-if="customerInfoErr" class="wrapinside" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	<div>&nbsp;</div>
</form>