<div class="pagesection col-xs-12 col-md-12 customersurveypage">
	<h4 class="sub-header">Customer Survey 
		<span class="circle" dtip rel="{{customerSurveyObj.Disclaimer}}" donly="true"></span>
	</h4>
	
	<div class="panel panel-default clearfix adjMargin warningmessage blockdisplay" ng-if="cusotmerSurveyErr">
		<div class="custPaneHead">&nbsp;</div>
		<div class="panel-body">
			<div class="info-table-body">
				{{customerSurveyObj.errorMsg}}
				<dealer-popup   stop-event dcode="{{customerSurveyObj.dealerCode}}" dname="{{customerSurveyObj.dealerName}}"></dealer-popup>
			</div>
		</div>
	</div>
		<div ng-if="!cusotmerSurveyErr">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad">
				<div class="tabandolderconainer">
					<div class="tabandolderconainericon">
						<div id="tab1accordion11minus" class="overallminus" ng-click="expandOrCollapseAll(false)"></div>
						<div id="tab1accordion11plus" class="overallplus"  ng-click="expandOrCollapseAll(true)"></div>
					</div>
				</div>
			</div>
			<accordion class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad" close-others="false">
				<accordion-group class="eachaccordiangroup" is-open="eachSurvey.open"
					ng-repeat="(eachKeyIneachSurvey,eachSurvey) in customerSurveyObj.CustomerSurveyJSON.CustomerSurveyListList">
				<accordion-heading>
				<div ng-class="{'greensurvey': (eachSurvey.CustomerSurveyVO.smiley | lowercase) == 'happy face','redsurvey': (eachSurvey.CustomerSurveyVO.smiley | lowercase) == 'sad face','greysurvey': (eachSurvey.CustomerSurveyVO.smiley | lowercase) == 'straight lip face' || eachSurvey.CustomerSurveyVO.overallSatisfaction == 'N/A'}"
				class="col-xs-4 col-sm-4 col-md-3 col-lg-3  mysurveycolor">
					<div class="mysmileyarea">
						<span class="rmPad "><span class="smileyicon"> </span></span> 
						<span class="rmPad clearfix"> Overall Satisfaction</span>
						<span class="rmPad clearfix">{{eachSurvey.CustomerSurveyVO.overallSatisfaction}} </span>
					</div>
				</div>
				<div class="col-xs-7  col-sm-7 col-md-8 col-lg-8 ">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad">
						<div class="row">
							<div class="col-lg-12  col-sm-12  col-md-12 col-xs-12  ">
								<div class="descriptionsurvey " dtipp stop-event rel="customerSurveyfirstlastname_{{$index}}">
									{{eachSurvey.CustomerSurveyVO.custFName != 'N/A' ? eachSurvey.CustomerSurveyVO.custFName : ''}}
									{{eachSurvey.CustomerSurveyVO.custLName != 'N/A' ? eachSurvey.CustomerSurveyVO.custLName:''}} 
									<span id="headingsperator" ng-if="eachSurvey.CustomerSurveyVO.custLName != 'N/A' || eachSurvey.CustomerSurveyVO.custFName != 'N/A'">|</span>
									{{eachSurvey.CustomerSurveyVO.responseDate}} 
									<span id="headingsperator">|</span>
									{{eachSurvey.CustomerSurveyVO.vehicleMileage}} Miles
								</div>
								<div id="customerSurveyfirstlastname_{{$index}}"
									class="shadowpopup" stop-event ng-show="dealPopUp">
									<span class=" closebutton  " ng-click="overlayShow(false);"  my-touchstart="hidePopupAndOverlay();">X</span>
										{{eachSurvey.CustomerSurveyVO.custFName != 'N/A' ? eachSurvey.CustomerSurveyVO.custFName : ''}}
										{{eachSurvey.CustomerSurveyVO.custLName != 'N/A' ? eachSurvey.CustomerSurveyVO.custLName:''}} 
										<span id="headingsperator" ng-if="eachSurvey.CustomerSurveyVO.custLName != 'N/A' || eachSurvey.CustomerSurveyVO.custFName != 'N/A'">|</span>
										{{eachSurvey.CustomerSurveyVO.responseDate}} 
										<span id="headingsperator">|</span>
										{{eachSurvey.CustomerSurveyVO.vehicleMileage}} Miles
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad">
						<div class="row">
							<label class="col-lg-3 col-md-4 col-sm-6 col-xs-6  mysurveymidcolumnlabel remvrigpad">
								<span>Dealer</span>
							</label>
							<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6  careServiceDes dealernameclass">
								<dealer-popup   stop-event dcode="{{eachSurvey.CustomerSurveyVO.servicingDealerCode}}" dname="{{eachSurvey.CustomerSurveyVO.servicingDealerName}}"></dealer-popup>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad">
						<div class="row">
							<label class="col-lg-3 col-md-4 col-sm-6 col-xs-6  mysurveymidcolumnlabel remvrigpad">
								<span ng-if="(vehOneLiner.division | lowercase) == 'lexus'">Service Consultant</span>
								<span ng-if="(vehOneLiner.division | lowercase) != 'lexus'">Service Advisor</span>
							</label>
							<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6  ">
								<div class="descriptionsurvey "  dtipp stop-event rel="serviceAdvisorName_{{$index}}" >				{{eachSurvey.CustomerSurveyVO.serviceAdvisorName}}
								</div>
								<div class="shadowpopup" stop-event ng-show="dealPopUp" id="serviceAdvisorName_{{$index}}" >
									<span class=" closebutton  " ng-click="overlayShow(false);"  my-touchstart="hidePopupAndOverlay();">X</span>{{eachSurvey.CustomerSurveyVO.serviceAdvisorName}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad">
						<div class="row">
							<label class="col-lg-3 col-md-4 col-sm-6 col-xs-6  mysurveymidcolumnlabel remvrigpad">
								<span>RO #</span>
							</label>
							<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6  ">
								<span>{{eachSurvey.CustomerSurveyVO.roNumber}}</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad ">
						<div class="row">
							<label class="col-lg-3 col-md-4 col-sm-6 col-xs-6  mysurveymidcolumnlabel">
								<span>Technician</span>
							</label>
							<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6 ">
								<div class="descriptionsurvey " dtipp stop-event rel="serviceTechnicianName_{{$index}}" >{{eachSurvey.CustomerSurveyVO.serviceTechnicianName}}
								</div>
								<div class="shadowpopup" stop-event ng-show="dealPopUp"  id="serviceTechnicianName_{{$index}}" >
								<span class=" closebutton  " ng-click="overlayShow(false);"  my-touchstart="hidePopupAndOverlay();">X</span>{{eachSurvey.CustomerSurveyVO.serviceTechnicianName}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad">
						<div class="row">
							<label class="col-lg-3 col-md-4 col-sm-6 col-xs-6  mysurveymidcolumnlabel remvrigpad">
								<span>Repair Date</span>
							</label>
							<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6  ">
								<span>{{eachSurvey.CustomerSurveyVO.roDate}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 mysurveycoloricon">
					<div class="mysmileyarea">
						<span class="  clearfix"> 
							<i class="pull-right glyphicon icon-plus-sign" ng-class="{'icon-minus-sign':eachSurvey.open}"></i>
						</span>
					</div>
				</div>
				</accordion-heading>
				<span ng-repeat="(eachKeyIneachSurveyResponse,eachSurveyResponse) in eachSurvey.surveyResponses">
					<div class="col-xs-12 col-md-12">{{eachSurveyResponse.quesNo}}.{{eachSurveyResponse.quesTxt}}
					</div>
					<div class="col-xs-12 col-md-12 itemBold">
						{{eachSurveyResponse.quesResponse == 'N/A' ? '': eachSurveyResponse.quesResponse}}
					</div>
					<div class="col-xs-12 col-md-12">&nbsp;</div>
				</span>
				</accordion-group>
			</accordion>
		</div>
</div>
<div class="row remLRpad">
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
</div>