<h4 class="modal-title">
	<span ng-if="dealerCodeTcuv == null || dealerCodeTcuv == null">{{notAvailable}}</span>
	<span ng-if="dealerCodeTcuv == null && dealerCodeTcuv == null">{{notAvailable}}</span>
	<span ng-if="dealerD.dealerName!=null">{{dealerD.dealerName}}</span>
	<span ng-if="dealerCodeTcuv != null"> ({{dealerCodeTcuv}})</span>
</h4>
<div class="row">
  <label class="col-lg-2 col-md-2 col-sm-2 dealerLable">Address</label>
  <div class="desc">
	 <span ng-if="dealerD.address!='*'">{{dealerD.address}}</span><span ng-if="dealerD.address2!='*'">,</span><span ng-if="dealerD.address2!='*'">&nbsp;</span><span ng-if="dealerD.address2!='*'">{{dealerD.address2}}</span><span ng-if="dealerD.city!='*'">,</span><span ng-if="dealerD.city!='*'">&nbsp;</span><span ng-if="dealerD.city!='*'">{{dealerD.city}}</span><span ng-if="dealerD.state!='*'">,</span><span ng-if="dealerD.state!='*'">&nbsp;</span><span ng-if="dealerD.state!='*'">{{dealerD.state}}</span><span ng-if="dealerD.zip!='*'">&nbsp;</span><span ng-if="dealerD.zip!='*'">{{dealerD.zip}}</span><span ng-if="dealerD.zipCodeAdon!='*'">-</span><span ng-if="dealerD.zipCodeAdon!='*'">{{dealerD.zipCodeAdon}}</span>
	<span ng-if="dealerD.address==null || dealerD.address=='*'">{{notAvailable}}</span>
  </div>
</div>
<div class="row">
  <label class="col-lg-2 col-md-2 col-sm-2 dealerLable">Phone</label>
  <div class="desc">
	<span ng-if="dealerD.phoneNumber!='*' || dealerD.phoneNumber!=null">
		<span>({{dealerD.phoneNumber.substring(0,3)}})</span><span>&nbsp;</span>{{dealerD.phoneNumber.substring(3,6)}}<span>-</span><span>{{dealerD.phoneNumber.substring(6,10)}}</span> 
	</span>
	<span ng-if="dealerD.phoneNumber==null || dealerD.phoneNumber=='*'">{{notAvailable}}</span>
  </div>
</div>
<div class="row">
  <label class="col-lg-2 col-md-2 col-sm-2 dealerLable">
  <span ng-if="dealerD.divisionName =='TOYOTA' || dealerD.divisionName =='SCION'">Region </span>
	<span ng-if="dealerD.divisionName =='LEXUS'">Area </span>
  </label>
  <div class="desc">
	<span ng-if="dealerD.regionName!='*' || dealerD.regionName!=null">
		<span ng-if="dealerD.regionName!='*' || dealerD.regionName!=null">{{dealerD.regionName}}</span>
		<span ng-if="dealerD.regionCode!='*' || dealerD.regionCode!=null">&nbsp;</span>
			<span ng-if="dealerD.regionCode!='*' || dealerD.regionCode!=null || dealerD.regionAbbrv!='*' || dealerD.regionAbbrv!=null">(</span><span ng-if="dealerD.regionCode!='*' || dealerD.regionCode!=null">{{dealerD.regionCode}}</span><span ng-if="dealerD.regionAbbrv!='*' || dealerD.regionAbbrv!=null">/</span><span ng-if="dealerD.regionAbbrv!='*' || dealerD.regionAbbrv!=null">{{dealerD.regionAbbrv}}</span><span ng-if="dealerD.regionCode!='*' || dealerD.regionCode!=null || dealerD.regionAbbrv!='*' || dealerD.regionAbbrv!=null">)</span>
	</span>
	<span ng-if="dealerD.regionName==null || dealerD.regionName=='*'">{{notAvailable}}</span>
  </div>
</div>
<div class="row">
  <label class="col-lg-2 col-md-2 col-sm-2 dealerLable">District</label>
  <div class="desc">
	<span>{{dealerD.districtCode}} </span>
	<span ng-if="dealerD.dst==null || dealerD.dst=='*'">{{notAvailable}}</span>
  </div>
</div>				   

