<div class="diagnosticReports" ng-if="diagFlatTireError" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
<div class="diagnosticReports" ng-if="!diagFlatTireError && diagnosticObj.errorMsg=='N/A'">
	<table ng-table="tableParams" class="table ng-table lpsSection">
		<thead>
			<tr>
				<th class="header">CONNECTION TIME</th><th class="header">DEALER</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="list in diagnosticObj.DiagnosticReport">
				<td open-document data-url="{{'/serviceLane/bea/wlp/api/portlet/publish?_nfpb=true&logId='+list.logId+'&context='+list.context+urlParams+'&portlet='+list.portlet}}" stop-event style="width:50%;">{{list.connectionTime}}</td>
				<td style="width:50%; padding: 0 !important;">	
					<div style="position:relative; padding: 8px;" ng-if="(list.dealerCode | lowercase) != 'unknown'">  
						<dealer-popup   stop-event dcode="{{list.dealerCode}}" dname="{{list.dealerName}}"></dealer-popup>	
					</div>
					<div style="position:relative; padding: 8px;color: #333" ng-if="(list.dealerCode | lowercase) == 'unknown'">  {{list.dealerName}} 
						<span ng-if="list.dealerCode"> ({{list.dealerCode}})</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-default" ng-if="!diagFlatTireError && diagnosticObj.errorMsg!='N/A'">
	<div class="custPaneHead">&nbsp;</div>
	<div class="info-table-body panel-body">
		{{diagnosticObj.errorMsg}}
	</div>
</div>
<div class="row remLRpad">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
</div>