<div class="click-to-edit">
    <span class="button tiny edit-drop bgProp" ng-click="enableEditor()"></span>
    <div ng-if="view.editorEnabled">
		<div class='ng-modal-overlay' ng-click='disableEditor()' my-touchstart='disableEditor()'></div>
		<div class='ng-modal-dialog'>
			<div class="ng-modal-dialog-content">
				<div class="row">
					<label class="fsLabel col-sm-5 right">{{view.label}}</label>
					<input type="text" class="fsLabel col-sm-6" ng-model="view.editableValue">
					<div class="fsLabel keysuggestion col-sm-offset-5 col-sm-7 mymaintab" ng-if="view.hasError">{{view.error}}</div>					
				</div>				
				<div class="text-center">
					<button class="btn btn-primary" href="#" ng-click="save()">Select</button>
					<button class="btn btn-primary" ng-click="disableEditor()">Cancel</button>
				</div>
			</div>
		</div>
    </div>
</div>