<h2 class="pull-left ng-scope feedbacktitle">
	General Feedback 
	<span class="pull-right close closeFeedback" ng-click="overlayShow(false)" my-touchstart="hidePopupAndOverlay();">X</span>
</h2>

<div class="feedbackContainer">
	<form  role="form" method="POST" ng-submit="feedbackSubmit();" name="myFeedbackForm">
		<div class="form-group siteareacontainer">
			<label for="sitearea">Site Area</label>
			<select class="form-control" id="sitearea">
				<option ng-if="selectedLeftTopMenu == 'vov' && userDivisionData.userType != 1" value="Service Lane Mobile: Vehicle One-View" selected >Service Lane Mobile: Vehicle One-View</option>
				<option ng-if="selectedLeftTopMenu != 'vov' && userDivisionData.userType != 1" value="Service Lane Mobile: Vehicle One-View" >Service Lane Mobile: Vehicle One-View</option>
				<option ng-if="selectedLeftTopMenu == 'tcmc' && TCMC_Label=='TCMC' && userDivisionData.userType != 1" selected value="Service Lane Mobile: TCMC" >	Service Lane Mobile: TCMC</option>
				<option ng-if="selectedLeftTopMenu != 'tcmc' && TCMC_Label=='TCMC' && userDivisionData.userType != 1" value="Service Lane Mobile: TCMC" >Service Lane Mobile: TCMC</option>
				<option ng-if="selectedLeftTopMenu == 'lcmc' && TCMC_Label=='LCMC' && userDivisionData.userType != 1" selected value="Service Lane Mobile: LCMC" >	Service Lane Mobile: LCMC</option>
				<option ng-if="selectedLeftTopMenu != 'lcmc' && TCMC_Label=='LCMC' && userDivisionData.userType != 1" value="Service Lane Mobile: LCMC" >	Service Lane Mobile: LCMC</option>
				<option ng-if="selectedLeftTopMenu == 'tbc' && TCMC_Label=='TIRE_KINGDOM' && userDivisionData.userType != 1" selected 
					value="Service Lane Mobile: TBC Dealer Group" >Service Lane Mobile: TBC Dealer Group</option>
				<option ng-if="selectedLeftTopMenu != 'tbc' && TCMC_Label=='TIRE_KINGDOM' && uuserDivisionData.userType != 1" 
					value="Service Lane Mobile: TBC Dealer Group" >Service Lane Mobile: TBC Dealer Group</option>
				<option ng-if="selectedLeftTopMenu == 'ace' && userDivisionData.userType != 1" selected value="Service Lane Mobile: ACE" >
					Service Lane Mobile: ACE</option>
				<option ng-if="selectedLeftTopMenu != 'ace' && userDivisionData.userType != 1" value="Service Lane Mobile: ACE" >
					Service Lane Mobile: ACE</option>
				<option ng-if="selectedLeftTopMenu == 'issueList' && userDivisionData.userType != 0 " selected value="Audit Assistant: Issue List" >Audit Assistant: Issue List</option>
				<option ng-if="selectedLeftTopMenu != 'issueList' && userDivisionData.userType != 0 "  value="Audit Assistant: Issue List" >Audit Assistant: Issue List</option>
				<option ng-if="selectedLeftTopMenu == 'issueEntry' && userDivisionData.userType != 0 " selected value="Audit Assistant: New Issue Entry" >Audit Assistant: New Issue Entry</option>
				<option ng-if="selectedLeftTopMenu != 'issueEntry' && userDivisionData.userType != 0 "  value="Audit Assistant: New Issue Entry" >Audit Assistant: New Issue Entry</option>
				<option ng-if="selectedLeftTopMenu == 'editEntry' && userDivisionData.userType != 0 " selected value="Audit Assistant: Edit Issue Entry" >Audit Assistant: Edit Issue Entry</option>
				<option ng-if="selectedLeftTopMenu != 'editEntry' && userDivisionData.userType != 0 "  value="Audit Assistant: Edit Issue Entry" >Audit Assistant: Edit Issue Entry</option>				
				<option ng-if="selectedLeftTopMenu == 'auditSetup' && userDivisionData.userType != 0 " selected value="Audit Assistant: New Audit Setup" >Audit Assistant: New Audit Setup</option>
				<option ng-if="selectedLeftTopMenu != 'auditSetup' && userDivisionData.userType != 0 "  value="Audit Assistant: New Audit Setup" >Audit Assistant: New Audit Setup</option>
			</select>
		</div>
		<div class="form-group">
			<label for="errorsuggestdesc">Description Of Error Or Suggestion:</label>
			<div class="circle" donlytip rel="descriptionerrsugg_{{$index}}">i</div>
			<div id="descriptionerrsugg_{{ $index }}" class="shadowpopup blackbackground">Please enter as much detail as possible about your issue or experience including any error messages. Include all steps necessary to re-create the problem.</div>
			<textarea class="form-control" rows="2" id="errorsuggestdesc"  my-touchstart="scrollTopThePageFeedback(1);"></textarea>
			<span class="errtxt" ng-if="showSuggestion">Please provide required information for "Description of Error or Suggestion"</span>
		</div>
        <div class="form-group">
			<label for="additonalcomments">Additional Comments (Optional)</label><div class="circle" donlytip rel="additionalcomments_{{$index}}">i</div>
			<div id="additionalcomments_{{ $index }}" class="shadowpopup blackbackground">Please provide any additional comments, recommendations, or any other feedback that could be of value to the development team.</div>
			<textarea class="form-control" rows="3" id="additonalcomments"  my-touchstart="scrollTopThePageFeedback(2);"></textarea>
		</div>
		
		<h2 class="innerlinewithmargin">Contact Information</h2>
		<div class="form-group contactformhorizontal">
			<label for="contactname" class="lightweight">Name</label>
			<span  id="contactname" >{{personDetailsForFeedback.firstName}} {{personDetailsForFeedback.lastName}}</span>
		</div>
		<div class="form-group contactformhorizontal">
			<label for="contactUsername" class="lightweight">Username</label>
			<span  id="contactUsername">{{personDetailsForFeedback.commonName}}	</span>
		</div>
		<div class="form-group contactformhorizontal">
			<label for="contactemail" class="lightweight">Email Address</label>
			<input type="text" class="form-control" name="contactemailfeedback" id="contactemailfeedback" 
				value="{{personDetailsForFeedback.emailAddress}}"  my-touchstart="scrollTopThePageFeedback(3);">
			<div  class="errtxt" ng-if="showEmailError">Please provide a valid email id.</div> 
		</div>
		<div class="form-group contactformhorizontal">
			<label for="contacttel" class="lightweight">Phone Number</label>
			<input type="tel" class="form-control" id="contacttel"  value="{{personDetailsForFeedback.phoneNumber}}"  my-touchstart="scrollTopThePageFeedback(4);" >
        </div>
		<h2 class="innerlinewithmargin">Note</h2>
		<p>Changing the email address/phone number in this screen will not update your profile information. Contact information can only be updated using Staffmaster.</p>
		<button type="reset" class="btn btn-primary" ng-click="clearErrorMessage()">Clear</button>
		<button type="submit" class="btn btn-primary" id="mysubmit">Submit</button>
    </form>     
</div>
