
<!--div class="col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 navbar  navbar-fixed-bottom footerbg"-->
<div class="col-xs-12 col col-sm-12 col col-md-12 navbar  navbar-fixed-bottom footerbg" ng-class="{incHeight: tcmcDisclaimer}">
<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 bord">
		<div class="centertext" ng-if="userDivisionData.defMenuSLP">
			View in <a ng-if="inputValue != '' &&  inputValue != null" open-document data-url="/serviceLane?edvinNumber={{inputValue}}
			">Desktop</a><a ng-if="inputValue == '' ||  inputValue == null" open-document data-url="/serviceLane/">Desktop</a> |<a open-document data-url="/serviceLane/staticcontent/en/html/legal/legal.html">Privacy Policy</a>  |<a open-document data-url="/serviceLane/staticcontent/en/html/legal/tou.html">Terms of Use</a>  |<a ng-click="showFeedback()">Feedback</a>  
		</div>
		<div class="centertext" ng-if="!userDivisionData.defMenuSLP">
			<a open-document data-url="/serviceLane/staticcontent/en/html/legal/legal.html">Privacy Policy</a>  |<a open-document data-url="/serviceLane/staticcontent/en/html/legal/tou.html">Terms of Use</a>  |<a ng-click="showFeedback()">Feedback</a>  
		</div>
		<div class="footer-disclaimer">
			<p>&copy; {{footerDate | date:'yyyy'}} Toyota Motor Sales, Inc.</p>
			
			<div ng-show="!tcmcDisclaimer" ng-if="userDivisionData.defMenuSLP">
				<p ng-show="personDetailsForFeedback.dealerCode !='N/A'">{{personDetailsForFeedback.commonName}}@{{personDetailsForFeedback.dealerCode}} Note: All information presented herein is based on data available at the time of posting, is subject to change without notice and pertains specifically to mainland U.S.A. vehicles only.</p>
			
				<p ng-show="personDetailsForFeedback.dealerCode =='N/A'">{{personDetailsForFeedback.commonName}}@TMS Note: All information presented herein is based on data available at the time of posting, is subject to change without notice and pertains specifically to mainland U.S.A. vehicles only.</p>	
				
			</div>
			
			
			
			<div ng-show="tcmcDisclaimer" ng-if="userDivisionData.defMenuSLP">
				<p ng-show="personDetailsForFeedback.dealerCode !='N/A'">{{personDetailsForFeedback.commonName}}@{{personDetailsForFeedback.dealerCode}} Note: Please confirm size, speed and load rating of the tire meets or exceeds original equipment specifications. Please refer to Owner's Manual. All information presented herein is based on data available at the time of posting, is subject to change without notice and pertains specifically to mainland U.S.A. vehicles only.</p>
				
				<p ng-show="personDetailsForFeedback.dealerCode =='N/A'">{{personDetailsForFeedback.commonName}}@TMS Note: Please confirm size, speed and load rating of the tire meets or exceeds original equipment specifications. Please refer to Owner's Manual. All information presented herein is based on data available at the time of posting, is subject to change without notice and pertains specifically to mainland U.S.A. vehicles only.</p>
				
			</div>
			
			
			<!--p ng-show="!tcmcDisclaimer"><span class="dealerdtls"><span ng-if="personDetailsForFeedback.dealerCode !='N/A'">{{personDetailsForFeedback.commonName}}@{{personDetailsForFeedback.dealerCode}}</span><span ng-if="personDetailsForFeedback.dealerCode =='N/A'">{{personDetailsForFeedback.commonName}}@TMS</span></span><span>Note: All information presented herein is based on data available at the time of posting, is subject to change without notice and pertains specifically to mainland U.S.A. vehicles only.</span></p>
			<p ng-show="tcmcDisclaimer"><span class="pull-left1" ng-if="personDetailsForFeedback.dealerCode !='N/A'">{{personDetailsForFeedback.commonName}}@{{personDetailsForFeedback.dealerCode}}</span><span class="pull-left1" ng-if="personDetailsForFeedback.dealerCode =='N/A'">{{personDetailsForFeedback.commonName}}@TMS</span><span> Note: Please confirm size, speed and load rating of the tire meets or exceeds original equipment specifications. Please refer to Owner's Manual. All information presented herein is based on data available at the time of posting, is subject to change without notice and pertains specifically to mainland U.S.A. vehicles only.</span></p-->
		</div>
	</div>
</div>
