<div class="pagesection col-xs-12 col-md-12">
	<h4 class="sub-header">
      FS Products<!--span class="circletelematics" donlytip rel="fsProductoolTip"></span-->
	</h4>
   
	<div class="panel panel-default clearfix adjMargin" ng-if="productErr">
		<div class="custPaneHead">&nbsp;</div>
		<div class="panel-body">
			<div class="info-table-body">{{productObj.data.errorMsg}}</div>
		</div>
	</div>
   
	<div ng-if="!productErr">
		<div class="pull-right rExpandCollapseAll" ng-if="productObj.data.FsProduct.expandCollapse">
			<span class="pull-right glyphicon acc_minus collapsed"  ng-click="productObj.toggleFsAccordion(false)" style="background-position: 5px 5px">&nbsp;</span>
			<span class="pull-right glyphicon acc_minus"  ng-click="productObj.toggleFsAccordion(true)" style="background-position: 5px 5px">&nbsp;</span>
		</div>
	  
		<div class="panel-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="fsAccordion{{$index}}" >
			<div class="panel panel-default rmLRPad accOverflow" 
				ng-repeat="(key,val) in productObj.data.FsProduct.TfsProductsList" 
				ng-class="{'greenBorder': (val.productStatusCode | lowercase) == 'active','redBorder': (val.productStatusCode | lowercase) == 'inactive'}">
            <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12" id="fsproductList" style="margin: 0">
				<div class="col-xs-12 col-md-12" ng-class="{'firstTabActive': (val.productStatusCode | lowercase) == 'active','firstTabInctive': (val.productStatusCode | lowercase) == 'inactive'}">
					<div class="col-xs-3 col-md-2 col-lg-2 serviceProvider" >
						<span>Service Provider:<b>{{val.provider}}</b></span>
						<span ng-class="{'active': (val.productStatusCode | lowercase) == 'active','inactive': (val.productStatusCode | lowercase) == 'inactive'}">{{val.productStatusCode}}</span>
					</div>
					
					<div class="col-xs-9 col-md-10 col-lg-10 tab-color">
						<div>
							<i class="pull-right glyphicon acc_minus fsProduct-glyphicon" data-toggle="collapse" 
								data-parent="#fsAccordion{{$index}}" href="#fsCollapse{{$index}}" ng-if="val.serviceDes.length" ng-class="{'collapsed':val.collapse}"> 
							</i>
						</div>
						<div class="col-xs-11 col-md-6 removeD">
							<p style="padding-top: 5px">
								<span class="pull-left fsEllipse fsprodtype"  rel="{{val.productType}}" dtip >{{val.productType}} </span>
								<span class="fsEllipse" rel="{{val.productDesc}}" dtip >
									<b>&#124;</b> {{val.productDesc}} </span>
								<span ng-if="val.expirationMileage == '0'">
									<b class="addpadleft">&#124;</b>  N/A Miles</span>
								<span ng-if="val.expirationMileage != '0' && val.expirationMileage != 'Unlimited'">
									<b>&#124;</b>  {{val.expirationMileage | number:0}} Miles</span>
								<span ng-if="val.expirationMileage == 'Unlimited'">
									<b>&#124;</b>  {{val.expirationMileage}} Miles</span>
							</p>
							<div>
								<p class="row">
									<label class="fsLabel col-xs-5 col-md-5 col-lg-5 removeD">Plan </label>
									<span class="col-xs-7 col-md-7 col-lg-7 removeD careServiceDes" rel="{{val.planCode}}" dtip >{{val.planCode}}</span>						
								</p>
								<p class="row">
									<label class="fsLabel col-xs-5 col-md-5 col-lg-5 removeD ">Effective Date</label>
									<span class="col-xs-7 col-md-7 col-lg-7 removeD">{{val.effectiveDate}}</span>
								</p>
								<p class="row">
									<label class="fsLabel col-xs-5 col-md-5 col-lg-5 removeD ">Expiration Date</label>
									<span class="col-xs-7 col-md-7 col-lg-7 removeD">{{val.expiryDate}}</span>
								</p>
							</div>
						</div>
						
						<div class="col-xs-11 col-md-6 fsproduct-col2">
							<p class="row">{{val.productStatus}}</p>
							<div>
								<p class="row">
									<label class="fsLabel col-xs-5 col-md-5 col-lg-5 removeD ">ID</label>
									<span class="col-xs-7 col-md-7 col-lg-7 removeD">{{val.productId}}
								</p>
								<p class="row">
									<label class="fsLabel col-xs-5 col-md-5 col-lg-5 removeD ">Selling Dealer</label>
									<dealer-popup   stop-event dcode="{{val.sellingDealerCode}}" dname="{{val.sellingDealerName}}"></dealer-popup>
								</p>
								<p ng-if="val.showPurchaser" class="row">
									<label class="fsLabel col-xs-5 col-md-5 col-lg-5 removeD ">Purchaser</label>
									<span ng-if="val.purchaserId == 'N/A' && val.showPurchaser">{{val.purchaser}}</span>
									<span rel="fsPurchaser_{{$index}}" pop-swindow data-scode="{{val.purchaserId}}" class="removeD text-primary" ng-if="val.purchaser != 'N/A'">{{val.purchaser}}</span>
									<div class="shadowpopup subscriber"  id="fsPurchaser_{{$index}}" ng-if="val.purchaserId" ng-show="dealPopUp">
										<h4 class="browncolor">
											<span ng-hide="subscriperErr || subscriberObj.errorMsg !='N/A'">{{subscriberObj.custDetailsVOJson.displayName}} </span>
											<span class="pull-right close" ng-click="overlayShow()">X</span>
										</h4>
												
										<div ng-if="subscriberObj.errorMsg =='N/A'" ng-hide="subscriperErr">
											<p ng-if="subscriberObj.custDetailsVOJson.addressLine1" class="cusLabel">{{subscriberObj.custDetailsVOJson.addressLine1}}</p>
											<p ng-if="subscriberObj.custDetailsVOJson.addressLine2" class="cusLabel">{{subscriberObj.custDetailsVOJson.addressLine2}}</p>
											<p ng-if="subscriberObj.custDetailsVOJson.addressLine3" class="cusLabel">{{subscriberObj.custDetailsVOJson.addressLine3}}</p>
											<p ng-if="subscriberObj.custDetailsVOJson.primaryPhoneNO" class="customerPhoneIcon">{{subscriberObj.custDetailsVOJson.primaryPhoneNO}}</p>
											<p ng-if="subscriberObj.custDetailsVOJson.alternatePhoneNO" class="customerPhoneIcon">{{subscriberObj.custDetailsVOJson.alternatePhoneNO}}</p>
											<p ng-if="subscriberObj.custDetailsVOJson.emailAddress" class="customerMailIcon">{{subscriberObj.custDetailsVOJson.emailAddress}}</p>
										</div>
										<div ng-if="subscriberObj.errorMsg !='N/A'" class="redTxt" ng-hide="subscriperErr">{{subscriberObj.errorMsg}}</div>
										<div ng-if="subscriperErr" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
									</div>
								</p>
							</div>
						</div>
					</div>
				</div>
            </div>
			
            <div id="fsCollapse{{$index}}" ng-if="val.serviceDes.length" class="panel-collapse collapse" ng-class="{'in': !val.collapse}">
				<div class="panel-body col-xs-12 col-sm-12 col-md-12 col-lg-12 overflowhide">
					<table ng-table="tableParams" class="table ng-table scrollableTab">
						<thead>
							<tr>
							   <th class="header">Service Description</th>
							   <th class="header border-right" ng-if="(val.provider| lowercase) == 'set'">Exp Date</th>
							   <th class="header border-right" ng-if="(val.provider| lowercase) == 'set'">Exp Mileage</th>
							   <th class="header border-right">Status</th>
							   <th class="header border-right">Op Code</th>
							   <th class="header border-right">Servicing Dealer</th>
							   <th class="header border-right">Date Serviced</th>
							   <th class="header border-right">Mileage</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="sds in val.serviceDes">
							   <td>{{sds.servicedesc}}</td>
							   <td class="border-right" ng-if="(val.provider| lowercase) == 'set'">{{sds.expiryDate}}</td>
							   <td class="border-right" ng-if="(val.provider| lowercase) == 'set'">{{sds.expirationMileage}}</td>
							   <td class="border-right">{{sds.status}}</td>
							   <td class="border-right">{{sds.opCode}}</td>
							   <td class="border-right" style="position: relative;white-space: nowrap;">
								  <dealer-popup   stop-event     dcode="{{sds.serviceDealerCode}}" dname="{{sds.serviceDealerName}}"></dealer-popup>
							   </td>
							   <td class="border-right">{{sds.dataServiced}}</td>
							   <td class="border-right">{{sds.mileage}}</td>
							</tr>
						</tbody>
					</table>
				</div>
            </div>
			</div>
		</div>
	</div>
	<div class=" col-sm-12 col-md-12 col-lg-12 fsScreennote clearboth" >
      {{productObj.data.screenNoteArray[0]}}
		<ul>
			<li ng-repeat="bulletpoint in productObj.data.screenNoteArray[1] track by $index" compile="bulletpoint"></li>
		</ul>
		<ul>
			<li style="margin-left:-24px !important; " ng-if="productObj.data.screenNoteArray[2]">{{productObj.data.screenNoteArray[2]}}</li>
			<li style="margin-left:-24px !important; " ng-if="productObj.data.screenNoteArray[3]"> {{productObj.data.screenNoteArray[3]}}&nbsp;(&nbsp;<span class="redTxt">{{productObj.data.screenNoteArray[4]}}</span>&nbsp;).</li>
		</ul>
      {{productObj.data.screenNoteArray[5]}}
	</div>
	<p>{{productObj.data.FsProduct.additionalInfo}}</p>
</div>
<div class="row remLRpad">
   <div></div>
   <div></div>
   <div></div>
</div>