<!-- header -->
<header role="banner">
	<div class="navbar">
		<div class="row asmbg">
			<div class="">&nbsp;</div> 
			<div class="pull-left">
				<span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 toyota logo-icon" ng-if="userDivision=='TOYOTA'" 
					ng-click="pageRefresh()"></span>
				<span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 lexus logo-icon" ng-if="userDivision=='LEXUS'" 
					ng-click="pageRefresh()"></span>
				<span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 scion logo-icon" ng-if="userDivision=='SCION'"
					ng-click="pageRefresh()"></span>
				<span class="col-xs-3 col-sm-2 col-md-2 col-lg-2 logo-title" ng-click="pageRefresh()" ng-if="userDivisionData.defMenuSLP">Service Lane</span>
				<span class="col-xs-3 col-sm-2 col-md-2 col-lg-2 logo-title auditAssist" ng-click="pageRefresh()" ng-if="!userDivisionData.defMenuSLP">Audit Assistant</span>
				<p class="userLgDet pull-left" ng-class="{'userName':!userDivisionData.defMenuSLP}">
					<i>&nbsp;</i>
					<span id="userIcon">&nbsp;</span>
					<span id="userLgnDetFn" ng-class="{'rmFirN': personDetailsForFeedback.lastName != ''}">{{personDetailsForFeedback.firstName}}</span>
					<span>&nbsp;{{personDetailsForFeedback.lastName}}</span>
				</p>
				<button onclick="fbopen()">Open Fb</button>
				<button onclick="hybridopen()">Open Hybrid</button>
				<button onclick="inappopen()">Open inapp</button>
		    </div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 auditfrm pull-right" ng-if="!userDivisionData.defMenuSLP">
				<form name="auditForm" class="pull-right" id="auditForm" ng-submit="showAuditAssistant(selectedLeftTopMenu,true)" novalidate>
					<span class="logo-title" >Select Audit:</span>
					<select class="dmyoptblur auditDrop"  ng-class="{'auditDropdown' : userDivisionData.auditNames.length > 10 }" ng-model="PODVar.getAudit"  ng-change="showaudit(PODVar.getAudit)" ng-options="name for name in userDivisionData.auditNames"  required >
						<option ng-if="PODVar.getAudit ==''" class="hide" value="" selected="selected"></option>
					</select>
					<button type="submit" class="btn btn-default" id="goBtn" ng-disabled="!PODVar.auditChange" style="margin-left:4px;">Go</button>
				</form>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 vinfrm pull-right" ng-if="userDivisionData.defMenuSLP">				
				<span ng-if="showError" class="bubble errorbox">Please enter a valid VIN</span>
				<form name="userForm" id="userForm" ng-submit="callDMYAndVIN(inputValue);" novalidate >
					<select class="dmyoptblur" ng-model="DMY.selDivi" ng-options="divi for divi in DMY.data.division" ng-change="DMY.selectDMYDivi(DMY.selDivi)" required></select>
					<select class="dmyoptblur" ng-model="DMY.selMN" ng-options="mn for mn in DMY.data.model" ng-change="DMY.showDMYType(DMY.selDivi,DMY.selMN,DMY.selMY)" ng-if="DMY.selDivi != 'VIN'"></select>
					<select class="dmyoptblur" id="DMYyr" ng-model="DMY.selMY" ng-options="my for my in DMY.data.year" ng-change="DMY.showDMYType(DMY.selDivi,DMY.selMN,DMY.selMY)" ng-if="DMY.selDivi != 'VIN'"></select>					
					<label>
						<input type="text" class="form-control" ng-init="inputValue=''" placeholder="Enter VIN Number" maxlength="18" size="18" ng-model="inputValue" required name="vinno" id="vinno" ng-keyup="validateVin($event,inputValue)" ng-paste = "validateVin($event,inputValue)" my-touchstart="scrollTopThePage(1);"  ng-show="DMY.selDivi == 'VIN'">
						<audio type="audio/mp3" src="/serviceLane/pages/asm/mobile/media/beep1.mp3" id="success_sound"></audio>
					</label>
					<button type="reset" class="resetbutton" my-touchstart="resetForm(inputValue,$event);" ng-click="resetForm(inputValue,$event)">
						<span class="reset-image"></span>
					</button>
					<span class="divider"></span>
					<button type="submit" class="btn btn-default" id="goBtn" ng-disabled="userForm.$invalid" style="margin-left:4px;">Go</button>
					<span class="divider"></span>
					<span class="lookup" id="vin_img" ng-class="{'active': vinIcon == true}" ng-click="showHistory('/serviceLane/mobile/getVinHistory',1)"></span>
					<span class="divider"></span>
					<span class="barcode" id="scan" ng-click="doScan()"></span>
				</form>
			</div>
		</div>

    <!-- vehicle one view page header -->
    <div class="oneviewcontainer">
		<div class="row">
			<div class="col-sm-12 col-md-3 col-lg-3 v-icons">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 threelinsAdj" ng-click="hideMenu();" >
						<a href="" data-toggle="dropdown" class="col-md-1 col-sm-1 threeLinsCls"></a>						
						<ul class="dropdown-menu" id="serviceLineMenu" aria-multiselectable="true">							
							<li class="" role="tab" id="headingOne" ng-if="userDivisionData.userType == 0 || userDivisionData.userType == 2">
								<span role="button" data-parent="#serviceLineMenu" class="menuHeader" aria-expanded="true" aria-controls="collapseOne" ng-click="showAppMenu($event,PODVar.toggleMenu)">SERVICE LANE<i class="pull-right glyphicon pod_menu_plus " ng-class="{'pod_menu_minus': PODVar.toggleMenu}"></i></span>
								<div id="collapseOne"  class="panel-collapse collapse " ng-class="{'in': PODVar.toggleMenu }" role="tabpanel" aria-labelledby="headingOne">
									<ul  class=" nav" >																		
								<li id="vov" class="" ng-class="{'selected': selectedLeftTopMenu == 'vov'}" ng-click="showVOV(selectedLeftTopMenu)">
									<a><div class="navicon vehicle-icon-left">&nbsp;</div>Vehicle One View</a>
								</li>
								<li class="sepa">&nbsp;</li>
								<li id="sm" class="" ng-class="{'selected': selectedLeftTopMenu == 'sm'}" ng-click="showSm('sm')">
									<a>  <div class="navicon sm-icon-left">&nbsp;</div>Scheduled Maintenance</a>
								</li>
								<li class="sepa">&nbsp;</li>
								<li id="tcmc" class="" ng-class="{'selected': selectedLeftTopMenu == 'tcmc'}" ng-if="TCMC_Label=='TCMC'" 		ng-click="showTCMC(0);">
									<a><div class="navicon tcmc-icon-left">&nbsp;</div>{{TCMC_Label}}</a>
								</li>
								<li id="lcmc" class="" ng-class="{'selected': selectedLeftTopMenu == 'lcmc'}" ng-if="TCMC_Label=='LCMC'" ng-click="showTCMC(1);">
									<a> <div class="navicon tcmc-icon-left">&nbsp;</div>{{TCMC_Label}}</a>
								</li>
								<li id="tbc" class="" ng-class="{'selected': selectedLeftTopMenu == 'tbc'}" ng-if="TCMC_Label=='TIRE_KINGDOM' && tcmcEnabled " ng-click="showTBC();">
									<a><div class="navicon tcmc-icon-left">&nbsp;</div>TBC Dealer Group</a>
								</li>
								<li class="sepa" ng-if="tcmcEnabled">&nbsp;</li>
								<li id="ace" class="" ng-class="{'selected': selectedLeftTopMenu == 'ASG'}" ng-click="showASG('ASG');">
									<a><div class="navicon asg-icon-left">&nbsp;</div>ASG</a>
								</li>
								<li class="sepa">&nbsp;</li>
								<li id="ace" class="" ng-class="{'selected': selectedLeftTopMenu == 'ace'}" ng-click="showACE();">
									<a> <div class="navicon ace-icon-left">&nbsp;</div>ACE</a>
								</li>
								<li class="sepa">&nbsp;</li>			  
								<li id="libSearch" class="" ng-class="{'selected': selectedLeftTopMenu == 'librarysearch'}" ng-click="showLibrarySearch('librarysearch')">
									<a><div class="navicon lib-search-left">&nbsp;</div>Library Search</a>
								</li>
								<li class="sepa">&nbsp;</li>
								<li id="kc" class="" ng-class="{'selected': selectedLeftTopMenu == 'kc'}" ng-click="showKc('kc')">
									<a> <div class="navicon knowCenter-left">&nbsp;</div>Knowledge Center</a>
								</li>			  
								<li class="sepa">&nbsp;</li>
								<li class="" ng-class="{'selected': selectedLeftTopMenu == 'performance'}" ng-click="showPerformance('performance');">
									<a> <div class="navicon performance-icon-left">&nbsp;</div>Performance</a>
								</li>
								
									</ul>
								</div>
							</li>
							<li class="sepa" ng-if="userDivisionData.userType == 2">&nbsp;</li>
							<li class="" role="tab" id="headingTwo" aria-multiselectable="true" ng-if="userDivisionData.userType == 1 || userDivisionData.userType == 2">
								<span role="button" data-parent="#serviceLineMenu" class="menuHeader"  aria-expanded="false" aria-controls="collapseTwo" ng-click="showAppMenu($event,PODVar.toggleMenu)">AUDIT ASSISTANT<i class="pull-right glyphicon pod_menu_plus" ng-class="{'pod_menu_minus': !PODVar.toggleMenu}"></i></span>
								<div id="collapseTwo" class="panel-collapse collapse " ng-class="{'in': !PODVar.toggleMenu }"  role="tabpanel" aria-labelledby="headingTwo">
									<ul  class="nav ">
										<li ng-class="{'selected': (selectedLeftTopMenu == 'issueList' || selectedLeftTopMenu == 'issueEntry' || selectedLeftTopMenu == 'editEntry')}" ng-click="showAuditActivity()">
											<a ><div class="podleft auditActivity bgProp">&nbsp;</div>Audit Activity</a>
										</li>										
										<li class="sepa">&nbsp;</li>
										<li id="auditSetup" ng-class="{'selected': selectedLeftTopMenu == 'auditSetup'}" ng-click="showAuditAssistant('auditSetup')" >
											<a ><div class="podleft auditset bgProp">&nbsp;</div>New Audit Setup</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sepa">&nbsp;</li>
							<li id="logout" class="" ng-class="{'selected': selectedLeftTopMenu == 'logout'}">
								<a class=" " href="/serviceLane/resources/jsp/tessSignoff.jsp?mobileSignOff=true">
									<div class="navicon logout-icon-left">&nbsp;</div>Logout&nbsp;<i>{{personDetailsForFeedback.firstName}}&nbsp;{{personDetailsForFeedback.lastName}}</i>
								</a>
							</li>
						</ul>						
				</div>
				<div id="vehicleHeader" class="col-sm-2 col-md-2 col-lg-2 vehicleHeader">
					<div class="vov-title" ng-if="userDivisionData.defMenuSLP">{{pageName}}</div>
					<div class="vov-title" ng-if="!userDivisionData.defMenuSLP">{{PODVar.auditName}}</div>
					<div ng-if="showMsg && userDivisionData.defMenuSLP"><span class="oneliner">{{vehOneLiner.vehOneLiner}}</span>
					</div>
					<div ng-if="!userDivisionData.defMenuSLP && PODVar.auditName"><span class="oneliner">{{userDivisionData.vehOneLiner.auditOneLiner}}</span>
					</div>
				<!--div ng-if="(DMY.selDMYType != '' && !showMsg)"><span class="oneliner">{{DMY.selMN+", "+DMY.selMY}}</span></div-->
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 v-icons" ng-if="showVheader && userDivisionData.defMenuSLP">
				<div class="col-xs-12 col-sm-12" ng-class="{'bordHR' : showVheader==true}"></div>
				<div class="">
					<ul id="vehicleIcons" class="vehicleIcons1">
						<li ng-if="leftMenu.VehicleAlert">
							<a href="">
								<div ng-click="showAlert($event)" class="alert-icon">&nbsp;<sup>{{leftMenu.VehicleAlertCount}}</sup></div>
							</a>
						</li>
						<li ng-if="leftMenu.edAlertsInfo">
							<a href="">
								<div ng-click="showServiceConnectAlert($event)" class="one-liner-sc-alert-icon">&nbsp;<sup>{{leftMenu.edAlertsCount}}</sup></div>
							</a>
						</li>
						<li ng-click="redirectPage('/campaign', 'campaign')" ng-if="leftMenu.sscIcon">
							<a href="">
								<div class="ssc-icon" ng-class="{active: campaign == true}">&nbsp;</div>
							</a>
							<!--span class="divider"></span-->
						</li>
						<li ng-click="redirectPage('/care', 'care')" ng-if="leftMenu.toyotaCareIcon && vehOneLiner.division">
							<a href="">
								<div class="key-icon" ng-if="vehOneLiner.division=='TOYOTA'">&nbsp;</div>
								<div class="scion-icon" ng-if="vehOneLiner.division=='SCION'">&nbsp;</div>
							</a>
							<!--span class="divider"></span-->
						</li>
						<li ng-if="false">
							<a href="">
								<div class="modal-icon">&nbsp;</div>
							</a>
							<!--span class="divider"></span-->
						</li>
						<li ng-click="redirectPage('/roadside', 'roadside')" ng-if="leftMenu.roadSideIcon">
							<a href="">
								<div class="roadside-icon">&nbsp;</div>
							</a>
							<!--span class="divider"></span-->
						</li>
						<li ng-if="leftMenu.TCUVIndicator" ng-click="redirectPage('/warranty', 'warranty')">
							<a href="">
								<div class="warrantyHy-icon" ng-if="vehOneLiner.division =='TOYOTA' && leftMenu.IsHybridVehicle==true">&nbsp;</div>
								<div class="warrantyNonHy-icon" ng-if="vehOneLiner.division =='TOYOTA' &&  leftMenu.IsHybridVehicle == false">&nbsp;</div>
								<div class="warrrantyScion-icon" ng-if="vehOneLiner.division =='SCION'">&nbsp;</div>
								<div class="warrrantyLexus-icon" ng-if="vehOneLiner.division =='LEXUS'">&nbsp;</div>
							</a>
						</li>
						<li ng-click="redirectPage('/warranty', 'warranty')" ng-if="leftMenu.salvageInfo">
							<a href="">
								<div class="salvage-icon">&nbsp;</div>
							</a>
						</li>						
						<li ng-if="leftMenu.showPrintIcon" ng-click="showPrint()">
							<a href="" id="printIcon">
								<div class="print-icon">&nbsp;</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </div>
    <!-- vehicle one view page header -->
 </div>
</header>
<!-- header -->
