<h2>Household Information
	<span class="circletelematics" donlytip rel="householdTitleTooltip"></span>
	<span class="pull-right close closeFeedback" ng-click="overlayShow(false)">X</span>
</h2>
<div id="householdTitleTooltip" class="shadowpopup blackbackground">
	Guest's household vehicle list is based on information currently available to Toyota Motor Sales Inc. If the looked up vehicle was recently sold to a new owner, the household vehicles displayed could be from the previous owner.This information is intended to be used as a guide to enhance the guest's experience.
</div>
<div class="col-xs-12 householdtabsContainer" >
   <div ng-if="houseHoldFlatTire" class="houseHoldFlatTire" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
		<a class="pull-right addPaddingErroricon" ng-click="showHouseHoldInfo('MORE',1,1)" ng-if="houseHoldDatas.totalCurrentVeh == 10 && currentHouseTab" stop-event>
			<span>view more</span>
			<span class="householdviewmore"></span>
		</a>
		
		<a class="pull-right addPaddingErroricon" ng-click="showHouseHoldInfo('INITIAL',1,1)" ng-if="houseHoldDatas.totalCurrentVeh > 10 && currentHouseTab" stop-event>
			<span class="morelesswidth">view less</span>
			<span class="householdviewless"></span>
		</a>
		
		<a class="pull-right addPaddingErroricon" ng-click="showHouseHoldInfo('MORE',2,1)" ng-if="houseHoldDatas.TotalDisposedVeh == 10 && !currentHouseTab" stop-event>
			<span>view more</span>
			<span class="householdviewmore"></span>
		</a>
		
		<a class="pull-right addPaddingErroricon" ng-click="showHouseHoldInfo('INITIAL',2,1)" ng-if="houseHoldDatas.TotalDisposedVeh > 10 && !currentHouseTab" stop-event>
			<span class="morelesswidth">view less</span>
			<span class="householdviewless"></span>
		</a>
		
		<tabset class="householdtabs"  ng-if="!houseHoldFlatTire" ng-class="{'householdbottompadd':houseHoldDatas == ''}">
			<tab id="currenthousetabs">
				<tab-heading ng-click="showHouseHoldInfo('INITIAL',1,0)">Current 
					<span class="householdcoundcolor" ng-show="houseHoldDatas != ''">({{houseHoldDatas.totalCurrentVeh}}<span ng-show="houseHoldDatas.totalCurrentVeh == 10" id="currentplus">+</span>)
					</span>
				</tab-heading>
				
				<span class="errtxt  addPaddingError  ng-scope"  ng-if="houseHoldDatas.totalCurrentVeh == 0 && houseHoldDatas.errorMsg == 'N/A'">Household information for current vehicles is not available in the system or household vehicles exceed the maximum display limit.</span>
								
				<span class="errtxt  addPaddingError  ng-scope" ng-if="(houseHoldDatas.data.currentVehicleCount  +  houseHoldDatas.data.disposedVehicleCount >= 100) && personDetailsForFeedback.dealerCode == 'N/A'  && houseHoldDatas.totalCurrentVeh != 0 && houseHoldDatas.errorMsg == 'N/A'">Household vehicles exceed the maximum display limit. The most recent 100 vehicles are displayed below.</span>
				
				<span class="errtxt  addPaddingError  ng-scope" ng-if="(houseHoldDatas.data.currentVehicleCount  +  houseHoldDatas.data.disposedVehicleCount >= 100) && personDetailsForFeedback.dealerCode != 'N/A'  && houseHoldDatas.errorMsg == 'N/A' && houseHoldDatas.totalCurrentVeh != 0 ">Household vehicles exceed the maximum display limit. The most recent {{houseHoldDatas.totalCurrentVeh + houseHoldDatas.TotalDisposedVeh}} vehicles are displayed below.</span>
				
				<span class="errtxt  addPaddingError  ng-scope" ng-if="houseHoldDatas.errorMsg != 'N/A'">{{houseHoldDatas.errorMsg}}</span>
				
         <div class="currentContainer" ng-if="houseHoldDatas.totalCurrentVeh > 0" ng-class="{hide:serviceConnectAlertFlatTire == true,'reduce-ed-box-height' : (houseHoldDatas.data.totalCurrentVeh == 3),'reduce-ed-box-height-two' : (houseHoldDatas.data.totalCurrentVeh < 3)}">
            <ul class="col-xs-12 " >
				<li class="col-xs-12  "  ng-click="lookupVin(keyhouse.householdVin,$index,keyhouse.sscIndicator)" ng-repeat="keyhouse in houseHoldDatas.data.currentHouseholdVehicleInfoArray" >
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6   " >
                     <div class="row removebottommargin">
                        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12    ">
                        <span>{{keyhouse.householdModelYear}} {{keyhouse.householdDivision}} {{keyhouse.householdModelName}}</span><span class="campaign active "  ng-if="keyhouse.sscIndicator"></span>
                        </label>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6   ">
                     <div class="row removebottommargin">
                        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                        <span>VIN:  {{keyhouse.householdVin}}</span>
                        </label>
                     </div>
                  </div>
                  <div ng-repeat="(associateKey,associate) in keyhouse.householdCustomerInfo">
                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6   " ng-if="(houseHoldDatas.ccAccess && personDetailsForFeedback.dealerCode == 'N/A') || houseHoldDatas.lexusDealer">
                        <div class="row removebottommargin">
                           <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5   ">
                              <span ng-class="{'fsproductStatus':associateKey > 0}">Association</span>
                           </div>
                           <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7  remLRpad"> <span>{{associate.formattedName}} - {{associate.customerProdRole}}</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  addpaddingbottomportrait ">
                        <div class="row removebottommargin">
                           <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5  ">
                              <span ng-class="{'fsproductStatus':associateKey > 0}">Start Date</span>
                           </div>
                           <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7  remLRpad ">  <span>{{associate.startDate}}</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </tab>
      <tab id="disposedhousetabs" >
         <tab-heading ng-click="showHouseHoldInfo('INITIAL',2,1)">Disposed   
			<span class="householdcoundcolor" ng-show="houseHoldDatas != ''">({{houseHoldDatas.TotalDisposedVeh}}<span ng-show="houseHoldDatas.TotalDisposedVeh == 10" id="disposedplus">+</span>)</span>
		</tab-heading>
		
         <span class="errtxt  addPaddingError  ng-scope" ng-if="houseHoldDatas.TotalDisposedVeh == 0 && houseHoldDatas.errorMsg == 'N/A' ">Household information for disposed vehicles is not available in the system or household vehicles exceed the maximum display limit.</span>
		 
         <span class="errtxt  addPaddingError  ng-scope" ng-if="(houseHoldDatas.data.currentVehicleCount  +  houseHoldDatas.data.disposedVehicleCount >= 100) && personDetailsForFeedback.dealerCode == 'N/A' && houseHoldDatas.TotalDisposedVeh != 0">Household vehicles exceed the maximum display limit. The most recent 100 vehicles are displayed below.</span>
		 
		 <span class="errtxt  addPaddingError  ng-scope" ng-if="(houseHoldDatas.data.currentVehicleCount  +  houseHoldDatas.data.disposedVehicleCount >= 100) && personDetailsForFeedback.dealerCode != 'N/A'  && houseHoldDatas.TotalDisposedVeh != 0 && houseHoldDatas.errorMsg == 'N/A'">Household vehicles exceed the maximum display limit. The most recent {{houseHoldDatas.totalCurrentVeh + houseHoldDatas.TotalDisposedVeh}} vehicles are displayed below.</span>
		 
		<span class="errtxt  addPaddingError  ng-scope" ng-if="houseHoldDatas.errorMsg != 'N/A'">{{houseHoldDatas.errorMsg}}</span>
		 
         <div  class="disposedContainer" ng-if="houseHoldDatas.TotalDisposedVeh > 0"  id="docu_{{$index}}" ng-class="{hide:serviceConnectAlertFlatTire == true,'reduce-ed-box-height' : (houseHoldDatas.data.TotalDisposedVeh == 3),'reduce-ed-box-height-two' : (houseHoldDatas.data.TotalDisposedVeh < 3)}">
            <ul class="col-xs-12"  >
               <li class="col-xs-12  " ng-repeat="keyhouseDisposed in houseHoldDatas.data.disposedHouseholdVehicleInfoArray"    ng-click="lookupVin(keyhouseDisposed.householdVin)"  >
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6   " >
                     <div class="row removebottommargin">
                        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12     ">
                        <span>{{keyhouseDisposed.householdModelYear}} {{keyhouseDisposed.householdDivision}} {{keyhouseDisposed.householdModelName}}</span>
                        </label>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6   "  >
                     <div class="row removebottommargin">
                        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                        <span>VIN:  {{keyhouseDisposed.householdVin}}</span>
                        </label>
                     </div>
                  </div>
                  <div  ng-repeat="(associateKey,associateDisposed)  in keyhouseDisposed.householdCustomerInfo">
                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"  ng-if="(houseHoldDatas.ccAccess && personDetailsForFeedback.dealerCode == 'N/A') || houseHoldDatas.lexusDealer">
                        <div class="row removebottommargin">
                           <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5   ">
                              <span ng-class="{'fsproductStatus':associateKey > 0}">Association</span>
                           </div>
                           <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7  remLRpad"> <span>{{associateDisposed.formattedName}} - {{associateDisposed.customerProdRole}}</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-xs-12   col-md-3">
                        <div class="row removebottommargin">
                           <div class=" col-xs-5 col-md-7 col-lg-6 ">
                              <span ng-class="{'fsproductStatus':associateKey > 0}">Start Date</span>
                           </div>
                           <div class="col-xs-7 col-md-5 col-lg-6 remLRpad ">  <span>{{associateDisposed.startDate}} </span>
                           </div>
                        </div>
                     </div>
                     <div class="col-xs-12   col-md-3 addpaddingbottomportrait  ">
                        <div class="row removebottommargin">
                           <div class=" col-xs-5 col-md-7 col-lg-6  ">
                              <span ng-class="{'fsproductStatus':associateKey > 0}">End Date</span>
                           </div>
                           <div class=" col-xs-7 col-md-5 col-lg-6   remLRpad ">  <span>{{associateDisposed.endDate}} </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </tab>
   </tabset>
</div>