<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 remLRpad auditLeftMenu" id="leftCol" ng-animate="animate" ng-swipe-right="toggleMenu($event)">
      <!--div class="" id="leftCol"-->
	  <ul class="nav1 nav-stacked1 leftmenu pull-left1" id="sidebar" ng-class="{'overShowMenu': extendLeftMenu.show,'notoyota': hideCareTab}">
	 	<li id="menu1" class="btn btn_enable" ng-click="showAuditAssistant('issueList')" ng-class="{selected: selectedLeftTopMenu == 'issueList'}">				
				<a><div  class="podleft-icons issuelist-red bgProp" ></div>
				</a>
			</li>			
            <li id="menu2"  class="btn btn_enable" ng-class="{selected: selectedLeftTopMenu == 'issueEntry'  }" ng-click="showAuditAssistant('issueEntry')">			
				<a >
					<div  class="podleft-icons issueEntry bgProp" ></div>					
				</a>
			</li>
		<ul>
</div>

<div class="leftMenuBig1" id="leftMenuBig" ng-if="menu ==true" ng-animate="animate" ng-swipe-left="toggleMenu($event)">
   <ul id="leftSidebar">
   		<li id="menu1" class="btn btn_enable" ng-click="showAuditAssistant('issueList')" ng-class="{selected: selectedLeftTopMenu == 'issueList'}">
			<a><span  class="col left lIcon  issuelist-red icon bgProp" ng-class="{active: selectedMenu == 'issueList'}"></span>			
				<span class="col center labelText adjSingle">
					<span class="menu-text">ISSUE LIST</span>
				</span>				
			</a>
		</li>
		<li id="menu1" ng-click="showAuditAssistant('issueEntry')" class="btn btn_enable" ng-class="{selected: selectedLeftTopMenu == 'issueEntry' }"><a>
				<span  class="col left lIcon issueEntry icon bgProp" ng-class="{active: selectedMenu == 'issueEntry'}"></span>
				<span class="col center labelText adjSingle">
					<span class="menu-text">NEW ISSUE ENTRY</span>
				</span>				
			</a>
		</li>
	</ul>
</div>
<div class="pagesection  col-xs-10 col-sm-10 col-md-10 col-lg-11" id="issueList">
	<div class="" ng-if="PODVar.auditName"><h4 class="sub-header">Issue List</h4></div>
	<div class="panel panel-default  errorDiv errorData" ng-if="!PODVar.selectAudit && !PODVar.auditName">
		<div class="custPaneHead">&nbsp;</div>
		<div class="panel-body">
			<div class="info-table-body">Please select an audit name</div>
		</div>
	</div>
	<div class="panel panel-default errorData" ng-if="issueList.message && PODVar.auditName">
		<div class="custPaneHead">&nbsp;</div>
		<div class="panel-body">
			<div class="info-table-body">{{issueList.data.errormsg}}</div>
		</div>
	</div>
	<div class="panel-group col-xs-12 col-sm-12 col-md-12 col-lg-12 row"  ng-if="!issueList.message" ng-repeat="issue in issueList.data">
		<div class="panel panel-default  " ng-class="{'greenBorder greensurvey': issue.rating== '5','redBorder redsurvey': issue.rating == 'NG','grayBorder greysurvey': issue.rating== '2.5','yellowbg': issue.rating== '3','orangebg': issue.rating== '3-','bluebg': issue.rating== '4'}">			
			<div class="remLRpad col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
				<div class="col-xs-12 col-md-12 flexbox remLRpad">
					<div class="col-xs-4 col-md-3 col-lg-2 text-center serviceProvider" >
						<span class="darkfont">Rating</span><p  class="darkfont">{{issue.rating}}</p>
					</div>						
					<div class="col-xs-8 col-md-9 col-lg-10 tab-color flexbox">							
						<div class="col-xs-11 col-md-11 col-lg-11 ">

							<div class="row">
									<label class="fsLabel col-xs-5 col-md-3 col-lg-2 removeD">VIN</label>
									<span class="fontNormal col-xs-7 col-md-4 col-lg-4 removeD">{{issue.vin}}</span>						
									<label class="fsLabel col-xs-5 col-md-2 col-lg-2 removeD dtcadjDD">Tag</label>
									<span class="fontNormal col-xs-7 col-md-3 col-lg-4 removeD dtcadjDD">{{issue.tag}}</span>
								</div>
								
								
							<div class="row">
									<label class="fsLabel col-xs-5 col-md-3 col-lg-2 removeD">Model</label>
									<span class="fontNormal col-xs-7 col-md-4 col-lg-4 removeD">{{issue.model}}</span>						
									<label class="fsLabel col-xs-5 col-md-2 col-lg-2 removeD dtcadjDD">Color</label>
									<span class="fontNormal col-xs-7 col-md-3 col-lg-4 removeD dtcadjDD">{{issue.color}}</span>
								</div>
								
								<div class="row">
									<label class="fsLabel col-xs-5 col-md-3 col-lg-2 removeD">Type</label>
									<span class="fontNormal col-xs-7 col-md-4 col-lg-4 removeD">{{issue.type}}</span>						
									<label class="fsLabel col-xs-5 col-md-2 col-lg-2 removeD dtcadjDD">Occurrences</label>
									<span class="fontNormal col-xs-7 col-md-3 col-lg-4 removeD dtcadjDD">{{issue.occurances}}</span>
								</div>
								<div class="row">
									<label class="fsLabel col-xs-5 col-md-3 col-lg-2 removeD ">Service Category</label>
									<span class="fontNormal col-xs-7 col-md-4 col-lg-4  removeD fsEllipse podEllipse" dtip rel="{{issue.servicecategory}}">{{issue.servicecategory}}</span>								
									<label class="fsLabel col-xs-5 col-md-2 col-lg-2  removeD dtcadjDD">Section</label>
									<span class="fontNormal col-xs-7 col-md-3 col-lg-4 removeD dtcadjDD fsEllipse" dtip rel="{{issue.section}}">{{issue.section}}</span>
								</div>
								<div class="row">
									<label class="fsLabel col-xs-5 col-md-3 col-lg-2  removeD">Sub Component</label>
									<span class="fontNormal col-xs-7 col-md-4 col-lg-4 removeD fsEllipse podEllipse" dtip rel="{{issue.subcomponent}}">{{issue.subcomponent}}</span>								
									<label class="fsLabel col-xs-5 col-md-2 col-lg-2  removeD dtcadjDD">Condition</label>
									<span class="fontNormal col-xs-7 col-md-3 col-lg-4 fsEllipse removeD dtcadjDD" dtip rel="{{issue.condition}}">{{issue.condition}}</span>
								</div>
								<div class="row">
									<label class="fsLabel col-xs-5 col-md-3 col-lg-2  removeD">Description</label>
									<span class="fontNormal col-xs-7 col-md-4 col-lg-4  fsEllipse removeD" rel="{{issue.description}}" dtip>{{issue.description}}</span>
								</div>		
						</div>
						<div class="col-xs-1 col-md-1 col-lg-1">
							<p class="row">
								<span class="edit-drop bgProp col-md-12 col-xs-12 col-lg-10" ng-click="callEditEntry(issue.vin,issue.issueId)"></span>
							</p>
						</div>	
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="row removeD">
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
	</div>
	<div class="row removeD">
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
	</div>
	<div class="row removeD">
		<div>&nbsp;</div>		
	</div>	
</div>