<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsOmInfo.refineSearch}">
				<span><span class="darkfont">Owner's Manual</span></span>
				<span ng-if="!lsData.lsOmFlatTireErr && !lsData.lsOmErr">: {{lsData.lsOmInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsOmInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsOmInfo.errorMsg" ng-if="lsData.lsOmInfo.documentCount == 100 && lsData.lsOmErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsOmFlatTireErr,errormesspanelpadding: lsData.lsOmErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachOmInfo) in lsData.lsOmInfo.summary">
				<div><a open-document data-url="{{eachOmInfo.documentUrl}}" ng-bind-html="eachOmInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachOmInfo.summaryText" ng-bind-html="eachOmInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsOmInfo.errorMsg" ng-if="!lsData.lsOmInfo.refineSearch && lsData.lsOmErr"></div>
		<span ng-if="lsData.lsOmInfo.displayMore && lsData.tabName=='om'" ng-click="lsData.bindLsOm('more')"><a>More...</a></span>
		<span ng-if="lsData.lsOmInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('sc')"><a>More...</a></span>
		<div ng-if="lsData.lsOmFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>
<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsAccessoryAudioInfo.refineSearch}">
				<span><span class="darkfont">Accessory/Audio/Navigation Owner's Manual</span></span>
				<span ng-if="!lsData.lsAccessoryAudioFlatTireErr && !lsData.lsAccessoryAudioErr">: {{lsData.lsAccessoryAudioInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsAccessoryAudioInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsAccessoryAudioInfo.errorMsg" ng-if="lsData.lsAccessoryAudioInfo.documentCount == 100 && lsData.lsAccessoryAudioErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsAccessoryAudioFlatTireErr,errormesspanelpadding: lsData.lsAccessoryAudioErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachAccessoryAudioInfo) in lsData.lsAccessoryAudioInfo.summary">
				<div><a open-document data-url="{{eachAccessoryAudioInfo.documentUrl}}" ng-bind-html="eachAccessoryAudioInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachAccessoryAudioInfo.summaryText" ng-bind-html="eachAccessoryAudioInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsAccessoryAudioInfo.errorMsg" ng-if="!lsData.lsAccessoryAudioInfo.refineSearch && lsData.lsAccessoryAudioErr"></div>
		<span ng-if="lsData.lsAccessoryAudioInfo.displayMore && lsData.tabName=='om'" ng-click="lsData.bindLsAccessoryAudio('more')"><a>More...</a></span>
		<span ng-if="lsData.lsAccessoryAudioInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('om')"><a>More...</a></span>
		<div ng-if="lsData.lsAccessoryAudioFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>
<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsGulfStatesInfo.refineSearch}">
				<span><span class="darkfont">Gulf States Toyota Distributors - Accy/Audio/Nav Owner's Manual</span></span>
				<span ng-if="!lsData.lsGulfStatesFlatTireErr && !lsData.lsGulfStatesErr">: {{lsData.lsGulfStatesInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsGulfStatesInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsGulfStatesInfo.errorMsg" ng-if="lsData.lsGulfStatesInfo.documentCount == 100 && lsData.lsGulfStatesErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsGulfStatesFlatTireErr,errormesspanelpadding: lsData.lsGulfStatesErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachGulfStatesInfo) in lsData.lsGulfStatesInfo.summary">
				<div><a open-document data-url="{{eachGulfStatesInfo.documentUrl}}" ng-bind-html="eachGulfStatesInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachGulfStatesInfo.summaryText" ng-bind-html="eachGulfStatesInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsGulfStatesInfo.errorMsg" ng-if="!lsData.lsGulfStatesInfo.refineSearch && lsData.lsGulfStatesErr"></div>		
		<span ng-if="lsData.lsGulfStatesInfo.displayMore && lsData.tabName=='om'" ng-click="lsData.bindLsGulfStates('more')"><a>More...</a></span>
		<span ng-if="lsData.lsGulfStatesInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('om')"><a>More...</a></span>
		<div ng-if="lsData.lsGulfStatesFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>
<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsSoutheastToyotaInfo.refineSearch}">
				<span><span class="darkfont">Southeast Toyota Distributors - Accy/Audio/Nav Owner's Manual</span></span>
				<span ng-if="!lsData.lsSoutheastToyotaFlatTireErr && !lsData.lsSoutheastToyotaErr">: {{lsData.lsSoutheastToyotaInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsSoutheastToyotaInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsSoutheastToyotaInfo.errorMsg" ng-if="lsData.lsSoutheastToyotaInfo.documentCount == 100 && llsData.lsSoutheastToyotaErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsSoutheastToyotaFlatTireErr,errormesspanelpadding: lsData.lsSoutheastToyotaErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachSoutheastToyotaInfo) in lsData.lsSoutheastToyotaInfo.summary">
				<div><a open-document data-url="{{eachSoutheastToyotaInfo.documentUrl}}" ng-bind-html="eachSoutheastToyotaInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachSoutheastToyotaInfo.summaryText" ng-bind-html="eachSoutheastToyotaInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsSoutheastToyotaInfo.errorMsg" ng-if="!lsData.lsSoutheastToyotaInfo.refineSearch && lsData.lsSoutheastToyotaErr"></div>		
		<span ng-if="lsData.lsSoutheastToyotaInfo.displayMore && lsData.tabName=='om'" ng-click="lsData.bindLsSoutheastToyota('more')"><a>More...</a></span>
		<span ng-if="lsData.lsSoutheastToyotaInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('om')"><a>More...</a></span>
		<div ng-if="lsData.lsSoutheastToyotaFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>
<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsTvaInfo.refineSearch}">
				<span><span class="darkfont">Maintenance Schedule</span></span>
				<span ng-if="!lsData.lsMaintenanceScheduleFlatTireErr && !lsData.lsMaintenanceScheduleErr">: {{lsData.lsTvaInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsTvaInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsTvaInfo.errorMsg" ng-if="lsData.lsTvaInfo.documentCount == 100 && lsData.lsMaintenanceScheduleErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsMaintenanceScheduleFlatTireErr,errormesspanelpadding: lsData.lsMaintenanceScheduleErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachTvaInfo) in lsData.lsTvaInfo.summary">
				<div><a open-document data-url="{{eachTvaInfo.documentUrl}}" ng-bind-html="eachTvaInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachTvaInfo.summaryText" ng-bind-html="eachTvaInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsTvaInfo.errorMsg" ng-if="!lsData.lsTvaInfo.refineSearch && lsData.lsMaintenanceScheduleErr"></div>
		<span ng-if="lsData.lsTvaInfo.displayMore && lsData.tabName=='om'" ng-click="lsData.bindLsMaintenanceSchedule('more')"><a>More...</a></span>
		<span ng-if="lsData.lsTvaInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('om')"><a>More...</a></span>
		<div ng-if="lsData.lsMaintenanceScheduleFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>