<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsServPtErr}">
			<!--
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 lsnopadding">
			-->
				<span><span class="darkfont">Service and Parts Operation</span></span>
				<span ng-if="!lsData.lsServPtFlatTireErr && !lsData.lsServPtErr">: {{lsData.lsServPtInfo.documentCount}} document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsServPtInfo.errorMsg" ng-if="lsData.lsServPtErr"></div>
		</div>
		<!--
		<span><span class="darkfont">Service and Parts Operation</span></span>
		<span ng-if="!lsData.lsServPtFlatTireErr && !lsData.lsServPtErr">: {{lsData.lsServPtInfo.documentCount}} document(s) found.</span>
		<span class="pull-right redTxt" ng-if="lsData.lsServPtErr">{{lsData.lsServPtInfo.errorMsg}}</span>
		-->
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsServPtFlatTireErr,errormesspanelpadding: lsData.lsServPtErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachServPtInfo) in lsData.lsServPtInfo.summary">
				<div><a open-document data-url="{{eachServPtInfo.documentUrl}}" ng-bind-html="eachServPtInfo.titleText"></a></div>
				<!--<div newtip class="rmLRPad newthreedot" ng-if="summaryEnabled" ng-bind-html="eachServPtInfo.summaryText"></div>-->
				<div newtip class="rmLRPad newthreedot" ng-if="eachServPtInfo.summaryText" ng-bind-html="eachServPtInfo.summaryText"></div>
			</li>
		</ol>
		<div ng-if="lsData.lsServPtInfo.displayMore && lsData.tabName=='servpt'" ng-click="lsData.bindLsServPtData('more')"><a>More...</a></div>
		<div ng-if="lsData.lsServPtInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('servpt')"><a>More...</a></div>
		<div ng-if="lsData.lsServPtFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>