<div ng-include="'/serviceLane/pages/asm/mobile/views/lssc.html'"></div>
<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsserviceBulletinInfo.refineSearch}">
				<span><span class="darkfont">Service Bulletin</span></span>
				<span ng-if="!lsData.lsserviceBulletinFlatTireErr && !lsData.lsserviceBulletinErr">: {{lsData.lsserviceBulletinInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsserviceBulletinInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsserviceBulletinInfo.errorMsg" ng-if="lsData.lsserviceBulletinInfo.documentCount == 100 && lsData.lsserviceBulletinErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsserviceBulletinFlatTireErr,errormesspanelpadding: lsData.lsserviceBulletinErr && !lsData.refineSearch}">
		<ol>
			<li ng-repeat="(keycamp,eachserviceBulletinInfo) in lsData.lsserviceBulletinInfo.summary">
				<div><a open-document data-url="{{eachserviceBulletinInfo.documentUrl}}" ng-bind-html="eachserviceBulletinInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachserviceBulletinInfo.summaryText" ng-bind-html="eachserviceBulletinInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsserviceBulletinInfo.errorMsg" ng-if="!lsData.lsserviceBulletinInfo.refineSearch && lsData.lsserviceBulletinErr"></div>
		<span ng-if="lsData.lsserviceBulletinInfo.displayMore && lsData.tabName=='ttsb'" ng-click="lsData.bindLsserviceBulletin('more')"><a>More...</a></span>
		<span ng-if="lsData.lsserviceBulletinInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('ttsb','sb')"><a>More...</a></span>
		<div ng-if="lsData.lsserviceBulletinFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>
<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsTechnicialTipInfo.refineSearch}">
				<span><span class="darkfont">Tech Tip</span></span>
				<span ng-if="!lsData.lsTechnicialTipFlatTireErr && !lsData.lsTechnicialTipErr">: {{lsData.lsTechnicialTipInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsTechnicialTipInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsTechnicialTipInfo.errorMsg" ng-if="lsData.lsTechnicialTipInfo.documentCount == 100 && lsData.lsTechnicialTipErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsTechnicialTipFlatTireErr,errormesspanelpadding: lsData.lsTechnicialTipErr && !lsData.refineSearch}">
		<ol>
			<li ng-repeat="(keycamp,eachTechnicialTipInfo) in lsData.lsTechnicialTipInfo.summary">
				<div><a open-document data-url="{{eachTechnicialTipInfo.documentUrl}}" ng-bind-html="eachTechnicialTipInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachTechnicialTipInfo.summaryText" ng-bind-html="eachTechnicialTipInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsTechnicialTipInfo.errorMsg" ng-if="!lsData.lsTechnicialTipInfo.refineSearch && lsData.lsTechnicialTipErr"></div>
		<span ng-if="lsData.lsTechnicialTipInfo.displayMore && lsData.tabName=='ttsb'" ng-click="lsData.bindLsTechnicialTip('more')"><a>More...</a></span>
		<span ng-if="lsData.lsTechnicialTipInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('ttsb','tt')"><a>More...</a></span>
		<div ng-if="lsData.lsTechnicialTipFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>