<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsQtgInfo.refineSearch}">
				<span><span class="darkfont">Quick Training Guides</span></span>
				<span ng-if="!lsData.lsQtgFlatTireErr && !lsData.lsQtgErr">: {{lsData.lsQtgInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsQtgInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsQtgInfo.errorMsg" ng-if="lsData.lsQtgInfo.documentCount == 100 && lsData.lsQtgErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsQtgFlatTireErr,errormesspanelpadding: lsData.lsQtgErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachQtgInfo) in lsData.lsQtgInfo.summary">
				<div><a open-document data-url="{{eachQtgInfo.documentUrl}}" ng-bind-html="eachQtgInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachQtgInfo.summaryText" ng-bind-html="eachQtgInfo.summaryText"></div>				
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsQtgInfo.errorMsg" ng-if="!lsData.lsQtgInfo.refineSearch && lsData.lsQtgErr"></div>
		<span ng-if="lsData.lsQtgInfo.displayMore && lsData.tabName=='training'" ng-click="lsData.bindLsQtgData('more')"><a>More...</a></span>
		<span ng-if="lsData.lsQtgInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('training')"><a>More...</a></span>
		<div ng-if="lsData.lsQtgFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>
<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsTtmInfo.refineSearch}">
				<span><span class="darkfont">Toyota Tech</span></span>
				<span ng-if="!lsData.lsTtmFlatTireErr && !lsData.lsTtmErr">: {{lsData.lsTtmInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsTtmInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsTtmInfo.errorMsg" ng-if="lsData.lsTtmInfo.documentCount == 100 && lsData.lsTtmErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsTtmFlatTireErr,errormesspanelpadding: lsData.lsTtmErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachTtmInfo) in lsData.lsTtmInfo.summary">
				<div><a open-document data-url="{{eachTtmInfo.documentUrl}}" ng-bind-html="eachTtmInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachTtmInfo.summaryText" ng-bind-html="eachTtmInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsTtmInfo.errorMsg" ng-if="!lsData.lsTtmInfo.refineSearch && lsData.lsTtmErr"></div>
		<span ng-if="lsData.lsTtmInfo.displayMore && lsData.tabName=='training'" ng-click="lsData.bindLsTtmData('more')"><a>More...</a></span>
		<span ng-if="lsData.lsTtmInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('training')"><a>More...</a></span>
		<div ng-if="lsData.lsTtmFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>