<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<span><span class="darkfont">Resource links</span></span>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsWarrantyFlatTireErr}">
		<ol>
			<li>
				<div><a open-document data-url="{{lsData.lsWarrantyInfo.resourseLinks}}">Warranty Policy and Procedures</a></div>
			</li>
		</ol>
		<div ng-if="lsData.lsWarrantyFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>
<div class="kcpanelbox panel-default pull-left col-xs-12 addmargintopkc remLRpad">
	<div class="custPaneHeadkc">
		<div class="row lsnopadding">
			<div class="col-xs-12 lsnopadding" ng-class="{'col-xs-6' : lsData.lsWarrantyInfo.refineSearch}">
				<span><span class="darkfont">Warranty & Maintenance Bulletins</span></span>
				<span ng-if="!lsData.lsWarrantyFlatTireErr && !lsData.lsWarrantyErr">: {{lsData.lsWarrantyInfo.documentCount}} document(s) found.</span>
				<span ng-if="lsData.lsWarrantyInfo.documentCount == 0">: 0 document(s) found.</span>
			</div>
			<div class="col-xs-6 lsnopadding pull-right redTxt lstotheright" ng-bind-html="lsData.lsWarrantyInfo.errorMsg" ng-if="lsData.lsWarrantyInfo.documentCount == 100 && lsData.lsWarrantyErr"></div>
		</div>
	</div>
	<div class="tab-color" ng-class="{errorpanelpadding:lsData.lsWarrantyFlatTireErr,errormesspanelpadding: lsData.lsWarrantyErr && !lsData.refineSearch}">
		<ol>
			<li style="" ng-repeat="(keycamp,eachWarrantyInfo) in lsData.lsWarrantyInfo.summary">
				<div><a open-document data-url="{{eachWarrantyInfo.documentUrl}}" ng-bind-html="eachWarrantyInfo.titleText"></a></div>
				<div newtip class="rmLRPad newthreedot" ng-if="eachWarrantyInfo.summaryText" ng-bind-html="eachWarrantyInfo.summaryText"></div>
			</li>
		</ol>
		<div class="col-xs-12 lsnopadding pull-right redTxt lserrbottompadding" ng-bind-html="lsData.lsWarrantyInfo.errorMsg" ng-if="!lsData.lsWarrantyInfo.refineSearch && lsData.lsWarrantyErr"></div>
		<span ng-if="lsData.lsWarrantyInfo.displayMore && lsData.tabName=='warrcp'" ng-click="lsData.bindLsWarrantyData('more')"><a>More...</a></span>
		<span ng-if="lsData.lsWarrantyInfo.displayMore && lsData.tabName=='summary'" ng-click="lsData.bindLsTabChange('warrcp')"><a>More...</a></span>
		<div ng-if="lsData.lsWarrantyFlatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	</div>
</div>