<div ng-if="nextServiceApt.issuePopup" >             
       <div class="ng-modal-dialog" style="padding:10px;width:70%;z-index:200" id="nextServiceApt">
       <div class="overlay1" ng-click="overlayHide();" ng-show="menu || nextServiceApt.custDDShow " my-touchstart="hidePopupAndOverlay(false,true);" style="z-index: 1400;">&nbsp;</div>      
              <h4>Next Service Appointment<span class="pull-right" ng-click="nextServiceApt.vinInfo();overlayShow()" style="cursor:pointer;">X</span></h4>
        <div ng-if="nextServiceApt.flatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
        <div ng-if="!nextServiceApt.flatTireErr">
            <p  class="iconcenter">{{nextServiceApt.data.oneliner}}</p>
            <h4 class="iconcenter ">Recommended Service Interval: <span>{{nextServiceApt.data.recommendedService}}</span></h4>
			<p class="redTxt iconcenter" ng-if="nextServiceApt.showMessage">You have entered invalid data or failed to provide required information. Please correct the highlighted error(s) before proceeding.<p>
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
                    <label class="fsLabel col-lg-5 col-md-5 col-sm-6 remLRpad" ng-class="{'redTxt' : (nextServiceApt.data.lastService =='' || nextServiceApt.data.lastService == undefined ) && nextServiceApt.submitted}">Date of Last Service:</label>
                    <div class="col-lg-5 col-md-7 col-sm-6 remLRpad" >
                         <input type="text" ng-model="nextServiceApt.data.lastService" date-only date-format="MM/dd/yyyy" class="col-lg-9 col-md-9 remRpad" />           
                          <span datetime-picker ng-model="nextServiceApt.data.lastService"  date-only date-format="MM/dd/yyyy " class="auditCalendar add-on glyphicon glyphicon-calendar" ></span>
					</div>
                </div>                         
                <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 dtcAdjDD">
                    <label class="fsLabel col-lg-6 col-md-6 col-sm-6 remLRpad">DOFU:</label>
                    <span class="col-lg-4 col-md-4 col-sm-6 remLRpad">{{nextServiceApt.data.dofu}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
                    <label class="fsLabel col-lg-5 col-md-5 col-sm-6 remLRpad" ng-class="{'redTxt' : (nextServiceApt.data.currentMileage =='' || nextServiceApt.data.currentMileage == undefined ) && nextServiceApt.submitted}">Current Mileage:</label>
					<input class="col-lg-3 col-md-4 col-sm-4 remRpad " type="number" ng-model="nextServiceApt.data.currentMileage"	onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;if (event.keyCode == 32) {event.returnValue = false;return false;}" is-number maxl="6" >                   
                </div>                         
                <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 dtcAdjDD">
                    <label class="fsLabel col-lg-6 col-md-6 col-sm-6 remLRpad">Average miles per month:</label>
                    <input class="col-lg-3 col-md-3 col-sm-4" type="text" disabled="true" ng-model="nextServiceApt.data.avgMiles" />
                </div>
            </div>
                     <div class="row">
                           <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12" ng-if="nextServiceApt.data.showSplInsDropdown">
                                  <label class="fsLabel col-lg-5 col-md-5 col-sm-6 remLRpad">Special Instructions:</label>
                                  <div class="col-lg-3 col-md-4 col-sm-4  customeDD remLRpad" >               
                                         <a ng-click="nextServiceApt.custDDShowFn('splIns')" class="removewhitespace">{{nextServiceApt.splInsSelected.splInsNotes}}</a>
                                  </div>
                                  <div class="customeDesc drpdown" ng-if="nextServiceApt.custDDShow == 'splIns'">
                                         <table>
                                                <th>Value</th>
                                                <th>Description</th>
                                                <tr ng-repeat="splInsOp in nextServiceApt.data.splIns" ng-click="nextServiceApt.custDDSelection('splIns',splInsOp.splInsId)" stop-event>
                                                       <td>{{splInsOp.splInsNotes}}</td>
                                                       <td>{{splInsOp.splInsDesc}}</td>
                                                </tr>
                                         </table>
                                  </div>
                           </div>
                           <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 dtcAdjDD" ng-if="nextServiceApt.data.showOperatingCondDropdown">
                                  <label class="fsLabel col-lg-6 col-md-6 col-sm-6 remLRpad">Operating Conditions:</label>
                                  <div class="col-lg-3 col-md-4 col-sm-4 customeDD remLRpad" >               
                                         <a ng-click="nextServiceApt.custDDShowFn('opCond')" class="removewhitespace">{{nextServiceApt.opCondSelected.operatingConditionNotes}}</a>
                                  </div>
                                  <div class="customeDesc drpdown" ng-if="nextServiceApt.custDDShow == 'opCond'">
                                         <table>
                                                <th>Driving Condition</th>
                                                <th>Description</th>
                                                <tr ng-repeat="dropdownOp in nextServiceApt.data.operatingCondition" ng-click="nextServiceApt.custDDSelection('opCond',dropdownOp.operatingConditionId)" stop-event>
                                                       <td>{{dropdownOp.operatingConditionNotes}}</td>
                                                       <td>{{dropdownOp.operatingConditionDesc}}</td>
                                                </tr>
                                         </table>
                                  </div>
                           </div>
                     </div>
            <h4 class="iconcenter ">
				Estimated Next Service Appointment: {{nextServiceApt.data.dayOfNextService}} {{nextServiceApt.data.nextService}}
			</h4>                     
            <p>Note: &#60;Miles&#62; Miles per month = ( Current Mileage / ( Current Date - DOFU))*30</p>
            <div style="position:relative;right:30px;">
                           <input type="button"  class="pull-right updateBtn btn btn-default frmLink" value="Close" ng-click="nextServiceApt.vinInfo();overlayShow()"/>
                           <input type="button" class="pull-right updateBtn btn btn-default frmLink" value="Recalulate" ng-click="nextServiceApt.reCalc()"/>
            </div>
        </div>
    </div>
</div>
