<div class="overlay1" ng-click="overlayHide();" ng-show="printObj.custDDShow" my-touchstart="hidePopupAndOverlay(false,true);">&nbsp;</div>
<div id="printLoading" style="display: none"> &nbsp; </div>
<div class="overLay" id="printOverlay" style="display: none"> &nbsp; </div>
<h2 style="padding-bottom: 0;" ng-class="{'printHeader': showPrintPreview == true}">
  <div style="display: inline-block;">
    Print 
    <span class="pull-right close" ng-click="overlayShow(false)" style="padding: 0;">
      X
    </span>
    <button type="submit" class="btn btn-primary pull-right" id="backToPrint" ng-show="showPrintPreview" ng-click="printObj.backToPreview()" id="backtoPrint">
      Back to Print
    </button>
  </div>
</h2>
<div ng-if="printObj.flatTireErr" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
<form name="myForm" ng-hide="showPrintPreview" class="printContainer" data-ns-form="printObj.data" novalidate ng-if="!printObj.flatTireErr">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 PrintWrap"> <label class="col-xs-3 col-sm-3 col-md-4 col-lg-4 remLRpad">
      <input type="checkbox" ng-model="printObj.data[0].selected" name="printCheckbox" ng-click="printObj.selectAll(printObj.data[0].selected)" value="{{printObj.data[0].moduleName}}">
      <span>&nbsp;</span>
      <b>
        {{printObj.data[0].moduleDisplayName}}
      </b>
    </label> <label class="col-xs-2 col-sm-2 col-md-3 col-lg-4 remLRpad">
      Mileage: 
      <b>
        {{printObj.data[0].mileage}}
      </b>
    </label> <label class="col-xs-7 col-sm-7 col-md-5 col-lg-4 remLRpad" id="internalUse">
      <span class="internalUseIcon">&nbsp;</span>
      &nbsp;&nbsp;Internal use only - NOT FOR DISTRIBUTION
    </label> </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {{printO.order}} PrintWrap" ng-repeat="printO in printObj.data" ng-if="!printObj.data[$index].singleRow"> 
  
  <label class="col-xs-4 col-sm-4 col-md-3 col-lg-3 remLRpad" ng-if="printO.options[0].moduleDisplayName">
      <input type="checkbox" ng-model="printO.options[0].selected" value="{{printO.options[0].moduleName}}" name="printCheckbox" ng-click="printObj.optionToggled(printO.options[0].selected)" >
      <span>&nbsp;</span>
      {{printO.options[0].moduleDisplayName}}&nbsp;
      <span class="internalUseIcon" ng-if="printO.options[0].internalUse">&nbsp;</span>
    </label> 
	<label class="col-xs-4 col-sm-4 col-md-3 col-lg-3" ng-if="printO.options[0].state">&nbsp;&nbsp;State: {{printO.options[0].state}}</label>	
	<label class="col-xs-4 col-sm-4 col-md-3 col-lg-3 remLRpad" ng-if="printO.options[1].moduleDisplayName">
      <input type="checkbox" ng-model="printO.options[1].selected" value="{{printO.options[1].moduleName}}" name="printCheckbox" ng-click="printObj.optionToggled(printO.options[1].selected)">
      <span>&nbsp;</span>
      {{printO.options[1].moduleDisplayName}}
      <span class="internalUseIcon" ng-if="printO.options[1].internalUse">&nbsp;</span>
    </label> 
	<label class="col-xs-4 col-sm-4 col-md-3 col-lg-3" ng-if="printO.options[1].state">&nbsp;&nbsp;State: {{printO.options[1].state}}</label>
	<label class="col-xs-4 col-sm-4 col-md-3 col-lg-3" ng-if="printO.options[0].radioOps[1].moduleDisplayName">
      <input type="radio" ng-model="printO.options[0].enabledForm" value="Short Form1" ng-disabled="!printO.options[0].selected">
      <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
      Short Form
    </label> <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="printO.options[0].radioOps[0].moduleDisplayName">
      <input type="radio" ng-model="printO.options[0].enabledForm" value="Long Form1" ng-disabled="!printO.options[0].selected">
      <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
      Long Form
    </label> </div>
  <div class="panel-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="accordion{{$index}}" ng-if="printObj.data[$index].singleRow" ng-repeat="printO in printObj.data">
  
    <div class="panel panel-default rmLRPad">
      <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12 {{printO.order}}">
        <h4 class="panel-title col-xs-12 col-sm-12 col-md-12 col-lg-12 rmLRPad">
          <label class="col-xs-4 col-sm-4 col-md-3 col-lg-3 rmLRPad" ng-if="printO.options[0].moduleDisplayName">
            <input type="checkbox" ng-model="printO.options[0].selected" ng-value="{{printO.options[0].moduleName}}" name="printCheckbox" ng-click="printObj.optionToggled(printO.options[0].selected,printO.options[0].checkOps)">
            <span>&nbsp;</span>
            {{printO.options[0].moduleDisplayName}}
          </label>
          <label class="col-xs-4 col-sm-4 col-md-3 col-lg-3 rmLRPad" ng-if="printO.options[0].radioOps[1].moduleDisplayName" >
            <input type="radio" ng-value="printO.options[0].radioOps[1].moduleDisplayName" ng-model="printO.options[0].enabledForm" ng-disabled="!printO.options[0].selected">
            <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
            {{printO.options[0].radioOps[1].moduleDisplayName}}
          </label>
          <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 rmLRPad" ng-if="printO.options[0].radioOps[0].moduleDisplayName">
            <input type="radio" ng-model="printO.options[0].enabledForm" ng-value="printO.options[0].radioOps[0].moduleDisplayName" ng-disabled="!printO.options[0].selected">
            <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
            {{printO.options[0].radioOps[0].moduleDisplayName}}
          </label>
          <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rmLRPad" ng-if="printO.options[0].radioOps[2].moduleDisplayName">
           <input type="radio" ng-model="printO.options[0].enabledForm" ng-value="printO.options[0].radioOps[2].moduleDisplayName" ng-disabled="!printO.options[0].selected">
            <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
            {{printO.options[0].radioOps[2].moduleDisplayName}}
          </label>
          <label class="col-xs-4 col-sm-4 col-md-3 col-lg-3 rmLRPad email" ng-if="printO.email">
            Email
          </label>
		  <span class="pull-left" style="margin-top: 8px" ng-if="printO.email">
            To: 
          </span>
		  <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 rmLRPad" style="margin-top: 8px" ng-if="printO.toMailId == '' && printO.email">N/A</span>
		  <span ng-if="printO.toMailId != '' && printO.email" rel="printtip" dtipp class="rmLRPad overEllipse" style="margin-top: 8px">
            {{printO.toMailId}}
          </span>
		  <span id="printtip" class="shadowpopup blackbackground" ng-if="printO.email">
            {{printO.toMailId}}
          </span>
          
          <span class="pull-left overEllipsemargin" style="margin-top: 8px" ng-if="printO.email">
            Cc: 
          </span>
          <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 rmLRPad" style="margin-top: 8px" ng-if="printO.ccMailId == '' && printO.email">N/A</span>
          <span ng-if="printO.ccMailId != '' && printO.email" rel="printtip1" dtipp class="rmLRPad overEllipse" style="margin-top: 8px" ng-if="printO.ccMailId != 'N/A' && printO.email">
            {{printO.ccMailId}}
          </span>
          <span id="printtip1" class="shadowpopup blackbackground" ng-if="printO.email">
            {{printO.ccMailId}}
          </span>		  
          <i class="pull-right glyphicon acc_minus" data-toggle="collapse" data-parent="#accordion{{$index}}" href="#collapseOne{{$index}}" ng-if="!printO.fuelAndOp" ng-class="{'collapsed':printO.options[0].collapse}">		 
          </i>
        </h4> </div>
      <div id="collapseOne{{$index}}" class="panel-collapse collapse" ng-if="!printO.fuelAndOp" ng-class="{'in': !printO.options[0].collapse}">
        <div class="panel-body col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 customeDD" ng-if="printO.options[0].showFuelDropDown">
                <span class="pull-left customeDD addmargintopkc">Fuel:</span>
                <a ng-click="!printO.options[0].selected || printObj.custDDShowFn('fuel')" class="removewhitespace customeDD" ng-disabled="!printO.options[0].selected" ng-class="{disabled: !printO.options[0].selected}">{{printObj.fuelSelect}}</a>
                <div id="fuel" class="customeDesc inside" ng-if="printObj.custDDShow == 'fuel'">
                    <table>
                        <th>Value</th>
                        <th>Description</th>
                        <tr ng-repeat="fuelOp in printO.options[0].fuel track by $index" ng-click="printObj.custDDSelection('fuel',fuelOp.instructionDesc,fuelOp.instructionNotes,fuelOp.instructionId)" stop-event>
                            <td>{{fuelOp.instructionDesc}}</td>
                            <td>{{fuelOp.instructionNotes}}</td>
                        </tr>
                    </table>
                </div>
            </div>
			
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 customeDD" ng-if="printO.options[0].showOperatingConditonDropDown">
                <span class="pull-left">Operating Condition:</span>
                <a ng-click="!printO.options[0].selected || printObj.custDDShowFn('opCond')"  class="removewhitespace" ng-disabled="!printO.options[0].selected" ng-class="{disabled: !printO.options[0].selected}">{{printObj.opcondSelect}}<span>&nbsp;</span></a>				
                <div id="printspecialopCond" class="customeDesc inside" ng-if="printObj.custDDShow == 'opCond'">
                    <table>
                        <th>Driving Condition</th>
                        <th>Description</th>
                        <tr ng-repeat="dropdownOp in printO.options[0].operatingCondition track by $index" ng-click="printObj.custDDSelection('opCond',dropdownOp.operatingConditionNotes,dropdownOp.operatingConditionDesc,dropdownOp.operatingConditionId)" stop-event>
                            <td>{{dropdownOp.operatingConditionNotes}}</td>
                            <td>{{dropdownOp.operatingConditionDesc}}</td>
                        </tr>
                    </table>
                </div>
            </div>
			<label class="col-xs-5 col-sm-5 col-md-4 col-lg-4" ng-if="printO.options[0].checkOps[0].moduleDisplayName">
            
            <input type="checkbox" ng-model="printO.options[0].checkOps[0].selected" ng-disabled="!printO.options[0].selected" ng-click="printObj.optionToggledChild(printO.options[0].checkOps[0].selected,printO.options[0].selected)" >
            <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
            {{printO.options[0].checkOps[0].moduleDisplayName}}
          </label> <label class="col-xs-5 col-sm-5 col-md-4 col-lg-4" ng-class="{'optionDisabled': printO.options[0].checkOps[1].selected == undefined}" ng-if="printO.options[0].checkOps[1].moduleDisplayName">
            <input type="checkbox" ng-model="printO.options[0].checkOps[1].selected" ng-disabled="!printO.options[0].selected || printO.options[0].checkOps[1].selected == undefined" ng-click="printObj.optionToggledChild(printO.options[0].checkOps[1].selected,printO.options[0].selected)">
            <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
            {{printO.options[0].checkOps[1].moduleDisplayName}}
          </label> <label class="col-xs-5 col-sm-5 col-md-4 col-lg-4" style="clear: both" ng-if="printO.options[0].checkOps[2].moduleDisplayName">
            <input type="checkbox" ng-model="printO.options[0].checkOps[2].selected" ng-disabled="!printO.options[0].selected" ng-click="printObj.optionToggledChild(printO.options[0].checkOps[2].selected,printO.options[0].selected)">
            <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
            {{printO.options[0].checkOps[2].moduleDisplayName}}
          </label> <label class="col-xs-5 col-sm-5 col-md-4 col-lg-4" ng-if="printO.options[0].checkOps[3].moduleDisplayName">
            <input type="checkbox" ng-model="printO.options[0].checkOps[3].selected" ng-disabled="!printO.options[0].selected" ng-click="printObj.optionToggledChild(printO.options[0].checkOps[3].selected,printO.options[0].selected)">
            <span ng-class="{disabled: !printO.options[0].selected}">&nbsp;</span>
            {{printO.options[0].checkOps[3].moduleDisplayName}}
          </label> <label class="col-xs-11 col-sm-11 col-md-11 col-lg-11 rmLRPad mailClass" ng-class="{'redTxt': printObj.sendMail.tostatus == false && displayPrintError}" ng-if="printO.email">
            To:
            <input id="printtoaddr" type="text" name="toAddr" ng-model="printO.toMailId" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 pull-right rmLRPad" my-maxlength="100"  my-touchstart="scrollTopThePagePrint(1);"/>
          </label> <label class="col-xs-11 col-sm-11 col-md-11 col-lg-11 rmLRPad mailClass" ng-class="{'redTxt': printObj.sendMail.ccstatus == false && displayPrintError}" ng-if="printO.email">
            Cc:
            <input id="printccaddr" type="text" name="ccAddr" ng-model="printO.ccMailId" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 pull-right rmLRPad" my-maxlength="100"  my-touchstart="scrollTopThePagePrint(2);"/>
          </label> <label class="col-xs-11 col-sm-11 col-md-11 col-lg-11 rmLRPad mailClass" ng-if="printO.email">
            Sub:
            <span class="col-xs-10 col-sm-10 col-md-10 col-lg-10 pull-right rmLRPad" style="padding: 0">
              {{printO.modelYear+" "+printO.modelName+" "+printO.division+" "+printO.vin}}
            </span>
          </label> </div>
      </div>
    </div>
  </div>
  <div class="printBtns PrintWrap"> <!--  button type="button" class="btn btn-primary" ng-click="printObj.printSubmit('Preview')">
      Preview
    </button>-->
    <!--button type="button" class="btn btn-primary" ng-click="printSubmit()">
Preview
</button--><button type="submit" class="btn btn-primary" ng-click="printObj.printSubmit('Export')" ng-disabled="false">Export and Preview
    </button> <button type="submit" class="btn btn-primary" ng-click="printObj.printSubmit('sendMail',printObj.data[printObj.data.length-1].toMailId,printObj.data[printObj.data.length-1].ccMailId)">
      Send Mail
    </button> <button type="submit" class="btn btn-primary"  ng-click="printObj.printSubmit('Print')">
      Print
    </button> </div>
</form>
<div ng-include src="printObj.previewUrl" ng-if="showPrintPreview" id="printPreview"> </div>