<form>
	<div class="hideBorder">&nbsp;</div>
	<h5>QUICK LINKS </h5>
	<div ng-if="!quickLinksErr && quickLinksObj.errorMsg == 'N/A'" class=" rightMenuPopupDiv">
	<p ng-repeat="eachQuickLink in quickLinksObj.quickLink.quickLinkList"><a class="decoratenone" open-document data-url="{{eachQuickLink.link}}">{{eachQuickLink.title}}</a></p>
	
	</div>	
	<div ng-if="quickLinksObj.errorMsg != 'N/A'" class="errtxt">{{quickLinksObj.errorMsg}}</div>
	<div ng-if="quickLinksErr" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
</form>