<div id="rightCol">

        <ul class="nav nav-stacked rightmenu">
          <li  ng-click="showRightNavInfo('householdinfo')" ng-if="!CustomerInfoFlag && (inputValue == '' || inputValue == null)"  class="btn btn_enable"   ng-disabled="!CustomerInfoEnabled" ><a    ng-disabled="!CustomerInfoEnabled"  href="" ><span  class="household icon"></span></a></li>
          <li ng-click="showRightNavInfo('custInfoForm')" ng-class="{active: rightNavMenu == 'custInfoForm'}" ng-if="CustomerInfoFlag && (inputValue == '' || inputValue == null)" class="btn btn_enable"  ng-disabled="!CustomerInfoEnabled"><a href=""><span  class="guest-right icon"></span></a>
                      
				<div ng-include="'pages/asm/mobile/views/customerinfo.html'" class="rightMenuPopup" id="custInformation" ng-if="rightNavMenu=='custInfoForm'" stop-event></div>
			</li>
          <li  ng-click="showRightNavInfo('householdinfo')" ng-if="!rightMenu.CustomerInfo && inputValue != '' && inputValue != null"  class="btn btn_enable"   ng-disabled="!rightMenu.CustomerInfoEnabled" ><a    ng-disabled="!rightMenu.CustomerInfoEnabled"  href="" ><span  class="household icon"></span></a></li>
          <li ng-click="showRightNavInfo('custInfoForm')" ng-class="{active: rightNavMenu == 'custInfoForm'}" ng-if="rightMenu.CustomerInfo && inputValue != '' && inputValue != null"  class="btn btn_enable"  ng-disabled="!rightMenu.CustomerInfoEnabled"><a href=""><span  class="guest-right icon"></span></a>
            
				<div ng-include="'pages/asm/mobile/views/customerinfo.html'" class="rightMenuPopup" id="custInformation" ng-if="rightNavMenu=='custInfoForm'" stop-event></div>
			</li>
            <li  ng-click="showRightNavInfo('mileageForm')" ng-class="{active: rightNavMenu == 'mileageForm'}">
				<a href=""><span  class="mileage icon" ><b id="lastKnowVal">{{dataMileage.subVal}}</b></span></a>
					<div class="rightMenuPopup" id="mileageMenu" ng-include="'pages/asm/mobile/views/mileageInfo.html'" ng-if="rightNavMenu=='mileageForm'" stop-event></div>
			   
			</li>
            <li ng-click="showRightNavInfo('announcements')" ng-class="{active: rightNavMenu == 'announcements'}"><span class="announcementcount" ng-if="announcemnetNewCount > 0">{{announcemnetNewCount}}</span><a href=""><span  class="news icon"></span></a><div ng-include="'pages/asm/mobile/views/announcements.html'" class="rightMenuPopup" id="announcementtempid" ng-if="rightNavMenu=='announcements'" stop-event></div></li>
            <li ng-click="showRightNavInfo('quicklinks')" ng-class="{active: rightNavMenu == 'quicklinks'}"><a href=""><span  class="quicklink icon"></span></a><div ng-include="'pages/asm/mobile/views/quicklinks.html'" class="rightMenuPopup" id="quicklinkstempid" ng-if="rightNavMenu=='quicklinks'" stop-event></div></li>
            <li ng-click="showRightNavInfo('aboutApp')" ng-class="{active: rightNavMenu == 'aboutApp'}"><a href=""><span class="help icon"></span></a><div ng-include="'pages/asm/mobile/views/about.html'" class="rightMenuPopup" id="about" ng-if="rightNavMenu=='aboutApp'" stop-event></div></li>
         </ul>
      </div>