<div ng-if="DTCRmLog.show">
	<div>
		<h4 class="sub-header dtch1">Remote Requests Log
			<button class="pull-right updateBtn btn btn-default" ng-click="back2Dtc()" >Back</button>
		</h4>
	</div>
	<div ng-if="DTCRmLog.flattire" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	<div class="row col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-if="DTCRmLog.data.Display1.length || DTCRmLog.data.Display2.length">
			<span class="removepadd">
				<span class="pull-left">Display&nbsp;&nbsp;</span>
				<select  class="seldtc "  ng-model="DTCRmLog.data.defDisplay1Op"  ng-if="DTCRmLog.data.Display1.length"
					ng-options="rm for rm in DTCRmLog.data.Display1" 
					ng-change="changedValue('logDisplay1',DTCRmLog.data.defDisplay1Op,DTCRmLog.data.defDisplay2Op)">
				</select>&nbsp;&nbsp;
				<select  class=" seldtc "  ng-model="DTCRmLog.data.defDisplay2Op"  ng-if="DTCRmLog.data.Display2.length"
						ng-options="rm for rm in DTCRmLog.data.Display2"  
						ng-change="changedValue('logDisplay1',DTCRmLog.data.defDisplay1Op,DTCRmLog.data.defDisplay2Op)">
				</select>
			</span>
		</div>
	<div class="panel panel-default clearfix adjMargin clearAll" ng-if="!DTCRmLog.flattire && DTCRmLog.data.errorMsg !='N/A'">
		<div class="custPaneHead">&nbsp;</div>
			<div class="panel-body">
				<div class="info-table-body">{{DTCRmLog.data.errorMsg}}</div>
			</div>
	</div>
	<div ng-if="!DTCRmLog.flattire && DTCRmLog.data.errorMsg =='N/A'">
	<div class="row removeD1">
		
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-right" ng-if="dtcObj.paginationCtrl">			
			<ul class="userControls float-right">
					<li>
						<button ng-disabled="dtcObj.currentPage == 0" ng-click="gotoFirstPage()" class="glyphicon glyphicon-backward"  ng-class="{'active': dtcObj.currentPage != 0}">
						</button>
					</li>
					<li>
				<button ng-disabled="dtcObj.currentPage == 0" ng-click="gotoPreviousPage()" class="glyphicon glyphicon-chevron-left"  ng-class="{'active': dtcObj.currentPage != 0}">
						</button>
					</li>
					<li class="pgText">Pages</li>
					<li class="pan">{{currentPG()}}</li> 
					<li class="slash">/</li> 
					<li class="pan">{{numberOfPages()}}</li>
					<li>
						<button ng-click="gotoNextPage()" class="glyphicon glyphicon-chevron-right" ng-class="{'active': dtcObj.currentPage != dtcObj.lastPage-1}" ng-disabled="dtcObj.currentPage == dtcObj.lastPage-1">
						</button>
					</li>
					<li>
						<button  ng-click="gotoLastPage()" class="glyphicon glyphicon-forward" ng-class="{'active': dtcObj.currentPage != dtcObj.lastPage-1}" ng-disabled="dtcObj.currentPage == dtcObj.lastPage-1" >
						</button>
					</li>
			</ul>
		</div>
	</div>
	<span ng-click="showOlder(DTCRmLog.data.defDisplay1Op,DTCRmLog.data.defDisplay2Op)" ng-if="DTCRmLog.data.hasOlderData">
		<a ng-if="DTCRmLog.oldData">View Older Data</a>
		<a ng-if="!DTCRmLog.oldData">Hide Older Data</a>
	</span>
	<div class="row removeD1" style="vertical-align: middle" ng-if="dtcObj.pageSize > 0">
		<div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 bord resutls" style="white-space:nowrap;">
			{{resultsFound()}} Results Found, displaying {{fromRow()}} to {{toRow()}}
		</div> 
		<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 dtcAdjDD">
			<span class="pull-right">Rows displayed:&nbsp;&nbsp;{{rowSelected}}
				<select id="rowstoDisplay" class="seldtc" ng-model="dtcObj.rowsPerPage" ng-options="x for x in dtcObj.displayRows" ng-change="changedValue('logRow',dtcObj.rowsPerPage)">
				</select>
			</span>
		</div>
	</div>
	
	<div class="panel panel-default visibleoverflow"   
		ng-repeat="(key,rm) in DTCRmLog.data.RemoteLog | startFrom:dtcObj.currentPage*dtcObj.pageSize |	limitTo:dtcObj.pageSize " >
		<div class="panel-heading panelTable panelHead ribbonPostion">
			<span class="ribbon " 
				ng-class="{'pending':(rm.status | lowercase )=='pending','failed':(rm.status | lowercase )=='failed' ||(rm.status | lowercase )=='timed out','received':(rm.status | lowercase)=='received' || (rm.status | lowercase )=='received & saved' || (rm.status | lowercase )=='received & discarded' }">
				{{rm.status}}
			</span>
			<div class="dtcnumber">							
				<label class="fsLabel pull-left">{{key+1+(dtcObj.currentPage*dtcObj.pageSize)}}.</label>
			</div>
			<div class="dtcDetails">
				<span class="fsLabel pull-left" ng-if="rm.requestTime!='' && rm.requestTime!=null" >{{rm.requestTime}}&nbsp;|&nbsp;</span>
				<span class="fsLabel pull-left" ng-if="rm.requestor!='' && rm.requestor!=null" >{{rm.requestor}}&nbsp;-&nbsp;</span>
				<span ng-if="rm.dealerCode == '99999'" class="fsLabel " >(TMS)</span>
				<dealer-popup  stop-event  ng-if="rm.dealerCode != '99999'" dcode="{{rm.dealerCode}}" dname="{{rm.dealerName}}" 
				class="fsLabel dealernameclass fsEllipse logtip" >
				</dealer-popup>
				</span>
				<span class="clearfix"></span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body panelTable">
			<div class="dtcnumber"></div>
			<div class="dtcDetails">
				<div class="row col-xs-12 col-sm-12 col-md-6 col-lg-6 remLRpad">
					<label class="col-xs-6 col-sm-4 col-md-5 col-lg-4 fsLabel">Request Type</label>
					<div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
						<span >{{rm.requestType}}</span>
					</div>
				</div>
									
				<div class="row col-xs-12 col-sm-12 col-md-6 col-lg-6 remLRpad">
					<label class="col-xs-6 col-sm-4 col-md-5 col-lg-4 fsLabel">Status</label>
					<div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
						<span>{{rm.status}}</span>&nbsp;
						<span class="expire" ng-if="(rm.requestType | lowercase) =='data list' && (rm.status | lowercase )== 'received' ">
						(Expires in {{rm.expireDays}} days)</span>
					</div>
				</div>
				
				<div class="row col-xs-12 col-sm-12 col-md-6 col-lg-6 remLRpad">
					<label class="col-xs-6 col-sm-4 col-md-5 col-lg-4 fsLabel">Request ID</label>
					<div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
						<span>{{rm.requestID}}</span>
					</div>
				</div>
				
				<div class="row col-xs-12 col-sm-12 col-md-6 col-lg-6 remLRpad">
					<label class="col-xs-6 col-sm-4 col-md-5 col-lg-4 fsLabel">Requesting App</label>
					<div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
						<span>{{rm.requestApp}}</span>
					</div>
				</div>
				
				<div class="row col-xs-12 col-sm-12 col-md-6 col-lg-6 remLRpad">
					<label class="col-xs-6 col-sm-4 col-md-5 col-lg-4 fsLabel">Response Time</label>
					<div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
						<span>{{rm.responseTime}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<label>Note:</label>
	<ul>
	<li class="preowneddesc">
		* A previous active request existed when the requestor tried to place the request. 									
    </li>
	</ul>
		</div>
</div>