<div class="pagesection col-xs-12 col-md-12 ">
	<h4 class="sub-header">Roadside Assistance 
		<span class="circletelematics" dtip
				rel='{{roadSideAssistanceObject.RoadSideAssistance.labelNote1}}{{loopNote}}' donly="true"></span>
	</h4>

	<div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 remLRpad subtitlepadd" ng-if="showScreenNote1">{{roadSideAssistanceObject.RoadSideAssistance.data.ScreenNote1}}: 
		<label>{{roadSideAssistanceObject.RoadSideAssistance.data.guestName}}</label>
	</div>
	<div class="panel panel-default clearfix adjMargin warningmessage  remLRpad col-xs-12" 	ng-if="roadSideAssistErr">
		<div class="custPaneHead">&nbsp;</div>
		<div class="panel-body">
			<div class="info-table-body">{{roadSideAssistanceObject.RoadSideAssistance.errorMsg}}</div>
		</div>
	</div>
	<div class="panel panel-default clearfix adjMargin warningmessage  remLRpad col-xs-12" 
		ng-if="roadSideAssistanceObject.RoadSideAssistance.noDofuError != 'N/A'">
		<div class="custPaneHead">&nbsp;</div>
		<div class="panel-body">
			<div class="info-table-body">{{roadSideAssistanceObject.RoadSideAssistance.noDofuError}}</div>
		</div>
	</div>	

	<div ng-if="!roadSideAssistErr" class="roadsidetitlepaddingtop">
		<ul class="teleProdDetail roadsideDetails" id="teleproductList">
			<li class="col-xs-12 col-md-12 removepadd "	ng-repeat="(eachKeyIneachAssistance,eachAssistance) in roadSideAssistanceObject.RoadSideAssistance.data.roadsideAssistanceList"
			ng-class="{'greenproduct': ((eachAssistance.status | lowercase) == 'enrolled' || (eachAssistance.status | lowercase) == 'active' || (eachAssistance.status | lowercase) == 'linked'),'redproduct': ((eachAssistance.status | lowercase ) == 'inactive' ||  (eachAssistance.status | lowercase ) == 'not linked' || (eachAssistance.status | lowercase ) == 'not enrolled') ,'greyproduct': (eachAssistance.status | lowercase) == 'future','removemargintopli':$first}">
				<div class="col-xs-4 col-md-3 col-lg-2  iconcenter vertical-middle">
					<span ng-class="{'reduceHeight': roadSideAssistanceObject.RoadSideAssistance.data.hideColumns }" class="statustextmiddle"> 
						<span class="statusicon"></span> 
						<span class="prodstatus">{{eachAssistance.status}}</span>
					</span>
				</div>
				<div class="col-xs-8 col-md-9 col-lg-10 tab-color vertical-middle">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
						<div class="row">
							<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12   "> 
								<span>{{eachAssistance.programName}}</span>
							</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colmd51  addpaddingbottomdescription  ">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12   "> 
								<span>{{eachAssistance.programDescription}}</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
						<div class="row">
							<div class="col-xs-5   "> 
								<span>Effective Date</span>
							</div>
			<!-- ngIf: !XMSubscriptionVOErr -->
							<label class="col-xs-7 ng-scope"  >
								<span>	{{eachAssistance.effectiveDate}}</span>
							</label><!-- end ngIf: !XMSubscriptionVOErr -->
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
						<div class="row">
							<div class="col-xs-5   "> 
								<span>Expiration Date</span>
							</div>
			<!-- ngIf: !XMSubscriptionVOErr -->
							<label class="col-xs-7"  >
								<span>	{{eachAssistance.expirationDate}}</span>
							</label><!-- end ngIf: !XMSubscriptionVOErr -->
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colmd51 remLRpad  roadsidetitlepaddingtop assisthistory">
		<h4 class="">Assistance History 
			<span class="circletelematics subcircle" dtip
				rel="{{roadSideAssistanceObject.RoadSideAssistanceHistory.labelNote2}}" donly="true"></span>
		</h4>
	</div>

	<div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 remLRpad" ng-if="roadSideAssistanceObject.RoadSideAssistanceHistory.screenNote2 != 'N/A'">
		<span class="roadsidesmallicon"></span>
		<span>{{roadSideAssistanceObject.RoadSideAssistanceHistory.screenNote2}}</span>
	</div>
	<div class="panel panel-default clearfix adjMargin warningmessage  remLRpad col-xs-12" ng-if="roadSideAssistHistoryErr">
		<div class="custPaneHead">&nbsp;</div>
		<div class="panel-body">
			<div class="info-table-body">{{roadSideAssistanceObject.RoadSideAssistanceHistory.errorMsg}}</div>
		</div>
	</div>
	<div ng-if="!roadSideAssistHistoryErr">
		<ul class="teleProdDetail" id="teleproductList">
			<li class="col-xs-12 col-md-12 removepaddwithtoppadd  assisthistorylibackground"
				ng-repeat="(eachKeyIneachRoadSideHistory,eachRoadSideHistory) in roadSideAssistanceObject.RoadSideAssistanceHistory.data">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
					<div class="row">
			<!-- ngIf: !XMSubscriptionVOErr -->
						<label class="col-xs-12"  >
							<span>	Date {{eachRoadSideHistory.dispatchDate}}</span>
						</label><!-- end ngIf: !XMSubscriptionVOErr -->
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
					<div class="row">
						<div class="col-xs-5   "> 
							<span>Customer Comment</span>
						</div>
			<!-- ngIf: !XMSubscriptionVOErr -->
						<label class="col-xs-7"  >
							<span>	{{eachRoadSideHistory.customerComment}}</span>
						</label><!-- end ngIf: !XMSubscriptionVOErr -->
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-if="vehOneLiner.division =='LEXUS'">
					<div class="row">
						<div class="col-xs-5   ">
							<span>Servicer Comment</span>
						</div>
			<!-- ngIf: !XMSubscriptionVOErr -->
						<label class="col-xs-7"  >
							<span>	{{eachRoadSideHistory.servicerComment}}</span>
						</label><!-- end ngIf: !XMSubscriptionVOErr -->
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-5   ">
							<span>Destination</span>
						</div>
			<!-- ngIf: !XMSubscriptionVOErr -->
						<label class="col-xs-7"  >
							<span>	{{eachRoadSideHistory.destination}}</span>
						</label><!-- end ngIf: !XMSubscriptionVOErr -->
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row remLRpad">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
</div>