<h2 class="pull-left">Service Connect Alerts</h2>
<span class="pull-right  copyicon"
	ng-class="{hide:serviceConnectAlertFlatTire == true}" id='copy_button'
	ng-click="copyPageText();"></span>
<div class="panel panel-default margintopteleacc"
	ng-if="serviceConnectAlertFlatTire">
	<div class="custPaneHead">
		<span class="ng-scope">We're sorry... try again</span>
	</div>
	<div class="panel-body ng-scope">
		<div class="info-table-body">
			<div class="errorMsg">
				<span><img
					src="/serviceLane/pages/asm/mobile/images/Tablet/SLaneError.jpg"
					style="width: 148px; height: 160px; display: inline; float: left; margin-right: 10px; padding: 0 2px 13px 15px;"></span><span
					style="padding-right: 5px;"><span style="font-weight: bold;">Uh
						oh!.. Service Lane has a flat tire. We apologize for any
						inconvenience. Please try to load the screen again.</span><span>
						If you are repeatedly getting this error, TMS Dealers please call
						1-877-DL-DAILY, GST Dealers call 1-800-933-3416 and SET Dealers
						call 1-800-982-6057. Alternatively you may send an email using the
						Feedback link provided at the bottom of this page.</span></span>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 serviceConnectAlertContainer" id='to_copy'
	ng-class="{hide:serviceConnectAlertFlatTire == true,'reduce-ed-box-height' : (totalEdCount == 3),'reduce-ed-box-height-two' : (totalEdCount < 3)}">
	<div class="col-xs-12 headersectionscalert">
		<h5>
			Indicators ({{serviceConnectAlertsDatas.indicatorCount}}) <span
				ng-if="serviceConnectAlertsDatas.indicatorMostRecentDate != 'N/A'">
				(as of {{serviceConnectAlertsDatas.indicatorMostRecentDate}})</span>&nbsp;
		</h5>
	</div>
	<ul class="col-xs-12" ng-if="serviceConnectAlertsDatas.showIndicator">
		<li class="col-xs-12  "
			ng-if="serviceConnectAlertsDatas.showQuantEngineOil">
			<div class="col-xs-2 col-md-1 alertIcons service-connect-alert-icon"
				style="background-image: url({{serviceConnectAlertsDatas.qtyOfEngOilIcon}});"></div>
			<div class="col-xs-10 col-md-11">
				<div>
					<h5>Quantity of Engine Oil</h5>
					<div>
						{{serviceConnectAlertsDatas.qtyOfEngOilDesc}}
						</p>
						<p>{{serviceConnectAlertsDatas.qtyOfEngOilLastUpdTime}}&nbsp;
					</div>
				</div>
			</div>

		</li>
		<li class="col-xs-12  "
			ng-if="serviceConnectAlertsDatas.showSmartKeyBat">

			<div class="col-xs-2 col-md-1 alertIcons service-connect-alert-icon"
				style="background-image: url({{serviceConnectAlertsDatas.smartKeyBatIcon}});">

			</div>
			<div class="col-xs-10 col-md-11">
				<div>
					<h5>Smart Key Battery Status</h5>
					<div>{{serviceConnectAlertsDatas.smartKeyBatDesc}}</div>
					<p>{{serviceConnectAlertsDatas.smartKeyBatLastUpdTime}}&nbsp;</p>
				</div>
			</div>

		</li>

		<li class="col-xs-12  "
			ng-if="serviceConnectAlertsDatas.showEngineOilDegrade">

			<div class="col-xs-2 col-md-1 alertIcons service-connect-alert-icon"
				style="background-image: url({{serviceConnectAlertsDatas.replaceEngOilIcon}});">

			</div>
			<div class="col-xs-10 col-md-11">
				<div>
					<h5>Engine Oil Degradation</h5>
					<div>{{serviceConnectAlertsDatas.replaceEngOilDesc}}</div>
					<p>{{serviceConnectAlertsDatas.replaceEngOilLastUpdTime}}&nbsp;</p>
				</div>
			</div>

		</li>

	</ul>

	<ul  class="col-xs-12 margintopclass"
		ng-if="!serviceConnectAlertsDatas.showIndicator">
		<li class=" col-xs-12  odd">
			<h5 class="alertsectionheader norecord">{{serviceConnectAlertsDatas.noIndicatorsMsg}}</h5>
		</li>


	</ul>


	<div class="col-xs-12 headersectionscalert">
		<h5>
			Warnings ({{serviceConnectAlertsDatas.warningsCount}}) <span
				ng-if="serviceConnectAlertsDatas.wngLastUpdateTime != 'N/A' || serviceConnectAlertsDatas.lastKnownMileage != 'N/A'">(<span
				ng-if="serviceConnectAlertsDatas.wngLastUpdateTime != 'N/A'">as
					of {{serviceConnectAlertsDatas.wngLastUpdateTime}} </span><span
				ng-if="serviceConnectAlertsDatas.lastKnownMileage != 'N/A'">@
					{{serviceConnectAlertsDatas.lastKnownMileage}} miles</span>)
			</span>&nbsp;
		</h5>
	</div>
	<ul  class="col-xs-12"
		ng-if="serviceConnectAlertsDatas.showWarningList">
		<li class="col-xs-12  odd"
			ng-repeat="eachAlertwarning in serviceConnectAlertsDatas.warningList">
			<div
				class="col-xs-2 col-md-1 alertIcons service-connect-alert-icon extrasize"
				style="background-image: url({{eachAlertwarning.warningIcon}});">

			</div>
			<div class="col-xs-10 col-md-11">
				<div>
					<h5>{{eachAlertwarning.warningCode}}
						({{eachAlertwarning.warningDesc}})</h5>
					<div>{{eachAlertwarning.warningOwnersManual}}</div>
					<p>
						{{eachAlertwarning.warningDcmTime}}<span
							ng-if="eachAlertwarning.warningMileage != 'N/A'"> @
							{{eachAlertwarning.warningMileage}} miles</span>&nbsp;
					</p>
				</div>
			</div>
		</li>


	</ul>
	<ul  class="col-xs-12 margintopclass1"
		ng-if="!serviceConnectAlertsDatas.showWarningList">
		<li class=" col-xs-12  odd">
			<h5 class="norecord">{{serviceConnectAlertsDatas.noWarningsMsg}}</h5>
		</li>


	</ul>
</div>
<div id="copytextid"
	ng-class="{'fadeoutcopytext': stopFade, 'fadeincopytext': startFade}"
	class="defaultcopycontainer">Copied to clipboard.</div>