<h2 class="pull-left ng-scope feedbacktitle">General Feedback <span class="pull-right close closeFeedback" ng-click="overlayShow(false)" my-touchstart="hidePopupAndOverlay();">X</span></h2>

<div class="feedbackContainer">

Pleae god help me please 


<div  stop-event  >
					
						<h4>Documents {{"("+documentObj.length+")"}}</h4>
						
						<div class="doc" ng-repeat="doc in documentObj" ng-if="$index < listCunt">
						<a open-document data-url="{{doc.documentUrl}}?locale={{doc.language}}" stop-event>{{doc.objectTitle}}</a>
						</div>
						<div ng-click=showMore("more") ng-if="documentObj.length > listCunt" stop-event>More...</div>
						<div ng-click=showMore("less") ng-if="documentObj.length <= listCunt && documentObj.length > 3" stop-event>Less...</div>	
					</div>
       
    </div>

