	<!--div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad">
		<h4 class="sub-header">Scheduled Maintenance <button class="pull-right updateBtn btn btn-default" ng-click="smData.showSMGrid = false">Back</button></h4>
	</div-->
	 <div class="">
	<table ng-table="tableParams" class="table ng-table smgridTable" ng-swipe-left="swipeLeft($event)" ng-hide="showTableError" ng-if="smData.smgridObj.recommendedService.length">
		<thead>
		<tr>
		<th class="header smColWidth">
			<div style="text-align:left;vertical-align:middle;">{{smData.smgridObj.recommendedServiceHeader}}</div>
		</th>
		<th class="header" ng-if="smData.smgridObj.intervalArray.length" ng-repeat="tabHead in smData.smgridObj.intervalArray">
			<span>{{tabHead.tableHeader}}</span>
			<div>{{tabHead.tableVal}}</div>
		</th>		
		</tr>
		
		</thead>		
		<tbody class="tableSMGrid">
			<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="taskDes in smData.smgridObj.recommendedService" ng-class="{'orange' : smData.selectedSMGridTab == 'rm_{{$index}}'}" ng-click="smData.smGridTab('rm_{{$index}}')">
				<td class="smColWidth">{{taskDes.taskDescription}}<a ng-if="taskDes.containsNotes.length" ng-repeat="gridfNote in taskDes.containsNotes track by $index" class="fLink" scroll-to scroll-url="{{gridfNote}}" scoll-page="true">&nbsp;&nbsp;({{gridfNote}})&nbsp;&nbsp;<span ng-if="taskDes.containsNotes.length > ($index +1)">,</span></a></td>
				<td class="smcol" ng-if="taskDes.previousrow!= 'N/A'"><div ng-show="taskDes.previousrow" class="tick">&nbsp;</div></td>
				<td class="smcol current" ng-if="taskDes.currentrow !='N/A'"><div ng-show="taskDes.currentrow" class="tick">&nbsp;</div></td>
				<td class="smcol" ng-if="taskDes.nextrow !='N/A'"><div ng-show="taskDes.nextrow" class="tick">&nbsp;</div></td>
			</tr>
		</tbody>
		<thead ng-if="smData.smgridObj.specialOperatingConditionArray.length">
		<tr>
		<th class="header smColWidth" colspan="4">
			<div>{{smData.smgridObj.specialOperatingConditionHeader}}<a class="fLink" ng-if="smData.smgridObj.specialOperatingConditionHeaderLinkText.length" ng-repeat="gridfNote in smData.smgridObj.specialOperatingConditionHeaderLinkText track by $index" scroll-to scroll-url="{{gridfNote}}" scoll-page="true">&nbsp;&nbsp;({{gridfNote}})&nbsp;&nbsp;<span ng-if="smData.smgridObj.specialOperatingConditionHeaderLinkText.length > ($index +1)">,</span></a></div>
			<!--th class="header" ng-if="smData.smgridObj.intervalArray.length" ng-repeat="tabHead in smData.smgridObj.intervalArray">
			<span class="hidcol">{{tabHead.tableHeader}}</span>
		</th-->
		</th>
		</tr>
		</thead>		
		<tbody class="tableSMGrid" ng-if="smData.smgridObj.specialOperatingConditionArray.length">
			
			<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="specialTaskDes in smData.smgridObj.specialOperatingConditionArray" ng-class="{'orange' : smData.selectedSMGridTab == 'sp_{{$index}}'}" ng-click="smData.smGridTab('sp_{{$index}}')">
				<td ng-class="{'smGridIndent': specialTaskDes.bullet}" style="font-weight: bold; width: 50%;" class="smColWidth">
				<span ng-if="specialTaskDes.bullet" class="smbluedot">&nbsp;</span>{{specialTaskDes.taskDescription}}
				<a ng-if="specialTaskDes.containsNotes.length" class="fLink" ng-repeat="gridfNote in specialTaskDes.containsNotes track by $index" scroll-to scroll-url="{{gridfNote}}" scoll-page="true">&nbsp;&nbsp;({{gridfNote}})&nbsp;&nbsp;<span ng-if="specialTaskDes.containsNotes.length > ($index +1)">,</span></a>
	
				
				</td>
				<td class="smcol" ng-if="specialTaskDes.previousrow!= 'N/A'"><div ng-show="specialTaskDes.previousrow" class="tick">&nbsp;</div></td>
				<td class="smcol current" ng-if="specialTaskDes.currentrow !='N/A'"><div ng-show="specialTaskDes.currentrow" class="tick">&nbsp;</div></td>
				<td class="smcol" ng-if="specialTaskDes.nextrow !='N/A'"><div ng-show="specialTaskDes.nextrow" class="tick">&nbsp;</div></td>
				
				
			</tr>
		</tbody>
	</table>
	<!--table ng-table="tableParams" class="table ng-table smgridTable" ng-swipe-left="swipeLeft($event)" ></table-->

	<div ng-if="smData.smgridObj.screenNotesArray.length" style="margin-top: 10px;" class="smFootNote"><h5>Note: </h5> 
		<ul><li id="linksmGridNote_{{fNote.superscript}}" ng-repeat="fNote in smData.smgridObj.screenNotesArray track by $index">{{fNote.superscript}}. {{fNote.notes}}</li></ul>
		<div class="row remLRpad"><div>&nbsp;</div>		
	</div>
	</div>
</div>
<div class="row remLRpad">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
</div>