<!--TCMC/LCMC Form -->
<form id="tcmcForm" target="tcmcframe" method="post" ng-submit ng-action="tcmcInfo.tcmcFormData.tcmcURL">
	<input type="hidden" name="USER_ID" ng-value="tcmcInfo.tcmcFormData.userId">
	<input type="hidden" name="FIRST_NAME" ng-value="tcmcInfo.tcmcFormData.firstName">
	<input type="hidden" name="LAST_NAME" ng-value="tcmcInfo.tcmcFormData.lastName">
	<input type="hidden" name="DEALER_CODE" ng-value="tcmcInfo.tcmcFormData.encryptedDealerCode">
	<input type="hidden" name="ROLE" ng-value="tcmcInfo.tcmcFormData.role">
	<input type="hidden" name="SPIN" ng-value="tcmcInfo.tcmcFormData.spin">
	<input type="hidden" name="MAKE" ng-value="tcmcInfo.tcmcFormData.make">
	<input type="hidden" name="MODEL" ng-value="tcmcInfo.tcmcFormData.model">
	<input type="hidden" name="YEAR" ng-value="tcmcInfo.tcmcFormData.year">
	<input type="hidden" name="TRIM" ng-value="tcmcInfo.tcmcFormData.trim">
	<input type="hidden" name="OPTION" ng-value="tcmcInfo.tcmcFormData.option">
	<input type="hidden" name="LOCALE" ng-value="tcmcInfo.tcmcFormData.locale">
	<input type="hidden" name="TIMESTAMP" ng-value="tcmcInfo.tcmcFormData.encryptedTimeStamp">
</form>

<!--TBC Dealer Group Form -->
<form id="tbcForm" target="tcmcframe" method="post" ng-submit ng-action="tcmcInfo.tcmcFormData.tcmcURL">
	<input type="hidden" name="USER_GUID" ng-value="tcmcInfo.tcmcFormData.userId"/>
	<input type="hidden" name="FIRST_NAME" ng-value="tcmcInfo.tcmcFormData.firstName"/>
	<input type="hidden" name="LAST_NAME" ng-value="tcmcInfo.tcmcFormData.lastName"/>
	<input type="hidden" name="DEALER_CODE" ng-value="tcmcInfo.tcmcFormData.encryptedDealerCode"/>
	<input type="hidden" name="USER_EMAIL" ng-value="tcmcInfo.tcmcFormData.email"/>
	<input type="hidden" name="ROLE" ng-value="tcmcInfo.tcmcFormData.role"/>
	<input type="hidden" name="MAKE" ng-value="tcmcInfo.tcmcFormData.make"/>
	<input type="hidden" name="MODEL" ng-value="tcmcInfo.tcmcFormData.model"/>
	<input type="hidden" name="YEAR" ng-value="tcmcInfo.tcmcFormData.year"/>
	<input type="hidden" name="GRADE" ng-value="tcmcInfo.tcmcFormData.trim"/>
	<input type="hidden" name="LOCALE" ng-value="tcmcInfo.tcmcFormData.locale"/>
	<input type="hidden" name="TIMESTAMP" ng-value="tcmcInfo.tcmcFormData.encryptedTimeStamp"/>
	<input type="hidden" name="TIRE_SIZE" ng-value="tcmcInfo.tcmcFormData.tireSize"/>
	<input type="hidden" name="VIN" ng-value="tcmcInfo.tcmcFormData.vinNumber"/>
</form>
<!--ACE Form -->
<form id="aceForm" target="tcmcframe" method="post" ng-submit  ng-action="aceInfo.aceFormData.ptsURL">
	<input type="hidden" name="FIRST_NAME" ng-value="aceInfo.aceFormData.firstName"/>
	<input type="hidden" name="LAST_NAME" ng-value="aceInfo.aceFormData.lastName"/>
	<input type="hidden" name="DEALER_CODE" ng-value="aceInfo.aceFormData.dealerCode"/>
	<input type="hidden" name="SPIN" ng-value="aceInfo.aceFormData.spin"/>
	<input type="hidden" name="DISTRICT_CODE" ng-value="aceInfo.aceFormData.districtCode"/>
	<input type="hidden" name="REGION_CODE" ng-value="aceInfo.aceFormData.regionCode"/>
	<input type="hidden" name="LOCALE" ng-value="aceInfo.aceFormData.locale"/>
	<input type="hidden" name="TIMESTAMP" ng-value="aceInfo.aceFormData.encryptedTimeStamp"/>
</form>
