<h2 class="pull-left ng-scope techniciantitle browncolor">&nbsp;{{campTechnician.campData.name}}<span class="pull-right close closeTechnician" ng-click="campTechnician.show = false" my-touchstart="hidePopupAndOverlay();">X</span></h2>
<div class="diagnosticReports pull-left" ng-if="campTechnician.techFlatTireError" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'" styel="margin-bottom: 10px;"></div>
<div class="panel panel-default pull-left" ng-if="campTechnician.errMsg" style="width: 400px;">
	<div class="custPaneHead">&nbsp;</div>
	<div class="info-table-body">
		{{campTechnician.data.errorMsg}}
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 teleaccountContainer">
 <div ng-hide="campTechnician.errMsg" ng-if="!campTechnician.techFlatTireError">

<table class="table">
		<tbody class="mytable">

			<tr class="odd">
				<td class="seperatorclass">Experience</td>
				<td>{{campTechnician.campData.exp+' Months'}}</td>
			</tr>
			<tr class="even">
				<td class="seperatorclass">Certification</td>
				<td>{{campTechnician.campData.certificate}}</td>
			</tr>
			<tr class="odd">
				<td class="seperatorclass">ASE</td>
				<td>					
					<span>{{campTechnician.data.ase}}</span>
				</td>				
			</tr>			

			<tr class="even">
				<td class="seperatorclass">Course Code</td>
				<td>
					<span>{{campTechnician.data.courseCode}}</span>
				</td>				
			</tr>						
</tbody>			
</table>
<p class="text-right"><i>*Information as of {{campTechnician.campData.lastDate}}</i></p>  

</div> 

    </div>

