<div class="pagesection">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad"><h4 class="sub-header">Vehicle Information</h4></div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 colmd51 remLRpad">
		<div class="row" ng-if="vehicleInfo.tcuvCertified != 'N/A'">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">
				<span ng-if="vehOneLiner.division=='SCION'">SCPO</span>
				<span ng-if="vehOneLiner.division=='LEXUS'">LCPO</span>
				<span ng-if="vehOneLiner.division=='TOYOTA' && vehicleInfo.hybridIndicator==false">TCUV</span>
				<span ng-if="vehOneLiner.division=='TOYOTA' && vehicleInfo.hybridIndicator==true">TCUH</span>
				<span>&nbsp;DOFU</span>
			</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.tcuvDofu != 'N/A'">{{vehicleInfo.tcuvDofu}}</span>
				<span ng-if="vehicleInfo.tcuvDofu == null || vehicleInfo.tcuvDofu == ''">N/A</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">DOFU</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.dofu != 'N/A'">{{vehicleInfo.dofu}}</span>
				<span ng-if="vehicleInfo.dofu == '' || vehicleInfo.dofu == null || vehicleInfo.dofu == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Engine Oil</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.engineOil != 'N/A'" class="fsEllipse tipWidth" rel="{{vehicleInfo.engineOil}}" dtip>{{vehicleInfo.engineOil}}</span>
				<span ng-if="vehicleInfo.engineOil == '' || vehicleInfo.engineOil == null || vehicleInfo.engineOil == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>		
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Engine #</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.engine != 'N/A'">{{vehicleInfo.engine}}</span>
				<span ng-if="vehicleInfo.engine == '' || vehicleInfo.engine == null || vehicleInfo.engine == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>		
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Production Date</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.prodDate != 'N/A'">{{vehicleInfo.prodDate}}</span>
				<span ng-if="vehicleInfo.prodDate == '' || vehicleInfo.prodDate == null || vehicleInfo.prodDate == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Color</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span class="fsEllipse tipWidth" ng-if="vehicleInfo.color1 != 'N/A' && vehicleInfo.color2 != 'N/A' && vehicleInfo.color3 != 'N/A' && vehicleInfo.color4 != 'N/A'" rel="{{vehicleInfo.color1}}-{{vehicleInfo.color2}}/{{vehicleInfo.color3}}-{{vehicleInfo.color4}}" dtip>
				{{vehicleInfo.color1}}-{{vehicleInfo.color2}}/{{vehicleInfo.color3}}-{{vehicleInfo.color4}}
				</span>
				<span ng-if="vehicleInfo.color1 == 'N/A' && vehicleInfo.color2 != 'N/A' && vehicleInfo.color3 == 'N/A' && vehicleInfo.color4 != 'N/A'" rel="{{vehicleInfo.color2}}/{{vehicleInfo.color4}}" dtip>
				{{vehicleInfo.color2}}/{{vehicleInfo.color4}}
				</span>
				<span ng-if="vehicleInfo.color1 == 'N/A' && vehicleInfo.color2 == 'N/A' && vehicleInfo.color3 != 'N/A' && vehicleInfo.color4 != 'N/A'" rel="{{vehicleInfo.color3}}/{{vehicleInfo.color4}}" dtip>
				{{vehicleInfo.color3}}-{{vehicleInfo.color4}}
				</span>
				<span ng-if="vehicleInfo.color1 != 'N/A' && vehicleInfo.color2 != 'N/A' && vehicleInfo.color3 == 'N/A' && vehicleInfo.color4 == 'N/A'" rel="{{vehicleInfo.color1}}/{{vehicleInfo.color2}}" dtip>
				{{vehicleInfo.color1}}-{{vehicleInfo.color2}}
				</span>				
				<span ng-if="vehicleInfo.color1 == 'N/A' && vehicleInfo.color2 == 'N/A' && vehicleInfo.color3 == 'N/A' && vehicleInfo.color4 == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Remote Capable</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.ERCapable != 'N/A'">{{vehicleInfo.ERCapable}}</span>
				<span ng-if="vehicleInfo.ERCapable == '' || vehicleInfo.ERCapable == null || vehicleInfo.ERCapable == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Remote Opted In</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.EROptedIn != 'N/A'">{{vehicleInfo.EROptedIn}}</span>
				<span ng-if="vehicleInfo.EROptedIn == '' || vehicleInfo.EROptedIn == null || vehicleInfo.EROptedIn == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>		
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 colmd5 remLRpad">
		<div class="row" ng-if="vehicleInfo.tcuvCertified != 'N/A'">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">
				<span ng-if="vehOneLiner.division=='SCION'">SCPO</span>
				<span ng-if="vehOneLiner.division=='LEXUS'">LCPO</span>
				<span ng-if="vehOneLiner.division=='TOYOTA' && vehicleInfo.hybridIndicator==false">TCUV</span>
				<span ng-if="vehOneLiner.division=='TOYOTA' && vehicleInfo.hybridIndicator==true">TCUH </span>
				<span>&nbsp;Selling Dealer</span>
			</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6" ng-if="vehicleInfo.tcuvDealerName == null || vehicleInfo.tcuvDealerName == ''">
				<span>N/A</span>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6" ng-if="vehicleInfo.tcuvDealerName != null">
				<!--popover-append-to-body="I appearedred on focus! Click away and I'll vanish..."  popover-trigger="focus" popover="dealerDetail.html"-->
				<dealer-popup   stop-event dcode="{{vehicleInfo.tcuvRetailedDealer}}" dname="{{vehicleInfo.tcuvDealerName}}"></dealer-popup>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">Original Selling Dealer</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
				<span ng-if="vehicleInfo.originalSellingDealerName != null">
					<dealer-popup   stop-event dcode="{{vehicleInfo.originalSellingDealerCode}}" dname="{{vehicleInfo.originalSellingDealerName}}"></dealer-popup>
				</span>
				<span ng-if="vehicleInfo.originalSellingDealerName == null">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Engine Oil Type</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.engineOilType != 'N/A'">{{vehicleInfo.engineOilType}}</span>
				<span ng-if="vehicleInfo.engineOilType == '' || vehicleInfo.engineOilType == null || vehicleInfo.engineOilType == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Trans/Drive</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.trans != 'N/A' && vehicleInfo.drive != 'N/A'">{{vehicleInfo.trans}}/{{vehicleInfo.drive}}</span>
				<span ng-if="vehicleInfo.trans != 'N/A' && vehicleInfo.drive == 'N/A'">{{vehicleInfo.trans}}</span>
				<span ng-if="vehicleInfo.trans == 'N/A' && vehicleInfo.drive != 'N/A'">{{vehicleInfo.drive}}</span>
				<span ng-if="vehicleInfo.trans == 'N/A' && vehicleInfo.drive == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Plant Code</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.plantCode != 'N/A'">{{vehicleInfo.plantCode}}</span>
				<span ng-if="vehicleInfo.plantCode == '' || vehicleInfo.plantCode == null || vehicleInfo.plantCode == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Monroney Label</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<a open-document data-dynamicc="true" data-url="{{'/serviceLane/mobile/getMonoroneyPdf?vehicleId='+inputValue}}">
				<img src="/serviceLane/pages/asm/mobile/images/Tablet/PDF_icon_red.png" height="27" width="25">
				</a>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">VIN Destination</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.vinDestination != 'N/A'" ng-attr-id="{{vehicleInfo.vinDestination | uppercase}}" class="flag_vindes"></span>
				<span ng-if="vehicleInfo.vinDestination != 'N/A'" class="flag_vindestxt">{{vehicleInfo.vinDestination | uppercase}}</span>
			</div>
		</div>
		<div class="row">
            <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Next Service Apt</label>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span class="fsEllipse tipWidth" ng-if="vehicleInfo.nextServiceApt == 'No DOFU available' || vehicleInfo.nextServiceApt == 'No Schedule Maintenance available'" dtip rel="{{vehicleInfo.nextServiceApt}}">{{vehicleInfo.nextServiceApt}}</span>
			   <span class="dealernameclass fsEllipse tipWidth" ng-if="vehicleInfo.nextServiceApt != 'No DOFU available' && vehicleInfo.nextServiceApt != 'No Schedule Maintenance available'" ng-click="nextServiceAptCal()">{{vehicleInfo.nextServiceApt}}</span>
            </div>
        </div>
	</div>
</div>


<div class="row remLRpad">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
</div>
<div class="pagesection">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remLRpad">
	<h4><strong>Service Connect</strong></h4>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 colmd51 remLRpad">
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Diagnostics Capable</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.SCCapable != 'N/A'">{{vehicleInfo.SCCapable}}</span>
				<span ng-if="vehicleInfo.SCCapable == '' || vehicleInfo.SCCapable == null || vehicleInfo.SCCapable == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Diagnostics Opted In</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.SCOptedIn != 'N/A'">{{vehicleInfo.SCOptedIn}}</span>
				<span ng-if="vehicleInfo.SCOptedIn == '' || vehicleInfo.SCOptedIn == null || vehicleInfo.SCOptedIn == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 colmd5 remLRpad">
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Transmitting</label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
				<span ng-if="vehicleInfo.SCTransmitting != 'N/A'">{{vehicleInfo.SCTransmitting}}</span>
				<span ng-if="vehicleInfo.SCTransmitting == '' || vehicleInfo.SCTransmitting == null || vehicleInfo.SCTransmitting == 'N/A'">{{notAvailable}}</span>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-6 col-md-6 col-sm-4 col-xs-6"><span>Preferred Dealer</span></label>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6" ng-if="vehicleInfo.prefferedDealer == 'N/A'">
				<span>N/A</span>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6" ng-if="vehicleInfo.prefferedDealer != 'N/A'">
				<dealer-popup stop-event dcode="{{vehicleInfo.preDealerC}}" dname="{{vehicleInfo.preDealerN}}"></dealer-popup>
			</div>
		</div>
	</div>
</div>
<div class="row remLRpad">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
</div>