<div class="pagesection vehiclespecification">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  remLRpad">
    <h4 class="sub-header">Vehicle Specification</h4>
  </div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 colmd51 remLRpad">
	<div class="row">
	  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">Trans Oil</label>
	  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
		<div ng-repeat="transOil in tempTransOil" ng-if="vehicleSpecInfo.transOil != 'N/A' || vehicleSpecInfo.transOil != '' || vehicleSpecInfo.transOil != null">{{transOil}}</div>
		<span ng-if="vehicleSpecInfo.transOil == '' || vehicleSpecInfo.transOil == null || vehicleSpecInfo.transOil == 'N/A'">N/A</span>
	  </div>
	</div>
	<div class="row">
	 <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">Coolant</label>
	  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
		<span class="fsEllipse tipWidth" ng-if="coolant != 'N/A'" rel="{{vehicleSpecInfo.coolant}}" dtip >{{vehicleSpecInfo.coolant}}</span><span ng-if="coolant == 'N/A'">{{notAvailable}}</span></div>       
	</div>
	<div class="row">      
	  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">GVWR</label>
	  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
		<span ng-if="vehicleSpecInfo.gvwr !='N/A'">{{vehicleSpecInfo.gvwr}}</span>
		<span ng-if="vehicleSpecInfo.gvwr == 'N/A'">{{notAvailable}}</span>
	  </div>
	</div>
	<div class="row">
	  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">Fuel Tank Capacity</label>
	  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
		<span class="fsEllipse tipWidth" rel="{{vehicleSpecInfo.fuelTankCapacity}}" dtip ng-if="vehicleSpecInfo.fuelTankCapacity !='N/A'">{{vehicleSpecInfo.fuelTankCapacity}}</span>
		<span ng-if="vehicleSpecInfo.fuelTankCapacity == 'N/A'">{{notAvailable}}</span>
	  </div>
	</div>
	<div class="row">
	  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">Dinghy Tow</label>
	  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
		<span ng-if="vehicleSpecInfo.dinghyTow !='N/A'">{{vehicleSpecInfo.dinghyTow}} <span class="dinghy-icon" ng-class="{'yes': vehicleSpecInfo.dinghyTow  == 'Yes' , 'no' : vehicleSpecInfo.dinghyTow  == 'No'}">&nbsp;</span></span>
		<span ng-if="vehicleSpecInfo.dinghyTow == 'N/A'">{{notAvailable}}</span>
	  </div>
	</div> 
	</div>	
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 colmd5 remLRpad reduceMarg">
		<div class="row">
		  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">Towing Capacity<span class="circlevehiclespec" dtip rel="Before towing, confirm your vehicle and trailer are compatible, hooked up and loaded properly and that you have any necessary additional equipment.Do not exceed any Weight Ratings and follow all instructions in your Owner's manual. The maximum you can tow depends on the total weight of any cargo, occupants and installed equipment." donly="true"></span></label>
		  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
			<span ng-if="vehicleSpecInfo.towingCapacity == 'N/A'">{{notAvailable}}</span>
				<div class="fsEllipse tipWidth" rel="towingCap" dtipp ng-if="vehicleSpecInfo.towingCapacity != 'N/A' && vehicleSpecInfo.towingCapacity >'0'" >
						{{vehicleSpecInfo.towingCapacity}}
						<span ng-if="vehicleSpecInfo.towingCapacityUnit!='N/A'">&nbsp;</span>
						<span ng-if="vehicleSpecInfo.towingCapacityUnit!='N/A'">{{vehicleSpecInfo.towingCapacityUnit}}</span>
						<span ng-if="vehicleSpecInfo.towingCapacityComment!='N/A'">{{vehicleSpecInfo.towingCapacityComment}}</span>
				</div>
				<div id="towingCap" ng-if="vehicleSpecInfo.towingCapacity != 'N/A' && vehicleSpecInfo.towingCapacity >'0'" class="shadowpopup" ng-show="dealPopUp">
					<span class=" closebutton  " ng-click="overlayShow(false);" my-touchstart="hidePopupAndOverlay();">X</span>
						{{vehicleSpecInfo.towingCapacity}}
						<span ng-if="vehicleSpecInfo.towingCapacityUnit!='N/A'">&nbsp;</span>
						<span ng-if="vehicleSpecInfo.towingCapacityUnit!='N/A'">{{vehicleSpecInfo.towingCapacityUnit}}</span>
						<span ng-if="vehicleSpecInfo.towingCapacityComment!='N/A'">{{vehicleSpecInfo.towingCapacityComment}}</span>
				</div>
		  </div>
		</div>
		<div class="row" ng-if="vehicleSpecInfo.displayWtowPack">
		  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 remLRpad pad-lf-25px">w/Tow Package</label>
		  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
			<span ng-if="vehicleSpecInfo.withouttowingCapacity == 'N/A'">{{notAvailable}}</span>
				<div class="fsEllipse tipWidth" rel="noTowing" dtipp ng-if="vehicleSpecInfo.withouttowingCapacity != 'N/A' && vehicleSpecInfo.withouttowingCapacity =='0'">
					<div class="notowing-icon"></div> (Not recommended for towing)
				</div>
				<div id="noTowing" ng-if="vehicleSpecInfo.withouttowingCapacity != 'N/A' && vehicleSpecInfo.withouttowingCapacity =='0'" class="shadowpopup" ng-show="dealPopUp">
					<span class=" closebutton  " ng-click="overlayShow(false);" my-touchstart="hidePopupAndOverlay();">X</span>
				 (Not recommended for towing)
				</div>

				<div  class="fsEllipse tipWidth" rel="noTowings" dtipp ng-if="vehicleSpecInfo.withouttowingCapacity != 'N/A' && vehicleSpecInfo.withouttowingCapacity >'0'">
					{{vehicleSpecInfo.withouttowingCapacity}}
					<span ng-if="vehicleSpecInfo.withouttowingCapacityUnit!='N/A'">&nbsp;</span>
					<span ng-if="vehicleSpecInfo.withouttowingCapacityUnit!='N/A'">{{vehicleSpecInfo.withouttowingCapacityUnit}}</span>
					<span ng-if="vehicleSpecInfo.withouttowingCapacityComment!='N/A'">{{vehicleSpecInfo.withouttowingCapacityComment}}</span>
				</div>
				<div id="noTowings" ng-if="vehicleSpecInfo.withouttowingCapacity != 'N/A' && vehicleSpecInfo.withouttowingCapacity >'0'" class="shadowpopup" ng-show="dealPopUp">
					<span class=" closebutton  " ng-click="overlayShow(false);" my-touchstart="hidePopupAndOverlay();">X</span>
					{{vehicleSpecInfo.withouttowingCapacity}}
					<span ng-if="vehicleSpecInfo.withouttowingCapacityUnit!='N/A'">&nbsp;</span>
					<span ng-if="vehicleSpecInfo.withouttowingCapacityUnit!='N/A'">{{vehicleSpecInfo.withouttowingCapacityUnit}}</span>
					<span ng-if="vehicleSpecInfo.withouttowingCapacityComment!='N/A'">{{vehicleSpecInfo.withouttowingCapacityComment}}</span>
				</div>
		  </div>
		</div>
		<div class="row">
		  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">HP</label>
		  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
			<span ng-if="vehicleSpecInfo.HP !='N/A'">{{vehicleSpecInfo.HP}}</span>
			<span ng-if="vehicleSpecInfo.HP == 'N/A'">{{notAvailable}}</span>
		  </div>
		</div>
		<div class="row">
		  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">Cabin Air Filter</label>
		  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
			<span ng-if="vehicleSpecInfo.cabinAirFilter !='N/A'">{{vehicleSpecInfo.cabinAirFilter}}</span>
			<span ng-if="vehicleSpecInfo.cabinAirFilter == 'N/A'">{{notAvailable}}</span>
		  </div>
		</div>
		<div class="row">
		  <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">Fuel Type</label>
		  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
			<span ng-if="vehicleSpecInfo.fuelType !='N/A'">{{vehicleSpecInfo.fuelType}}</span>
			<span ng-if="vehicleSpecInfo.fuelType == 'N/A'">{{notAvailable}}</span>
		  </div>
		</div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 towingDisclaimer" ng-show="vehicleSpecInfo.tciIndicator=='Y'">Note: Before towing, confirm your vehicle and trailer are compatible, hooked up and loaded properly and that you have any necessary additional equipment. Do not exceed any Weight Ratings and follow all instructions in your Owner's manual. The maximum
      you can tow depends on the total weight of any cargo, occupants and installed equipment.</div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mpg-collection1 remLRpad">
    <div class="panel panel-default">
      <div class="col-sm-12 col-md-12 col-lg-12 custPaneHead">
        <span ng-if="vehicleSpecInfo.fuelTypeHybrid==false && vehicleSpecInfo.displayFuelTypeIcon==false">Fuel Economy</span>
        <span ng-if="vehicleSpecInfo.displayFuelTypeIcon==true">EPA Vehicle Type:</span>
        <span ng-if="vehicleSpecInfo.displayFuelTypeIcon!=false"> {{vehicleSpecInfo.fuelTypeLabel}}</span>
        <span ng-if="vehicleSpecInfo.displayFuelTypeIcon==true && vehicleSpecInfo.fuelTypeHybrid==true">
				<span>&nbsp;&nbsp;</span>
        <span class="electric-icon"></span><span> Electricity</span>
        <span>&nbsp;-&nbsp;</span>
        <span class="gas-icon"></span><span>Gasoline</span>
        </span>

        <span ng-if="vehicleSpecInfo.displayFuelTypeIcon==true && vehicleSpecInfo.fuelTypeHybrid!=true">
			    <span class="gas-icon" ng-if="vehicleSpecInfo.fuelTypeLabel == 'Gasoline Vehicle'"></span>
          <!-- span class="hydrogen-icon"  style="font-size:30px" ng-if="vehicleSpecInfo.fuelTypeLabel == 'Hydrogen Fuel Cell Vehicle'">H<sub style="font-size:15px">2</sub></span-->
          <span class="hydrogen-icon" ng-if="vehicleSpecInfo.fuelTypeLabel == 'Hydrogen Fuel Cell Vehicle'"></span>
          <span class="ethonal-gas-icon" ng-if="vehicleSpecInfo.fuelTypeLabel == 'Flexible-Fuel Vehicle Gasoline-Ethanol (E85)'"></span>
          <span class="electric-icon" ng-if="vehicleSpecInfo.fuelTypeLabel == 'Electric Vehicle'"></span>
			  </span>
      </div>
      <div class="panel-body" ng-if="vehicleSpecInfo.mpgInfoCollection=='N/A'">
        <div class="pull-left info-table-body" style="padding: 10px 0;">
          <div class="col-sm-12 col-md-12 col-lg-12 remLRpad">
            Fuel economy data is not available for this vehicle.
          </div>
        </div>
      </div>
	
      <div class="panel-body dividerBorder" ng-if="vehicleSpecInfo.mpgInfoCollection!='N/A'" ng-repeat="mpgInfo in vehicleSpecInfo.mpgInfoCollection">
        <div class="col-sm-12 col-md-12 col-lg-12 adjPanelRow vehicle-inof-body" ng-if="vehicleSpecInfo.fuelTypeHybrid==true">
          <span>
					<span>Fuel Economy:</span>
          <span class="electric-icon" ng-if="mpgInfo.fuelLabel == 'Electricity Only'  || mpgInfo.fuelLabel== 'Electricity + Gasoline'  && vehicleSpecInfo.displayFuelTypeIcon==true"></span>
          <span class="gas-icon" ng-if="mpgInfo.fuelLabel == 'Gasoline Only' || mpgInfo.fuelLabel == 'Electricity + Gasoline'  && vehicleSpecInfo.displayFuelTypeIcon==true"></span>
          <span>{{mpgInfo.fuelLabel}}</span>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 vehicle-inof-body">
          <span class="col-sm-3 col-md-3 col-lg-3 adjPanelLabel" ng-if="vehicleSpecInfo.fuelTypeHybrid==true">
						Combined  
					</span>
          <span class="col-sm-3 col-md-3 col-lg-3 adjPanelLabel" ng-if="vehicleSpecInfo.fuelTypeHybrid==false">
						Combined  
					</span>
          <span class="col-sm-3 col-md-3 col-lg-3">
						{{mpgInfo.averageMileage}} 	{{mpgInfo.fuelUnit}}
						<span ng-if="mpgInfo.averageMileage=='N/A'">{{notAvailable}}</span>
          </span>

          <span class="col-sm-4 col-md-4 col-lg-3 adjPanelLast">
						<div ng-repeat="listOfFuel in mpgInfo.listOfFuelPer100Miles" style="white-space:nowrap;">{{listOfFuel}}&nbsp;<span ng-if="mpgInfo.per100MilesUnit!='N/A'">{{mpgInfo.per100MilesUnit}}</span>&nbsp;per 100 miles
              <span ng-if="listOfFuel=='N/A'">{{notAvailable}}</span>
					  </div>
          </span>
        <!--span class="col-sm-3 col-md-3 col-lg-3">&nbsp;</span-->
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 vehicle-inof-body" ng-if="vehicleSpecInfo.fuelTypeHybrid==false && mpgInfo.cityMileage!='N/A'">
        <span class="col-sm-3 col-md-3 col-lg-3 adjPanelLabel">City</span>
        <span class="col-sm-3 col-md-3 col-lg-3">
						{{mpgInfo.cityMileage}} 	{{mpgInfo.fuelUnit}}
					<span ng-if="mpgInfo.cityMileage=='N/A'">{{notAvailable}}</span>
        </span>

      </div>


      <div class="col-sm-12 col-md-12 col-lg-12 vehicle-inof-body" ng-if="vehicleSpecInfo.fuelTypeHybrid==false && mpgInfo.cityMileage!='N/A'">
        <span class="col-sm-3 col-md-3 col-lg-3 adjPanelLabel">Highway</span>
        <span class="col-sm-3 col-md-3 col-lg-3">
						{{mpgInfo.highwayMileage}} 	{{mpgInfo.fuelUnit}}
					<span ng-if="mpgInfo.highwayMileage=='N/A'">{{notAvailable}}</span>
        </span>


      </div>
    </div>

  </div>
  <div class="panel panel-default">
      <div class="col-sm-12 col-md-12 col-lg-12 custPaneHead" ng-if="vehicleSpecInfo.safetyRating">
        <span>Safety Rating (NCAP)</span>
        <span class="pull-right">Overall Score: 
			<span star-rating="" rating-value="vehicleSpecInfo.OverallRating" max="5" class="ng-isolate-scope ng-scope" ng-hide="(vehicleSpecInfo.OverallRating | lowercase) == 'not rated' || (vehicleSpecInfo.OverallRating | lowercase) == 'to be rated'">
				<ul class="rating"><!-- ngRepeat: star in stars -->
					<li ng-repeat="star in stars" ng-class="star" class="ng-scope filled $$hashKey">★</li>
					<li ng-repeat="star in stars" ng-class="star" class="ng-scope filled $$hashKey">★</li>
					<li ng-repeat="star in stars" ng-class="star" class="ng-scope filled $$hashKey">★</li>
					<li ng-repeat="star in stars" ng-class="star" class="ng-scope $$hashKey">★</li>
					<li ng-repeat="star in stars" ng-class="star" class="ng-scope $$hashKey">★</li>
				</ul>
			</span>
			<span ng-if="(vehicleSpecInfo.OverallRating | lowercase) == 'not rated' || (vehicleSpecInfo.OverallRating | lowercase) == 'to be rated'" style='font-weight: normal'>{{vehicleSpecInfo.OverallRating}}</span>
		</span>
      </div>    
	  <div class="col-sm-12 col-md-12 col-lg-12 custPaneHead" ng-if="!vehicleSpecInfo.safetyRating">Safety Rating (NCAP)</div>
      <div class="panel-body dividerBorder">
      <div class="col-sm-12 col-md-12 col-lg-12 vehicle-inof-body" id="vSpecTableWrap">
		<div ng-if="!vehicleSpecInfo.safetyRating">Safety rating data is not available for this vehicle.</div>
        <table class="table ng-table scrollableTab" ng-if="vehicleSpecInfo.safetyRating">
			<tbody class="vSpecTable">
				<tr>
					<th class="header cAlign" colspan="2">Frontal Crash</th>
					<th class="header border-right cAlign" colspan="2">Side Crash</th>
					<th class="header border-right cAlign" rowspan="2">Rollover</th>
				</tr>
				<tr>
					<td class="cAlign">Driver</td>
					<td class="border-right cAlign">Passenger</td>
					<td class="border-right cAlign">Front Seat</td>
					<td class="border-right cAlign">Rear Seat</td>
				</tr>
				<tr>				
					<td class="cAlign" ng-repeat="rat in vehicleSpecInfo.ratingDetails track by $index" ng-class="{'border-right': $index != 0}">
						<span star-rating="" rating-value="rat" max="5" class="ng-isolate-scope ng-scope" ng-hide="(rat | lowercase) == 'not rated' || (rat | lowercase) == 'to be rated'">
							<ul class="rating"><!-- ngRepeat: star in stars --> 
								<li ng-repeat="star in stars" ng-class="star" class="ng-scope filled $$hashKey">★</li>
								<li ng-repeat="star in stars" ng-class="star" class="ng-scope filled $$hashKey">★</li>
								<li ng-repeat="star in stars" ng-class="star" class="ng-scope filled $$hashKey">★</li>
								<li ng-repeat="star in stars" ng-class="star" class="ng-scope $$hashKey">★</li>
								<li ng-repeat="star in stars" ng-class="star" class="ng-scope $$hashKey">★</li>
							</ul>
						</span>
						<span ng-if="(rat | lowercase) == 'not rated' || (rat | lowercase) == 'to be rated'">{{rat}}</span>
					</td>
					
				</tr>
			</tbody>
		</table>
      </div>
    </div>

  </div>
</div>
</div>

<div class="row remLRpad">
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
</div>