
<div class="cusPopContainer">
	<div class="ppheader clearfix">
			<h2 class="pull-left" ng-if="!userFlatTireErr || userSelObj.errorMsg =='N/A'">Are you sure?</h2>
			<span class="pull-right close clearfix" ng-click="overlayShow(false)">X</span>
		<div class="clearfix hdr">&nbsp;</div>
	</div>
	<div ng-if="userFlatTireErr" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
	<div class="ppBody" ng-if="!userFlatTireErr || vhrMailError.errorMsg !='N/A'">
		<div class="vhrerror" ng-if="userSelObj.errorMsg !='N/A'">
			<div class="redTxt">
				{{userSelObj.errorMsg}}
			</div>
		</div>		
		
		<div class="popupContent" ng-if="userSelObj.errorMsg =='N/A'">
			<div>
				<span>You are about to send an email to </span><span class="reportSection">&nbsp;<select ng-model="userSubscriber.value" ng-options="option.name for option in userSelObj.subscriberListMap" ng-change="showuserselction('vhr',userSubscriber.value.customerId,userSubscriber.value.emailId)" id="vhrmailids"></select>&nbsp;</span><span> with a health report for vehicle {{userSelObj.modelYear}} &nbsp; {{userSelObj.division}}&nbsp; {{userSelObj.modelName}} &nbsp; ({{userSelObj.vinNumber}}). This email will not generate a new vehicle health report. It will only provide the {{userSelObj.division == 'LEXUS' ? 'guest' : 'customer'}} with a link to the existing health reports.</span>
			</div>
			<div>
				Are you sure you want to proceed and send an email to {{userSelObj.subscriberNameFormat}} ({{userSelObj.notificationEmail}})&nbsp;?
			</div>
			<div class="subbtns">
				<button type="button" class="btn btn-primary" ng-click="overlayShow(false)">No</button><span>&nbsp;&nbsp;&nbsp;</span>
				<button type="submit" class="btn btn-primary" ng-click="printObj.sendMail(userSubscriber.value.customerId,userSelObj.notificationEmail);">Yes</button>
			</div>
		</div>
		
	</div>
	<div class="ppFooter">
		&nbsp;
	</div>
</div>
