<!-- Vin history view -->
<div ng-show="history">
	<span id="vhIcon">&nbsp;</span>
	<h2 class="pull-left">PREVIOUS VIN SEARCH</h2>
	<button type="button" class="btn vin_btns pull-right" ng-click="showHistory('/serviceLane/mobile/clearVinHistorySearch',1,'clear')" ng-disabled="showTableError">Clear History</button>
	<button type="button" class="btn vin_btns pull-right" ng-click="showHistory('/serviceLane/mobile/resetToDefault')" ng-disabled="showTableError">Reset to Default</button>
	<table ng-table="tableParams" class="table ng-table" ng-show="showTableError">
		<tr>
			<td>
				VIN lookup history is not available for the user. 
			</td>
		</tr>
	</table>
<div id="scrollContainer" class="scroller">
<table ng-table="tableParams" class="table ng-table"  ng-hide="showTableError" id="scrollable">
	<thead>
	<tr>
	<th ng-repeat='set in setting' class="header sortable" ng-click="showHistory(set.fieldColumn,0,'sort')">
		<div ng-class="{'sort-asc': (sortValue == false && sortByCol == set.fieldColumn),'sort-desc': (sortValue == true && sortByCol == set.fieldColumn)}" >{{set.fieldName}}<span class="arrows"></span></div>
	</th>
	</tr>
	</thead>		
	<tbody id="tableDes">
		<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-click="vinValReturn($index)" ng-repeat="val in vinHistoryData">
			<td class="rowTd" ng-repeat="eachVal in val track by $index" id="{{eachVal}}"><span ng-if="eachVal != '' || eachVal != null">{{eachVal}}</span><span ng-if="eachVal == '' || eachVal == null">{{notAvailable}}</span></td>
			
		</tr>
		</tbody>
	</table>												
	</div>
</div>
<div ng-hide="history">
 <div class="panel-heading"><span ng-if="sysError==true">We're sorry... try again</span></div>
<div class="info-table-body">
	<div class="errorMsg"><span><img src="/serviceLane/pages/asm/mobile/images/Tablet/SLaneError.jpg" style="width: 148px; height: 160px;display:inline; float:left; margin-right: 10px; padding: 0 2px 13px 15px;"></span><span style="padding-right: 5px;"><span style="font-weight:bold;">Uh oh!.. Service Lane has a flat tire.  We apologize for any inconvenience. Please try to load the screen again.</span><span> If you are repeatedly getting this error, TMS Dealers please call 1-877-DL-DAILY, GST Dealers call 1-800-933-3416 and SET Dealers call 1-800-982-6057. Alternatively you may send an email using the Feedback link provided at the bottom of this page.</span>
	</div>
</div>
</div>