<div class="pagesection col-xs-12 col-md-12 mywarranty">    

    <div class="acc-mycontainer pageMargin">
       <div class="left-nav">  
           <accordion close-others="closeOthers">
               <accordion-group is-open="isopen.first" ng-if="leftMenu.TCUVIndicator">
                   <accordion-heading>
                       <div>
                           {{preownedInfo.protoType}} Warranty Information
                           <i class="pull-right glyphicon icon-plus-sign" ng-class="{'icon-minus-sign':isopen.first}"></i>
                       </div>
                   </accordion-heading>                
                   <div ng-if="!TcuvRetailedDealerErrorMsg && !TcuvDofuErrorMsg && !preOwnErr">
                       <div class="tcuv-warr-info">
                           <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 colmd5">
                               <div class="row">
                                   <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">{{preownedInfo.protoType}} Retailed State</label>
                                   <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
                                       <span>{{preownedInfo.retailedState}}</span>
                                   </div>
                               </div>
                               <div class="row">
                                   <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">{{preownedInfo.protoType}} Miles</label>
                                   <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
                                       <span>{{preownedInfo.certifiedMiles}} miles</span>
                                   </div>
                               </div>
                               <div class="row">
                                   <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6">Owner</label>
                                   <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
                                       <span>{{preownedInfo.ownerName}}</span>
                                   </div>
                               </div>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 secondCol colmd5">
                               <div class="row">
                                   <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">{{preownedInfo.protoType}} Retailed Mileage</label>
                                   <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
                                       <span>{{preownedInfo.retailedMileageNum}} miles</span>
                                   </div>
                               </div>
                               <div class="row">
                                   <label class="col-lg-6 col-md-6 col-sm-4 col-xs-6 ">{{preownedInfo.protoType}} Months in Service</label>
                                   <div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 ">
                                       <span>{{preownedInfo.monthsInService}}</span>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="warr-pagewrap warr">
                           <div class="headerDiv">
                               <div class=" fc">ELIGIBLE?</div>
                               <div class=" sc">CATEGORY</div>
                               <div class=" tc">VALID UNTIL</div>
                               <div class=" fourthc">MILEAGE: <span>{{preownedInfo.lastKnownMileage}} miles</span>
                               </div>
                           </div>
                           
                           <div class="cl"></div>
                           <div class="coll firstColl">

                               <div class="barPadding" ng-repeat="a in preownedInfo.certifiedWarrantyDetails">
                                   <div class="firstCl fl" ng-class="{'greentick': a.Eligible === true ,'redcross': a.Eligible === false}"></div>
                                   
                                   <div class="description secCol fl" rel="{{a.wtyCategoryDesc}}" dtip ng-bind-html="a.wtyCategoryDesc"></div>
                                   <div class="thirdCol " ng-class="{'monthBold': a.Eligible === true}">{{a.wtyValidityDate}}</div>
                               </div>
                           </div>
                           <div class="coll barchart" ng-if="isopen.first" style="float: left;">
                               <nvd31 id="firstBar" options="options" data="data" config="config" api="api" interactive="true" mileage="mileage" refresh-line="refreshLine" height="pHeight"></nvd31>
                           </div>
                       </div>
                       <div class="clr"></div>
                       <div class="disclaimer">
                           <div class="row">
                               <div class="col-xs-12 col-sm-12 col-md-12">
                                   <h4>Disclaimer</h4>
                                   <ul> 
                                    <li class="preowneddesc" ng-if="preownedInfo.protoType != 'LCPO'">
                                       Prior to beginning any work, please call 1-800-228-8559 (prompt 1) for approval.                                        
                                   </li>
                                   <li class="preowneddesc" ng-if="preownedInfo.protoType == 'LCPO'">
                                       Prior to beginning any work, please call 1-800-448-1505 (prompt 1) for approval. This warranty is not transferable to any subsequent owner.                                     
                                   </li>
                                   <li class="preowneddesc" ng-if="preownedInfo.protoType != 'LCPO'">                                      
                                       For additional information regarding terms, conditions, limitations and exclusions visit <a open-document data-url="{{preownedInfo.DisclaimerUrl}}">{{preownedInfo.protoType}} Warranty</a>
                                   </li>
                                   <li class="preowneddesc" ng-if="preownedInfo.protoType == 'LCPO' && preownedInfo.tcvuPlantCode=='true'">
                                       For additional information regarding terms, conditions, limitations and exclusions visit <a open-document data-url="{{preownedInfo.DisclaimerUrl}}">Lexus Certified Warranty</a>
                                   </li>
                                   <li class="preowneddesc" ng-if="preownedInfo.protoType == 'SCPO'">
                                    Warranty is dependent on both the number of months and mileage covered, and subject to certain terms, conditions, limitations and exclusions. If either current date or "{{preownedInfo.protoType}} Miles" is beyond the applicable warranty coverage, then the vehicle is no longer covered under that warranty category. The program is not available in Puerto Rico and Hawai
                                </li>
                                <li class="preowneddesc" ng-if="preownedInfo.protoType == 'LCPO'">
                                    Warranty is dependent on both the number of months and mileage covered, and subject to certain terms, conditions, limitations and exclusions. If either current date or "Last Known Mileage" is beyond the applicable warranty coverage, then the vehicle is no longer covered under that warranty category.    

                                </li>
                                <li class="preowneddesc" ng-if="preownedInfo.protoType != 'LCPO' && preownedInfo.protoType != 'SCPO'">                                                                          
                                    Warranty is dependent on both the number of months and mileage covered, and subject to certain terms, conditions, limitations and exclusions. If either current date or "{{preownedInfo.protoType}} Miles" is beyond the applicable warranty coverage, then the vehicle is no longer covered under that warranty category. The program is not available in Hawai
                                    <div ng-if="preownedInfo.protoType == 'TCUH'"><span>#</span>The HV battery may have longer coverage under emissions warranty. See Owner's Warranty information booklet for details.</div>
                                </li>
                                <li class="preowneddesc">                                   
                                   Please note the information shown above may be subject to change without notice.
                               </li>
                           </ul>
                           
                       </div>
                   </div>
               </div>
           </div>
           <div ng-show="TcuvDofuErrorMsg || preOwnErr || TcuvRetailedDealerErrorMsg" class="acc-message">
            <div ng-if="TcuvRetailedDealerErrorMsg" ng-hide="TcuvDofuErrorMsg" class="errorData">Pre-owned retailed state information of the vehicle is unavailable. Therefore Service Lane is unable to determine pre-owned warranty duration.</div>
            <div ng-if="TcuvDofuErrorMsg" class="errorData">Pre-owned date of first use is unavailable. Therefore Service Lane is unable to determine pre-owned warranty duration.</div>
            
            <div class="panel panel-default errorData" ng-show="preOwnErr">
               <div class="panel-heading"> 
                <span>We're sorry... try again</span>
            </div>
            <div class="panel-body"> 
               <div class="errorMsg"><span><img src="/serviceLane/pages/asm/mobile/images/Tablet/SLaneError.jpg" style="width: 148px; height: 160px;display:inline; float:left; margin-right: 10px; padding: 0 2px 13px 15px;"></span><span style="padding-right: 5px;"><span style="font-weight:bold;">Uh oh!.. Service Lane has a flat tire. We apologize for any inconvenience. Please try to load the screen again.</span><span> If you are repeatedly getting this error, TMS Dealers please call 1-877-DL-DAILY, GST Dealers call 1-800-933-3416 and SET Dealers call 1-800-982-6057. Alternatively you may send an email using the Feedback link provided at the bottom of this page.</span>
               </div>
           </div>
       </div>
   </div>
</accordion-group>
<accordion-group is-open="isopen.second">
   <accordion-heading>
       <div>
           Vehicle Warranty Information
           <i class="pull-right glyphicon icon-plus-sign" ng-class="{'icon-minus-sign':isopen.second}"></i>
       </div>
   </accordion-heading>                
   
   <div class="vehicleWarranty" ng-if="!vehicleErrorMsg">
    <div ng-if="mileageData.salvage.isSalvage" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " 
    ng-class="{'salvageCont': mileageData.salvage.data.corporateView }">
    <h4>Salvage Title</h4>
    <div ng-if="mileageData.salvage.error" class="pull-left" ng-include="'/serviceLane/pages/asm/mobile/views/flattire.html'"></div>
    <p ng-if="!mileageData.salvage.error">{{salvage.data.message}}</p>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "> 
       <div ng-if="!mileageData.salvage.error" class="col-lg-5 col-md-6 col-sm-9 col-xs-9 remLRpad">
           <table ng-table="tableParams" class="table ng-table tableBorder">
               <tbody>
                   <tr>
                       <th class="header">VIN</th>
                       <td class="">{{salvage.data.vin}}</td>
                   </tr>
                   <tr>
                       <th class="header">Warranty Eligibility Flag</th>
                       <td class="">{{salvage.data.warrantyEligible}}</td>
                   </tr>
                   <tr>
                       <th class="header">Reason Code</th>
                       <td class="">{{salvage.data.reasonCode}}</td>
                   </tr>
                   <tr>
                       <th class="header">Reason Description</th>
                       <td class="">{{salvage.data.reasonDesc}}</td>
                   </tr>
                   <tr>
                       <th class="header">TMS Effective Date</th> 
                       <td class="">{{salvage.data.date}}</td>
                   </tr>
               </tbody>
           </table>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overflowhide remLRpad" ng-if="mileageData.salvage.data.corporateView && !mileageData.salvage.error">
           <table ng-table="tableParams" class="table ng-table tableBorder">
               <tbody>                         
                   <tr >
                       <th class="header border-right">Brand Code</th>
                       <td ng-repeat="val in salvage.data.salvageList" class="">{{val.brandcode}}</td>
                   </tr>
                   <tr>
                       <th class="header border-right">Brand Description</th>
                       <td ng-repeat="val in salvage.data.salvageList" class="">{{val.brandDesc}}</td>
                   </tr>
                   <tr>
                       <th class="header border-right">Start Date</th>
                       <td ng-repeat="val in salvage.data.salvageList" class="">{{val.startDate}}</td>
                   </tr>
                   <tr>
                       <th class="header border-right">End Date</th>
                       <td ng-repeat="val in salvage.data.salvageList" class="">{{val.endDate}}</td>
                   </tr>
                   <tr>
                       <th class="header border-right">State</th>
                       <td ng-repeat="val in salvage.data.salvageList" class="">{{val.state}}</td>
                   </tr>
                   <tr>
                       <th class="header border-right">Warranty Impact Flag</th>
                       <td ng-repeat="val in salvage.data.salvageList" class="">{{val.warrantyImp}}</td>
                   </tr>
                   <tr>
                       <th class="header border-right">Data Source</th>
                       <td ng-repeat="val in salvage.data.salvageList" class="">{{val.dataSrc}}</td>
                   </tr>
               </tbody>
           </table>
           <p>By clicking "I Acknowlege" you understand that the vehicle shown may not be eligible for Warranty.<br>
           If you do not acknowledge you will not be able to view this vehicle information.</p>
       </div>
   </div>
   <div id="smMileage" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remLRpad" ng-if="!mileageData.salvage.error && mileageData.salvage.data.showExperianLink">
       <h4>Powered By<span class="autocheck_logo">&nbsp;</span></h4> 
       <p class="removeD" >
           <span class="dealernameclass" open-document data-url="{{mileageData.salvage.data.experianLink}}">Click here for more detailed Report</span>
       </p>
   </div>
</div>
<div ng-if= "mileageData.inEligAlt"> 
    <span id="warrAlrtIcon"></span><p class="redTxt" id="warrAlrtmsg">{{mileageData.inEligAlt}}</p>
</div>

<div class="state">
   State:&nbsp;&nbsp;<select ng-model="selectedItem.selVal" ng-options="item for item in mileageData.usrStateMap" ng-change="selectOption(selectedItem.selVal)"></select>Retailed State:&nbsp;&nbsp;<span>{{mileageData.retailedState}}</span>
</div>
<div ng-if="!mileageData.standardWarrantyObjectEmpty">
    <div class="headerDiv">
        <div class=" fc">ELIGIBLE?</div>
        <div class=" sc">CATEGORY</div>
        <div class=" tc">MONTHS: <span>{{mileageData.dofu}}</span>
        </div>
        <div class=" fourthc">MILEAGE: <span>{{mileageData.lastKnownMileage}} miles</span>
        </div>
    </div>
    <div class="cl"></div>
    <div class="coll firstColl">

        <div class="barPadding" ng-repeat="a in mileageData.StandardWarrantyDetail">
            
            <div class="firstCl fl" ng-class="{'greentick': a.Eligible === true ,'redcross': a.Eligible === false}"></div>
            <div class="description secCol fl" ng-class="{mTop: a.subCategoryList.length !=[]}" rel="{{a.wtyCategoryDesc}}" dtip >{{a.wtyCategoryDesc}}</div>
            <div class="thirdCol " ng-class="{'monthBold': a.Eligible === true}" ng-hide="a.subCategoryList.length !=[]">{{a.wtyTermMonths}}</div>
            <div ng-repeat="e in a.subCategoryList" class="childbarPadding" id="index{{$index}}">
                <div class="firstCl fl" ng-class="{'greentick': e.Eligible === true ,'redcross': e.Eligible === false}"></div>
                <div class="description secCol fl" rel="{{e.wtySubCategory}}" dtip ><span class="square">&nbsp;</span>{{e.wtySubCategory}}</div>
                <div class="thirdCol" ng-class="{'monthBold': e.Eligible === true}" >{{e.wtyTermMonths}}</div>
            </div>
        </div>
    </div>
    
    <div class="coll barchart" ng-show="isopen.second" style="float: left;">                        
        <nvd32 id="secondBar" options="options1" data="data1" config="config" api="api" interactive="true" mileage="mileage" refresh-line="refreshLine" height="vHeight"></nvd32>
    </div>
    <div class="clr"></div>
    <div class="covr-pwr">
        <div class="covr-by-cat fl"><a open-document data-dynamicc="true" data-url="{{mileageData.warrantyCoverageDocUrl}}">{{mileageData.warrantyCoverageDocUrlTitle}}</a>
        </div>
        <div class="pwr-part-list fr"><a open-document data-url="{{mileageData.powertrainPartsListUrl}}">{{mileageData.powertrainPartsListUrlTitle}}</a>
        </div>
    </div>
    <div class="clr"></div>
    <div class="disclaimer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h4>Disclaimer</h4>
                <p>{{mileageData.Disclaimer}}</p>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-show="mileageData.standardWarrantyObjectEmpty == true || vehicleErrorMsg == true" class="acc-message">
    <span ng-if="mileageData.standardWarrantyObjectEmpty && !vehicleErrorMsg" class="errorData">No Warranty information found for VIN: {{inputValue}}</span>
    <div class="panel panel-default errorData" ng-if="vehicleErrorMsg">
       <div class="panel-heading">
           <span ng-if="mileageData.standardWarrantyObjectEmpty">&nbsp;</span>
           <span ng-if="vehicleErrorMsg">We're sorry... try again</span>
       </div>
       <div class="panel-body">
           <!--span ng-if="mileageData.standardWarrantyObjectEmpty">No Warranty information found for VIN: {{inputValue}}</span-->
           <div ng-if="vehicleErrorMsg">
               <span><img src="/serviceLane/pages/asm/mobile/images/Tablet/SLaneError.jpg" style="width: 148px; height: 160px;display:inline; float:left; margin-right: 10px; padding: 0 2px 13px 15px;"></span><span style="padding-right: 5px;"><span style="font-weight:bold;">Uh oh!.. Service Lane has a flat tire. We apologize for any inconvenience. Please try to load the screen again.</span><span> If you are repeatedly getting this error, TMS Dealers please call 1-877-DL-DAILY, GST Dealers call 1-800-933-3416 and SET Dealers call 1-800-982-6057. Alternatively you may send an email using the Feedback link provided at the bottom of this page.</span>
           </div>
       </div>
   </div>
</div>
</accordion-group>
<accordion-group is-open="isopen.third">
   <accordion-heading>
       <div class="csp">
           Customer Support Program
           <div class="csp_count">{{cspCount}} CSP(s)</div><i class="pull-right glyphicon icon-plus-sign" ng-class="{'icon-minus-sign':isopen.third}"></i>
       </div>
   </accordion-heading>
   
   <div id="csp" class="cspsection col-xs-12 col-md-12" ng-hide="cspErrorMsg">
    <div class="csp-note">A CSP enhances portions of the vehicle's warranty coverage for specific conditions. Please see the CSP information for enhancement details.</div>
    <ul class="cspDetail" id="cspList">
       <li ng-repeat="csp in cspObj track by $index" class="col-xs-12 col-md-12">
        
           <div class="col-xs-4 col-md-3">
               <span class="rmPad">CSP Description</span>
               <span class="rmPad clearfix" ng-if="csp.cspExpDate && csp.cspExpDate!='N/A'">Expiration Date</span>
               <span class="rmPad clearfix" ng-if="csp.primaryExpDate && csp.primaryExpDate!='N/A'">Primary Expiration Date</span>
               <span class="rmPad clearfix" ng-if="csp.secondaryExpDate && csp.secondaryExpDate!='N/A'">Secondary Expiration Date</span>
               <span class="rmPad clearfix">Status</span>
               <span class="rmPad clearfix" ng-if="csp.campaignComplete">Repair Date</span>
               <span class="rmPad clearfix" ng-if="csp.campaignComplete">Dealer</span>
               <span class="rmPad clearfix">Memo</span>
           </div>
           <div class="col-xs-8 col-md-9">
               <p class="col-xs-12 col-md-12 careServiceDes rmPad" dtip rel="{{csp.campaignTitle}}" >{{csp.campaignTitle}}</p>
               <p class="col-xs-12 col-md-12 careServiceDes rmPad" ng-if="!csp.mileageExpiry && csp.cspExpDate && csp.cspExpDate!='N/A'" >{{csp.cspExpDate}}</p>
               <p class="col-xs-12 col-md-12 careServiceDes rmPad" ng-if="csp.mileageExpiry && csp.cspExpDate && csp.cspExpDate!='N/A'" >{{csp.cspExpDate}} <span ng-if="csp.mileageExpiry && csp.mileageExpiry!='N/A">or {{csp.mileageExpiry}} miles</span></p>
               <p class="col-xs-12 col-md-12 careServiceDes rmPad" ng-if="csp.primaryExpDate && csp.primaryExpDate!='N/A'" >{{csp.primaryExpDate}}</p>
               <p class="col-xs-12 col-md-12 careServiceDes rmPad" ng-if="csp.secondaryExpDate && csp.secondaryExpDate!='N/A'" >{{csp.secondaryExpDate}} <span ng-if="csp.mileageExpiry && csp.mileageExpiry!='N/A">or {{csp.mileageExpiry}} miles</span></p>
               <p class="col-xs-12 col-md-12 rmPad careServiceDes" ng-class="{'detailMemo': (csp.campaignDescr | lowercase)== 'potentially eligible'}">{{csp.campaignDescr}}</p>
               <p class="col-xs-12 col-md-12 rmPad careServiceDes" ng-if="csp.campaignComplete">{{csp.dateOfService}}</p>
               <p class="col-xs-12 col-md-12 rmPad careServiceDes" ng-if="csp.campaignComplete" >
                <dealer-popup stop-event dcode="{{csp.dealerCode}}" dname="{{csp.dealerName}}"></dealer-popup>
            </p>
            <div class="col-xs-12 col-md-12 rmPad">
                <p class="careServiceDes " ng-class="{'memodetail': !csp.documentListEmpty}" rel="{{csp.detailMemo}}" dtip >{{csp.detailMemo}}
                </p>
                <span ng-hide="csp.documentListEmpty" class="pull-right text-primary " ng-click="campDocList('cspDoc_{{$index}}',$event)" rel="cspDoc_{{$index}}">View Documents <span class="camview" ng-click="campDocList('cspDoc_{{$index}}',$event)" rel="cspDoc_{{$index}}"></span>
                <div stop-event stop-screen-move class="shadowpopup" ng-class="{more: listCunt>4}" id="cspDoc_{{$index}}" ng-show="campaignDoc" stop-event>
                   <h4>Documents {{"("+documentObj.length+")"}}<span class=" closebutton " ng-click="overlayShow(false)" my-touchstart="hidePopupAndOverlay();">X</span></h4>
                   <div class="doc" ng-repeat="doc in documentObj" ng-if="$index < listCunt">
                       <a open-document data-url="{{doc.documentUrl}}">{{doc.objectTitle}}</a>
                   </div>
                   <div ng-click=showMore("more") ng-if="documentObj.length > listCunt">More...</div>
                   <div ng-click=showMore("less") ng-if="documentObj.length <= listCunt && documentObj.length > 3">Less...</div>
               </div>
           </div>
       </div>
       <div class="sectionBorder">&nbsp;</div>
   </li>
</ul>
</div>
<div ng-show="cspErrorMsg == true" class="acc-message errorData">
    <span ng-if="errorNull">No Customer Support Program information found for VIN: {{inputValue}}</span>
    <div class="panel panel-default" ng-if="!errorNull">
       <div class="panel-heading">
           <span ng-if="errorNull">&nbsp;</span>
           <span ng-if="!errorNull">We're sorry... try again</span>
       </div>
       <div class="panel-body">
           <span ng-if="errorNull" class="errorData">No Customer Support Program information found for VIN: {{inputValue}}</span>
           <div ng-if="!errorNull">
               <span><img src="/serviceLane/pages/asm/mobile/images/Tablet/SLaneError.jpg" style="width: 148px; height: 160px;display:inline; float:left; margin-right: 10px; padding: 0 2px 13px 15px;"></span><span style="padding-right: 5px;"><span style="font-weight:bold;">Uh oh!.. Service Lane has a flat tire. We apologize for any inconvenience. Please try to load the screen again.</span><span> If you are repeatedly getting this error, TMS Dealers please call 1-877-DL-DAILY, GST Dealers call 1-800-933-3416 and SET Dealers call 1-800-982-6057. Alternatively you may send an email using the Feedback link provided at the bottom of this page.</span>
           </div>
       </div>
   </div>
</div>  
</accordion-group>       
</accordion>
</div>

</div>
</div>
<div class="row remLRpad">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>
