<!DOCTYPE html>
<html lang="en">
   <head>
      <title>ASM - Vehicle Information Page</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	  <meta name="viewport" content="width=device-width , initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta content="telephone=no" name="format-detection">
      <base href="/siparana/mobile/">
      <link rel="shortcut icon" type="image/png" href="/serviceLane/pages/asm/mobile/favicon.png"/>
      <!-- Datime picker CSS -->	 
		<link rel="stylesheet" href="/serviceLane/pages/asm/mobile/css/angularjs-datetime-picker.css" />
      <!-- Bootstrap core CSS -->
      <link href="/serviceLane/pages/asm/mobile/css/bootstrap.min.css" rel="stylesheet"> 
	  <link rel="stylesheet" href="/serviceLane/pages/asm/mobile/css/nv.d3.css"/>
	  <!--script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script-->
	  <link href="/serviceLane/pages/asm/mobile/css/common.css" rel="stylesheet">	 
	  <link href="/serviceLane/pages/asm/mobile/css/portrait1.css" rel="stylesheet">
	</head>
<body ng-app="asmApp" ng-controller="indexController" >
	
	<div  id="containerWrap" no-touchstart="blurTheVinInput();"  ng-click="blurTheVinInputClick();" ng-if="userDivisionData.defMenuSLP">
		<div class="overlay1" ng-click="overlayHide();" ng-show="rightNavOverlay || menu " my-touchstart="hidePopupAndOverlay(false,true);">&nbsp;</div>	
		<div class="header navbar-fixed-top" ng-include src=" '/serviceLane/pages/asm/mobile/views/header.html' ">
		</div>
		<div id="historySection" class="overLay" ng-show="vinErr || history || vAlert || userSelection || authCodeSelection || acknowledgement || showPrintView || reprogView || campTechnician.show" ng-click="overlayShow()" my-touchstart="hidePopupAndOverlay();"></div>	
		<div class="vinHistory hide" ng-if="vinErr || history" ng-class="{'show': vinErr || history}" ng-include=" 'pages/asm/mobile/views/vinhistory.html' "></div>
		<div class="body"  ng-show="thirdParty.val" >
			<div ng-if="selectedLeftTopMenu != 'sm' && selectedLeftTopMenu != 'kc' && selectedLeftTopMenu != 'librarysearch' && selectedLeftTopMenu != 'ASG' && selectedLeftTopMenu != 'performance'">
				<div ng-if="(tcmcInfo.errorMsg !='N/A' && selectedLeftTopMenu != 'ace')" class="tcmcError" ng-class="{'move-error' : showVheader==true}">{{tcmcInfo.errorMsg}}</div>
				<div class="tcmcContainer" ng-class="{'move-iframe' : showVheader==true , 'ipadclass' : isIpad}">
					<iframe name="tcmcframe" ng-class="{'ifrm' : thirdParty.val==true }" id="tcmcframe" ng-if="tcmcInfo.tcmcFormData != 'N/A' || tcmcInfo.tcmcFormData !=''">
					</iframe>
				</div>
				<div class="" ng-include="'/serviceLane/pages/asm/mobile/views/tcmcframe.html'"></div>
			</div>
			<div ng-if="selectedLeftTopMenu == 'ASG' || selectedLeftTopMenu == 'performance'">
				<div ng-if="selectedLeftTopMenu == 'ASG'" ng-include="'/serviceLane/pages/asm/mobile/views/asg.html'" ></div>			
				<div ng-if="selectedLeftTopMenu == 'performance'" ng-include="'/serviceLane/pages/asm/mobile/views/performance.html'" ></div>
			</div>
			<div ng-if="selectedLeftTopMenu == 'sm'" ng-class="{'move-smContent': showVheader == true}">
				<div id="sheduleContainer1" class="bord col-xs-11 col-sm-11 col-md-11  col-lg-11 adjsmPortrait" ng-class="{overflow: smData.noInput == false}" ng-include="'/serviceLane/pages/asm/mobile/views/sheduleManitance.html'">
				</div>
				<div class="pull-right adjRightMenuDiv1 rightNav" style="padding-top: 20px;" ng-include src=" '/serviceLane/pages/asm/mobile/views/rightSideMenu.html' "></div>
			</div>
			<div ng-if="selectedLeftTopMenu == 'kc'" ng-class="{'move-smContent': showVheader == true}">
				<div id="sheduleContainer1" class="bord col-xs-11 col-sm-11 col-md-11  col-lg-11 adjsmPortrait" ng-class="{overflow: kcData.noInput == false}" ng-include="'/serviceLane/pages/asm/mobile/views/knowledgecenter.html'">
				</div>
				<div class="pull-right adjRightMenuDiv1 rightNav" style="padding-top: 20px;" ng-include src=" '/serviceLane/pages/asm/mobile/views/rightSideMenu.html' "></div>
			</div>
			<div ng-if="selectedLeftTopMenu == 'librarysearch'">
				<div id="moveContent" ng-class="{'move-content' : showVheader==true}" class="no-height">&nbsp;</div>
				<div id="sheduleContainer1 remLRpad" ng-if="selectedLeftTopMenu == 'librarysearch'" class="bord col-xs-11 col-sm-11 col-md-11  col-lg-11 adjsmPortrait sheduleContainer1 " ng-class="{overflow: lsData.noInput == false,remLRpad:DMY.selDMYType}" ng-include="'/serviceLane/pages/asm/mobile/views/librarysearch.html'">
				</div>
				<div class="pull-right adjRightMenuDiv1 rightNav" style="padding-top: 20px;" ng-include src=" '/serviceLane/pages/asm/mobile/views/rightSideMenu.html' "></div>
			</div>				
			
		</div>

	<div class="body"  ng-show="!thirdParty.val">	
		<div class="container-fluid marg">   
			<div id="moveContent" ng-class="{'move-content' : showVheader==true}" class="no-height" >&nbsp;</div>
			<div ng-include src=" '/serviceLane/pages/asm/mobile/views/leftSideMenuBig.html' "></div>
			<div class="row" id="swr">
			<div ng-if="selectedLeftTopMenu != 'librarysearch'" ng-include src=" '/serviceLane/pages/asm/mobile/views/leftSideMenu.html'"></div>
				<div class="col-xs-offset-1 col-xs-9 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10  col-lg-offset-1 col-lg-11 adjPortrait">
				<div id="popUpOverlay" class="overLay" ng-show="dealPopUp || campaignDoc || lpsActivePopUp == 'authcode'|| lpsActivePopUp == 'userSelction'" ng-click="overlayShow()" my-touchstart="hidePopupAndOverlay();"></div>
					<div ng-view ng-hide="content" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="content-div"></div>
					<div ng-include ng-show="content" src="'pages/asm/mobile/views/errorMessages.html'" class="errorDiv"></div> 
					<!-- Main Content Placeholder-->
			<div class="row">
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
			</div>
				</div>
				<div class="custPopUp hide printPopup" ng-if="reprogView" ng-include=" 'pages/asm/mobile/views/reprogrammingDetails.html' " ng-class="{'show': reprogView==true}"></div>
				<div class="vinHistory hide printPopup" ng-if="showPrintView" ng-class="{'show': showPrintView, 'showprintPreview': showPrintPreview == true}"  no-touchstart="blurPrintPopUp();" ng-include=" 'pages/asm/mobile/views/print_enabled.html' " ></div>
				<div class="cusPop hide"  ng-if="userSelection && selectPagename == 'vhr'" ng-include=" 'pages/asm/mobile/views/vhruserselection.html' " ng-class="{'show': userSelection}"></div>
				<div class="cusPop hide" ng-if="(userSelection && selectPagename == 'lps' || (authCodeSelection || acknowledgement))"  ng-class="{'show': userSelection|| authCodeSelection || acknowledgement}" ng-include=" 'pages/asm/mobile/views/lpsuserselection.html' "></div>
				<span class="vAlertArrow hide" ng-show="vAlert || serviceConnectAlerts" ng-class="{'show': vAlert || serviceConnectAlerts,'move-vAlert' : showVheader==true}" >&nbsp;</span>				
				<div class="vinHistory vehicleAlert hide" ng-class="{'show': vAlert,'move-vAlert' : showVheader==true}" ng-show="vAlert" ng-include=" 'pages/asm/mobile/views/vehicleAlert.html' "></div>				
				<div class="pull-right adjRightMenuDiv1 rightNav"  ng-include src=" '/serviceLane/pages/asm/mobile/views/rightSideMenu.html' "></div>
				
			</div>
		</div>
	</div>
	<footer ng-include src=" '/serviceLane/pages/asm/mobile/views/footer.html' "></footer>	
		<div class="overLay" ng-if="isLoading.loadimage || kcData.loadimageCarInfo || kcData.loadimageInterview || kcData.loadimageProdEdu || lsData.loadimageLsCampPub || lsData.loadimageLsSb || lsData.loadimageLsTt || lsData.loadimageLsAsm || lsData.loadimageLsCar || lsData.loadimageLsCif || lsData.loadimageLsPedPev || lsData.loadimageLsPant || lsData.loadimageLsSpoc || lsData.loadimageLsAccessoryAudio || lsData.loadimageLsGulfStates || lsData.loadimageLsSoutheast || lsData.loadimageLsMaintenance || lsData.loadimageLsTtc || lsData.loadimageLsQtg || lsData.loadimageLsTtm || lsData.loadimageLsTva" id="overlay">&nbsp;</div>
		<div class="ng-modal-overlay" ng-if="nextServiceApt.overlay" my-touchstart="hidePopupAndOverlay();" ng-click="nextServiceApt.vinInfo();overlayShow()" style="z-index:1200;" ></div>      
        <div class="vinHistory" style="z-index:1300" ng-if="nextServiceApt.issuePopup"  ng-include="'pages/asm/mobile/views/nextService.html'"></div>
		<div id="loading" style="z-index:2000" ng-if="isLoading.loadimage  && nextServiceApt.issuePopup"></div>
		<div id="loading" ng-if="isLoading.loadimage || kcData.loadimageCarInfo || kcData.loadimageInterview || kcData.loadimageProdEdu || lsData.loadimageLsCampPub || lsData.loadimageLsSb || lsData.loadimageLsTt || lsData.loadimageLsAsm || lsData.loadimageLsCar || lsData.loadimageLsCif || lsData.loadimageLsPedPev || lsData.loadimageLsPant || lsData.loadimageLsSpoc || lsData.loadimageLsAccessoryAudio || lsData.loadimageLsGulfStates || lsData.loadimageLsSoutheast || lsData.loadimageLsMaintenance || lsData.loadimageLsTtc || lsData.loadimageLsQtg || lsData.loadimageLsTtm || lsData.loadimageLsTva"></div>
		<div class="overLay" ng-show="footerFeedback" ng-click="overlayShow(true)" my-touchstart="hidePopupAndOverlay(true);"></div>		
		<div class="vinTechnician technician hide"  ng-if="campTechnician.show" ng-class="{'show': campTechnician.show}" ng-include=" 'pages/asm/mobile/views/technician.html' " ></div>
		<div class="vinFeedback feedback hide"  ng-if="footerFeedback" ng-class="{'show': footerFeedback}" ng-include=" 'pages/asm/mobile/views/feedback.html' "    no-touchstart="blurTheVinInputFeedback();"  ng-click="hideTooltip()"></div>
		<div class="overLay" ng-show="telematicsAccountDetails" ng-click="overlayShow()" my-touchstart="hidePopupAndOverlay();"></div>
		<div class="vinteleaccdet teleaccdet hide"  ng-if="telematicsAccountDetails" ng-class="{'show': telematicsAccountDetails}" ng-include=" 'pages/asm/mobile/views/telematicsAccountDetails.html' " ng-click="hideTooltip()"></div>
		<div class="overLay" ng-show="houseHoldInfo" ng-click="overlayShow()" my-touchstart="hidePopupAndOverlay();"></div>
		<div class="vinhouseholdinfo  hide"  ng-if="houseHoldInfo" ng-class="{'show': houseHoldInfo}" ng-include=" 'pages/asm/mobile/views/householdinfo.html' " ng-click="hideTooltip()"></div>
		<div class="overLay" ng-show="annoucementsInfo" ng-click="overlayShow()" my-touchstart="hidePopupAndOverlay();"></div>
		<div class="vinhouseholdinfo  hide"  ng-if="annoucementsInfo" ng-class="{'show': annoucementsInfo}" ng-include=" 'pages/asm/mobile/views/announcementspopup.html' " ng-click="hideTooltip()"></div>
		<div class="overLay" ng-show="serviceConnectAlerts || salvage.showSalvage" ng-click="overlayShow()" my-touchstart="hidePopupAndOverlay();"></div>
		<div class="vinHistory hide" ng-class="{'show':salvage.showSalvage}" ng-if="salvage.showSalvage" ng-include=" 'pages/asm/mobile/views/salvage.html' "></div>
		<div class="vinHistory serviceconnectAlert  hide"  ng-if="serviceConnectAlerts" ng-class="{'show': serviceConnectAlerts,'move-vAlert' : showVheader==true,'reduce-box-height':reduceBoxHeight || serviceConnectAlertFlatTire}" ng-include=" 'pages/asm/mobile/views/serviceconnectalerts.html' " ng-click="hideTooltip()"></div>
		</div>
		<div  id="containerWrap"  no-touchstart="blurTheVinInput();"  ng-click="blurTheVinInputClick();" ng-if="!userDivisionData.defMenuSLP">
			<div class="header navbar-fixed-top" ng-include src=" '/serviceLane/pages/asm/mobile/views/header.html' "></div>
			<div class="container-fluid remLRpad " style="margin-top:144px;">
				<div ng-view ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="content-div "></div>					
			</div>
			<footer ng-include src=" '/serviceLane/pages/asm/mobile/views/footer.html' "></footer>
			<div class="overLay" ng-if="isLoading.loadimage" id="overlay">&nbsp;</div>
			<div id="loading" ng-if="isLoading.loadimage"></div>
			<div class="overLay" ng-show="footerFeedback" ng-click="overlayShow(true)" my-touchstart="hidePopupAndOverlay(true);"></div>
			<div class="vinFeedback feedback hide"  ng-if="footerFeedback" ng-class="{'show': footerFeedback}" ng-include=" 'pages/asm/mobile/views/feedback.html'"  no-touchstart="blurTheVinInputFeedback();"  ng-click="hideTooltip()"></div>
		</div>
	<!-- Bootstrap core JavaScript-->
	<!-- Placed at the end of the document so the pages load faster -->	
	<script src="/serviceLane/pages/asm/mobile/resource/jquery.min.js" type="text/javascript"></script>
	<script src="/serviceLane/pages/asm/mobile/resource/bootstrap.js" type="text/javascript"></script>
	<script src="/serviceLane/pages/asm/mobile/resource/angular.min.js" type="text/javascript"></script>
	<script src="/serviceLane/pages/asm/mobile/resource/angular-touch.min.js" type="text/javascript"></script>
	<script src="/serviceLane/pages/asm/mobile/resource/angular-animate.min.js" type="text/javascript"></script>
	<script src="/serviceLane/pages/asm/mobile/resource/angular-route.min.js" type="text/javascript"></script>
	<script src="/serviceLane/pages/asm/mobile/resource/angular-sanitize.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/serviceLane/pages/asm/mobile/resource/angular-smooth-scroll.js"></script>
	<script type="text/javascript" src="/serviceLane/pages/asm/mobile/resource/ng-device-detector.js"></script>	
   <script type="text/javascript" src="/serviceLane/pages/asm/mobile/js/ui-bootstrap-tpls-0.10.0.js"></script>
   <script type="text/javascript" src="/serviceLane/pages/asm/mobile/resource/angularjs-datetime-picker.js"></script>
	<script>
		if( /Android|webOS|IEMobile/i.test(navigator.userAgent) )  {
			document.write('<script type="text/javascript" src="cordova1.js"><\/script>');
		}
	</script> 
	<script>
		if (/(iPhone|iPod|iPad)/.test(navigator.userAgent)) {
			document.write('<script type="text/javascript" src="cordova.js"><\/script>');
		}
		var windowsCheck = false;
		if (navigator.appVersion.indexOf("MSAppHost/2.0;") !== -1 && !windowsCheck){windowsCheck = true;}
	</script>
	<script type="text/javascript" charset="utf-8" src="/serviceLane/pages/asm/mobile/js/b4hvinscanner.js"></script>
	<script src="/serviceLane/pages/asm/mobile/js/app.js"></script>
	<script src="/serviceLane/pages/asm/mobile/js/controllers/indexController.js"></script>
  <script src="/serviceLane/pages/asm/mobile/js/controllers/vehInfoController.js"></script>
  <script src="/serviceLane/pages/asm/mobile/js/controllers/careController.js"></script>
   <script src="/serviceLane/pages/asm/mobile/js/controllers/serviceHistoryController.js"></script>
    <script src="/serviceLane/pages/asm/mobile/js/controllers/olderServiceHistoryController.js"></script>
      <script src="/serviceLane/pages/asm/mobile/js/controllers/customerSurveyController.js"></script>
  <script src="/serviceLane/pages/asm/mobile/js/controllers/campController.js"></script>
  <script src="/serviceLane/pages/asm/mobile/js/controllers/warrantyController.js"></script>
  <script src="/serviceLane/pages/asm/mobile/js/controllers/fsproductController.js"></script> 
<script src="/serviceLane/pages/asm/mobile/js/controllers/lpsController.js"></script>
<script src="/serviceLane/pages/asm/mobile/js/controllers/smController.js"></script>
<script src="/serviceLane/pages/asm/mobile/js/controllers/kcController.js"></script>
<script src="/serviceLane/pages/asm/mobile/js/controllers/librarySearchController.js"></script>
<script src="/serviceLane/pages/asm/mobile/js/controllers/telematicsController.js"></script> 
<script src="/serviceLane/pages/asm/mobile/js/controllers/roadSideAssistanceController.js"></script> 
<script src="/serviceLane/pages/asm/mobile/js/controllers/issueListController.js"></script>  
<script src="/serviceLane/pages/asm/mobile/js/controllers/issueEntryController.js"></script>  
<script src="/serviceLane/pages/asm/mobile/js/controllers/auditSetupController.js"></script>  
  <script src="/serviceLane/pages/asm/mobile/js/controllers/vhrController.js"></script>  
  <script src="/serviceLane/pages/asm/mobile/js/controllers/dtcController.js"></script>  
  <script type="text/javascript" src="/serviceLane/pages/asm/mobile/js/services/service.js"></script>
  <script type="text/javascript" charset="utf-8" src="/serviceLane/pages/asm/mobile/js/d3.js" ></script>
  <!--script src="/serviceLane/pages/asm/mobile/js/d3.min.js"></script-->	
	<script src="/serviceLane/pages/asm/mobile/js/nv.d3.js"></script>
    <script src="/serviceLane/pages/asm/mobile/js/angular-nvd3.js"></script>    
	<script src="/serviceLane/pages/asm/mobile/resource/simplePagination.js"></script>
    <script>
    if (/(iPhone|iPod|iPad)/.test(navigator.userAgent) ) {
        $(document).on('focusin', 'input, textarea', function() {
       	jQuery(".footerbg").hide();
       })
       .on('focusout', 'input, textarea', function () {
       	jQuery(".footerbg").show();
       });
	}



if ( /Android|webOS|IEMobile/i.test(navigator.userAgent)) {
        $(document).on('focusin', ':text, textarea', function() {
       	jQuery(".footerbg").hide();
       })
       .on('focusout', ':text, textarea', function () {
       	jQuery(".footerbg").show();
       });
	}
	if (windowsCheck){
		document.write('<script type="text/javascript" src="cordova-windows.js"><\/script>');
		document.write('<script type="text/javascript" src="winstore-jscompat.js"><\/script>');
		function changeTextNew(text) {
				if( text !== "null"){
					document.getElementById("success_sound").play();
					text = text.toUpperCase();
					if (text.substring(0, 1) == "I" || text.substring(0, 1) == "|") {
						text = text.substring(1, text.length);
					}
					var scope = angular.element(document.getElementById("containerWrap")).scope();
					if( scope.selectedLeftTopMenu != 'issueEntry' && scope.selectedLeftTopMenu != 'editEntry' )
					{
						document.getElementById("vinno").value = text.replace(/\s/g, "");
						text = document.getElementById("vinno").value;
						scope.oneviewrestMenu(true);
						scope.$apply(function () {
							scope.inputValue = text;
							scope.oneviewrestMenu(true);
							scope.DMY.selDivi = 'VIN';
							scope.callDMYAndVIN(text);
						});
					}
					else{						
						scope.$apply(function () {
							scope.auditValue = text;
							scope.$broadcast('bindIssueEntryInfo',scope.selectedLeftTopMenu); 	
						});
						scope.auditValue = '';
					}

				}
				return text;
			}
		
		function stopLoader(text) {
			if( text == "tostoploader"){
				var scope = angular.element(
				document.
				getElementById("containerWrap")).
				scope();
				scope.$apply(function () {
					scope.isLoading.loadimage = false;	
				scope.showPrintView = false;
				scope.dealPopUp = false;
				});
			}	
			return text;
			}

		function okConfirm(text) {
			if( text == "okConfirm"){
				var scope = angular.element(document.getElementById("containerWrap")).scope();
				scope.$apply(function () {
					if(scope.footerFeedback){					
						scope.footerFeedback = false;
					}
					else if( scope.selectedLeftTopMenu == 'issueEntry' || scope.selectedLeftTopMenu == 'editEntry' || scope.selectedLeftTopMenu == 'auditSetup' )
					{
						scope.PODapp();
					}
					else{
						scope.showRemotehealthData();
					}

					
				});
			}	
			return text;
			}
		
		}
</script>
</body>
</html>  