/*10" Portrait*/
@media only screen and (max-width:767px) {
	body{background-color: blue1;}
	.move-content{height:77px;}
	.move-error{top: 245px;}
	.oneviewcontainer{min-height: 66px;}
	.rightNav {margin-top: 153px;float:right;}
	.leftNav, .leftMenuBig1{top: 124px;}
	.leftMenuBig1{height: auto;}
	.leftMenuBig1.pushdown {top: 181px;height: auto}
	.secondCol.colmd5.remLRpad .row {margin-top: 0;}
	.leftNav {position: relative;}
	.leftmenu > li > a{padding: 17px 21px 17px 5px;}	
	.hide-small{display:none;}
	.vinfrm{width: 70.9%;}	
	.logo-title{width: 16%;}
	.vehicleHeader , .threelinsAdj {display:block;}
	.vehicleHeader{position: relative;left: 32px;}
	.vehicleHeader div{margin-left: -32px;float: left;width: 90%}
	.oneliner{  font-size: 12px;}
	.vinHistory {left: 16px; min-height:50%;}
	.adjPanelLast{width: 200px;float: right;padding-right: 280px;padding-bottom: 10px;}
	table {overflow:auto;}
	.adjPortrait{margin-top: 138px; margin-left: 4px; width: 73.5%; overflow-x: auto; overflow-y: hidden; min-height: 636px;  }
	.adjsmPortrait {margin-top: 140px; min-height: 402px; margin-left: 2px; width: 88.2%; overflow-x: scroll;}
	.smScrollContainer{min-height: 650px;}
	.errorDiv{margin-top: 198px; margin-left: 0px;}
	.pagesection{width: 600px;padding-right: 10px;}
	.pagesectionSM{width: 600px; padding-right: 10px;}
	.adjPanelLabel{min-width: 110px;float: left;}	
	.footerbg {height: 87px;}
	.incHeight{height: 102px;}
	/*Error Box*/
	.bubble {position:absolute;padding: 6px 8px 7px 31px !important;top:63px;left: 57px;z-index: 1099;}
	.bubble:after {z-index: 1;margin-top: -8px;right: 9px;top: -17%;}
	.bubble:before {z-index: 0;margin-top: -8px;right: 9px;top: -20%;}
	.errorbox {top: 28px;}
	/*Error Box*/
	/* toyota care */
	span[id^=dcare],span.rmPad{padding: 0;width : 140px}
	span.pLable,p.pLable {float: right !important;width: 160px !important;}
	span[rel^="cspDealerPop"] {padding-left: 15px;width: auto}
	
	.completed .firstElt{line-height: 76px;}
	.rmPad.adjSecondLabel{float: left !important;padding: 0 0 0 5px;}
	.adjSecondLabel p{width: auto;float: left;}
	
	/* toyota care */
	/*VinHistory
	#scrollContainer {width: 562px; height: 395px;}*/
	.vinHistory{width: 560px;}
	/*VinHistory*/
	/* vehicle alert */
	.vehicleAlert{width: 550px;}
	.vehicleAlert.move-vAlert{top: 210px;  min-height: 26%;}
	.vAlertArrow.move-vAlert{top: 200px;}
	/* vehicle alert */
	/*WarrantyPage*/
	.headerDiv {padding: 6px 15px;}
	.headerDiv div {display: inline-block;}
	.headerDiv div.fc {min-width: 78px;}
	.headerDiv div.sc {min-width: 162px;}
	.headerDiv div.tc {width: 9%; min-width: 91px; white-space: nowrap;}
	.headerDiv div.fourthc {width: 35%; min-width: 91px; white-space: nowrap; float: right;}
	.firstColl{width: 49%}
	.firstCl{padding: 10px 40px;}
	.headerDiv div.sc{min-width: 102px;}
	.barchart{width: 50%}
	div.description{width: 122px}
	.thirdCol{min-width: 80px;}
	.memodetail{width: 60%}
	.pwr-part-list {float: left;margin-left: 15px;}
	/*WarrantyPage*/
	/*Service history Page*/
	.container-fluid.careHeader .vindetailhead{width:47.7% !important; border-bottom:1px solid #bdbdbd;}
	.container-fluid.careHeader span.line:nth-of-type(even){background-image:none !important;}
	.container-fluid.careHeader .vindetailhead:last-child{ border-bottom:0px solid #bdbdbd;width:100% !important;}
	.servicehistorypage #tab3 .row ul.nav {width:80% !important;}
	.servicehistorypage #tab3 .tabandolderconainericon{width:20%;}
	.servicehistorypage ul.maintabhistory li {width: 86px;}
	.servicehistorypage ul.maintabhistory li a.increasewidthforwarranty{padding-left:2px;padding-right:2px;}
	.servicehistorypage .older-right-align {text-align: right;padding: 5px 0;}
	.servicehistorypage .older-right-align a {background: url('/serviceLane/pages/asm/mobile/images/Tablet/ViewOlderData_icon.png') no-repeat left center; background-size: 19px 14px;padding: 1px 0px 3px 24px;}
	.servicehistorypage .panel-group .panel-heading a:before{/*left:63%; */left:75%;}
	/*Service history Page*/
	/* legal page */	
	/*for feedback and customer suvey start */
	.feedback{/*width: 90%;margin-left: -45%;left: 50%*/width: 60%; margin-left: -45%;left: 65%;}
	.customersurveypage .aligncenter span{line-height:74px;}
	.customersurveypage .mysurveycolor{min-height:247px;}
	.customersurveypage .mysmileyarea{padding-top:43%;}
	.customersurveypage .mysurveycoloricon{min-height:247px;padding-top:18%;}
	/*for feedback and customer suvey end */
	/* Telematics page and account details starts */
	.teleaccdet{/*width: 90%;margin-left: -45%;left: 50%*/width: 60%; margin-left: -45%;left: 65%;}
	.teleProdDetail .statustext{line-height:217px; }
	.teleProdDetail .statustext.reduceHeight{line-height:133px;}
	.teleProdDetail .statustext.statusTextPortrait{line-height:168px;}
	.teleaccountContainer{border:0;}
	/* Telematics page and account details ends */
	/* service connect alert starts*/
	.serviceconnectAlert{width: 550px;}
	.serviceconnectAlert.move-vAlert{top: 210px;}
	.serviceConnectAlertContainer{height:425px;}
	.reduce-ed-box-height{height:375px;}
	.reduce-ed-box-height-two{height:312px;}
    /* service connect alert ends*/
	/* fs products */
	.serviceProvider .inactive, .serviceProvider .active{line-height: 95px;}
	.firstTabActive .active, .firstTabInctive .inactive{line-height: 25px !important;}
	.fsproductStatus{display : block}
	.tcmcContainer.move-iframe{height:925px;}
	.balloonstyle { min-width: 305px;}
	.tooltipPopUpCSPBottomline{  top: -165px !important;}
	.tooltipPopUpCSPBottomline:after {top:160px;}
	/* LPS */
	#pendingBtn{  float: left !important;}
	#pendingBtn button, #pendingBtn div {
		margin-left: 0;
		margin-right: 20px;
	}
	h5#pendingHead{float: left;width: 100%;}
	.cusPop{ width: 75%; left: 13%;}
	.ppheader h2 {width: 85%;}
	#breadcrumb img{ height: 35px;}
	#lpsSections .nav-tabs > li {margin-bottom: -2px;}
	.pending.active:after {left: 86px;  }
	/* LPS */
	/*VHR*/
	.visibleoverflow .panel-title{
		padding-top: 5px;
	}
	.hidePortrait{display:none;}
	/*VHR*/
	/* house hold*/
		.vinhouseholdinfo{width: 65%; margin-left: -45%;left: 65%;}
		.disposedContainer,.currentContainer{max-height:420px;}
		.addpaddingbottomportrait{padding-bottom:6px;}
		.addPaddingError{padding:10px 0 10px 15PX;} 
		.vinhouseholdinfo .nav-tabs > li.active > a, .vinhouseholdinfo .nav-tabs > li.active > a:hover, .vinhouseholdinfo .nav-tabs > li.active > a:focus{padding:11px 15px;}
	/* house hold */
	/*road side */
	.teleProdDetail.roadsideDetails .statustext{line-height:120px;}
	/* road side */
	/*announcements pop up */
	.announcementspopdiv{max-height:420px;}
	.hideBorder {
	
	width: 4px;
	box-shadow: none;
}
	/*announcements pop up */
	.serviceContainer{width: 278px;}
	.barGraph {width: 99%;}
	.smGrid{ padding: 17px 0;}
	div#sheduleContainer {
    width: 520px;}
	div#sheduleContainer.overflow{overflow: auto;    width: 500px;}
	.move-smContent {margin-top: 90px;}
	.customeDesc{width: 330px;z-index: 2000;}
	/*print pop up */
	.printPopup {
    width: 540px!important;
	}
	.showprintPreview{overflow-x: scroll}
	.printContainer div {   
		overflow-x: auto;
		width: 850px;
		border-top: 0 !important;
	}
	.printContainer div .collapse.in {overflow: hidden;    }
	.printContainer .customeDD{width: 850px !important;    overflow: hidden !important;}
	.customeDesc.inside{width: 400px}
	#internalUse{text-align: right;}
	span#vhIcon{right: 28px;}
		/* Mirai swap starts */
	.mystatuscolor{padding:36px 0;}
	/* Mirai swap ends */
	.fsproduct-col2{padding: 0;}
	.dtcScrnNote{margin-bottom: 15px;}
	.dtcAdjDD{margin-top: 10px;}
	.dtcadjDD{margin-top:10px !important;}
	.paging .glyphicon {margin-top: 10px;}
	.addmargintopkc {
	    margin-top: 24px;
	}
	/* library search starts*/
	.posmargin {
    margin-left: 15%;
 }
 .tipWidth{max-width:400px !important;}
.searchresetbutton{left:188px;}
.searchinputstyle{width:212px;}
/*library search ends */
/* DTC page tool tip*/
.dtctip{max-width:360px !important;}
.dtctipp{max-width:365px !important;}
.dtcnumber{margin-bottom:75px !important;}
.dtcrows{margin-left:0px !important;}
.auditfrm {width:40%;}
#nextServiceApt .customeDesc {left:70px;}
}




/*10" Portrait(ios) * and 7" portrait(ios) */
@media only screen and (min-width: 768px) and (max-width: 809px){
	body{background-color: yellow1;}
	.move-content{height:78px;}
	.move-error{top: 245px;}
	.move-dropdown{top: 30px}
	.secondCol.colmd5.remLRpad .row {margin-top: 0;}
	.oneviewcontainer{min-height: 66px;}
	.rightNav {margin-top: 156px;}	
	.leftNav{margin-top:124px;height: auto;overflow-y:hidden}
	.leftMenuBig1 {margin-top:125px;height: auto;}	
	#vSpecTableWrap{margin: 0 9px;}
	.rating li {font-size: 16px;}
	.leftNav.pushdown {top: 140px;height: auto;}
	.leftMenuBig1.pushdown {top: 79px;height: auto;}
	.leftmenu > li > a{padding: 17px 21px 17px 5px;}
	.vinfrm{width: 71%;}
	.userLgDet{width: 140px;}
	.logo-title, .userLgDet i, #userLgnDetFn.rmFirN{display: none;}
	.adjPortrait {margin-left: 81px; margin-top: 139px; min-height:495px; width: 80.5%;}
	.adjsmPortrait {margin-top: 155px; min-height: 500px; margin-left: 2px; width: 91.2%; }
	.smScrollContainer{max-height: 720px;}
	.errorDiv{margin-top: 198px; margin-left: 0px;}
	span[id^=dcare],span.rmPad{padding: 0;width: 140px}
	span.pLable,p.pLable {float: right !important;width: 160px !important;}		
	.completed .firstTab, .closed .firstTab, #campaignList li .firstTab{padding: 0 10px;}
	span[rel^="cspDealerPop"] {width: auto;padding-left: 15px;}
	#vehicleAlertList {max-height: 350px;}
	.leftNav  {position: fixed;}
	.footerbg {height: 87px;}
	/*Error Box*/
	.bubble {position:absolute;padding: 6px 8px 7px 31px !important;left: 195px;z-index: 1099;}
	.bubble:after {z-index: 1;margin-top: -8px;right: 9px;top: -17%;}
	.bubble:before {z-index: 0;margin-top: -8px;right: 9px;top: -20%;}
	.errorbox {top: 28px;}
	/*Error Box*/
	/*toyota care */
	.completed .firstElt{line-height: 96px;}
	.closed .firstElt{line-height: 38px;}
	.rmPad.adjSecondLabel{float: left !important;padding: 0 0 0 5px;}
	.adjSecondLabel p{width: auto;float: left;}
	/*VinHistory
	#scrollContainer {width: 753px; height: 395px;}*/
	.vehicleAlert.move-vAlert{top: 210px;  min-height: 26%;}
	.vAlertArrow.move-vAlert{top: 200px;}
	/*VinHistory*/

	/*WarrantyPage*/
	
	.firstCl {padding: 10px 10px; min-width: 78px;}
	/*.thirdCol {width: 15%;min-width: 69px;float: right;text-align:left;}*/
	.fourthCol {width: 11%;min-width: 69px;}
	.thirdCol{min-width: 77px;}
	.headerDiv {padding: 6px 0px;}
	.headerDiv div {display: inline-block;}
	.headerDiv div.fc {min-width: 78px;padding-left: 15px;}
	.headerDiv div.sc {min-width: 95px;}
	.headerDiv div.tc {width: 9%; min-width: 91px; white-space: nowrap;}
	.headerDiv div.fourthc {width: 35%; min-width: 91px; white-space: nowrap; float: right;}
	div.description{width: 104px;}
	.pwr-part-list{float: left;margin-left: 15px;}
	.memodetail{width: 61%}
	/*WarrantyPage*/
	/* vehicle alert */
	.vAlertArrow{top: 195px;}
	.vehicleAlert{top: 207px;}
	
	/* vehicle alert */
	/*Service history Page*/
	.container-fluid.careHeader .vindetailhead{width:32% !important; border-bottom:1px solid #bdbdbd;padding-bottom:10px;}
	.container-fluid.careHeader div.vindetailhead:nth-of-type(4){ border-bottom:0px solid #bdbdbd;width:48.5% !important;}
	.container-fluid.careHeader span.line:nth-of-type(3){width:0% !important;;height:0% !important;margin:0px !important;}
	.container-fluid.careHeader .vindetailhead:last-child{ border-bottom:0px solid #bdbdbd;width:48.5% !important;}
	.servicehistorypage #tab3 .row ul.nav {width:85% !important;}
	.servicehistorypage .nav-tabs li {padding:10px 0px 0px 0px !important;}
	.servicehistorypage #tab3 .tabandolderconainericon{width:15%;padding-bottom:16px;}
	.servicehistorypage .panel-group .panel-heading a:before {left: 75%;/*width:27%; */}
	.servicehistorypage #tab3 .panel-group .panel-heading a:before {left: 73%;/*width:27%; */}
	.servicehistorypage .older-right-align{background-position:6%;}
	.servicehistorypage .panel-group .panel-heading.warranty a:before {padding:3px 75px 3px 1px;}
	.servicehistorypage .panel-group .panel-heading.nsh a:before {padding:3px 110px 3px 32px;}
	.servicehistorypage ul.maintabhistory li {width: 118px;}
	.servicehistorypage .tab-content .panel-body.nsh .row div:nth-child(1) {padding-right:0 !important;}
	.servicehistorypage .tab-content .panel-body.nsh .row div:nth-child(3) {padding:0 !important;}
	.servicehistorypage  .partdescrightpad , .scoutGPS{padding-right:0 !important;}
	.careHeader{height:102px;}
	/*Service history Page*/
 	/*for feedback and customer suvey start */
	.feedback{/*width: 90%;margin-left: -45%;left: 50%*/width: 60%; margin-left: -45%;left: 65%;}
	.customersurveypage .aligncenter span{line-height:74px;}
	.customersurveypage .mysurveycolor{min-height:247px;}
	.customersurveypage .mysmileyarea{padding-top:43%;}
	.customersurveypage .mysurveycoloricon{min-height:247px;padding-top:18%;}
	.customersurveypage .greensurvey,.customersurveypage .redsurvey,.customersurveypage .greysurvey{ padding-top:10px;}
 
	 /*for feedback and customer suvey end */
	/* fs products */
	.serviceProvider .inactive, .serviceProvider .active{line-height: 95px;}
	.firstTabActive .active, .firstTabInctive .inactive{line-height: 25px !important;}
	.fsproductStatus{display : block}
	.tcmcContainer{padding-top:5px;height:925px;}	
	.tcmcContainer.move-iframe{ height:925px;padding-top:65px;}	
	.tcmcContainer.ipadclass{height:auto;}
	.tcmcContainer.move-iframe.ipadclass{height:auto;}
	.balloonstyle { min-width: 305px;}
	.tooltipPopUpCSPBottomline{  top: -165px !important;}
	.tooltipPopUpCSPBottomline:after {top:160px;}
	.fsEllipse{  max-width: 215px;}
	/* Telematics page and account details starts */
	.teleaccdet{/*width: 90%;margin-left: -45%;left: 50%*/width: 60%; margin-left: -45%;left: 65%;}
	.teleProdDetail .statustext{line-height:217px; }
	.teleProdDetail .statustext.reduceHeight{line-height:133px;}
	.teleProdDetail .statustext.statusTextPortrait{line-height:168px;}
	/* Telematics page and account details ends */
	/* Service connect alerts starts */	
	.serviceconnectAlert.move-vAlert{top: 210px;  /*min-height: 26%;*/}
	.serviceconnectAlert{top: 207px;/*height: 27%;*/}
	.serviceConnectAlertContainer{height:548px;}
	.reduce-ed-box-height{height:375px;}
	.reduce-ed-box-height-two{height:312px;}
	/* Service connect alerts  ends */
	/* LPS */
	#pendingBtn{  float: left !important;}
	#pendingBtn button, #pendingBtn div {
		margin-left: 0;
		margin-right: 20px;
	}
	h5#pendingHead{float: left;width: 100%;}
	.cusPop{ width: 75%; left: 14%;}
	.ppheader h2 {width: 85%;}
	#breadcrumb img{height: 36px;}
	#lpsSections .nav-tabs > li {margin-bottom: -2px;}
	/* LPS */
	/*VHR*/
	.visibleoverflow .panel-title{
		padding-top: 5px;
	}
	.hidePortrait{display:none;}
	/*VHR*/
		/* house hold*/
	.vinhouseholdinfo{width: 60%; margin-left: -45%;left: 65%;}
	.disposedContainer,.currentContainer{max-height:640px;}
	.addpaddingbottomportrait{padding-bottom:6px;}
	/* house hold */
	/*road side */
	.teleProdDetail.roadsideDetails .statustext{line-height:120px;}
	/* road side */
		/*announcements pop up */
	.announcementspopdiv{max-height:640px;}
	/*announcements pop up */
	/* schedule maintenance */
	.serviceContainer{width: 278px;}
	.barGraph {width: 75%;}
	div#sheduleContainer{width: 91%}
	.move-smContent {margin-top: 60px;}
	.printHeader{width: 900px;}
	#printPreview{width: 900px;}
	.showprintPreview { overflow-x: scroll;}
	span#vhIcon{right: 27px;}
	.landingHeight{height:140px;}
	/* Mirai swap starts */
	.mystatuscolor{padding:36px 0;}
	/* Mirai swap ends */
	.fsproduct-col2{padding: 0;}
	.dtcnumber{margin-bottom:75px !important;}
	.dtcrows{margin-left:0px !important;}
	.dtcScrnNote{margin-bottom: 15px;}
	.dtcAdjDD{margin-top: 10px;}
	.dtcadjDD{margin-top:10px !important;}
	/*knowledge center starts */
		.addmargintopkc {
	    margin-top: 24px;
	}
	/*knowledge center ends */
	.tipWidth{max-width:390px !important;}
	/* library search starts*/
	.posmargin {
    margin-left: 15%;  padding:0;
 }
/* library search ends*/
/* DTC page tool tip*/
.dtctip{max-width:362px !important;}
.dtctipp{max-width:360px !important;}
.logtip, .appsuite{max-width:165px !important;}
/* Pop up*/
.shadowpopup{top:400px;}
.printPopup .shadowpopup{top:290px;}
/* POD app screens */
.auditfrm {width:58%;}
.auditfrm .logo-title{ display:inline-block !important;}
.userName {width: 200px;}
.entryForm h5:after {  left: 11%;  width:87%; }
#nextServiceApt .customeDesc {left:190px;}
.salvageLoad { width:74%; }
}

/* windows portrait */
@media only screen and (min-height: 1200px){
	body{background-color: red1;}
	.smScrollContainer{max-height: 850px;}
	/* library search starts*/
	.posmargin {
   padding:0;}
.shadowpopup{top:500px;}
.printPopup .shadowpopup{top:290px;}
.vinfrm{width: 69%;}
.userLgDet{width: 160px;}
.rating li {font-size: 15px;}
.tcmcContainer.move-iframe{height:1180px;}
.tcmcContainer{height:1180px;}
/* library search ends*/
.fsEllipse {max-width: 233px;}
/* DTC page tool tip*/
.dtctip , .dtctipp{max-width:380px !important;}
.logtip{max-width:180px !important;}
.appsuite{ max-width:170px !important; }
.userName {width: 200px;}
.dtcadjDD{margin-top:10px !important;}
}

/*7" Android Landscape  */
@media only screen and (min-width: 811px) and (max-width: 992px){
	.servicehistorypage .panel-group .panel-heading a:before{left:75%;}
	body{background-color: green1;}
	.move-content{height:79px;}
	.move-error{top: 245px;}
	.move-dropdown{top: 30px}
	.rightNav {margin-top: 156px;}	
	.secondCol.colmd5.remLRpad .row {margin-top: 0;}
	.leftmenu.overShowMenu {min-height: 710px;}
	.leftNav, .leftMenuBig1{margin-top: 124px;height: 630px;}
	.leftMenuBig1{height: auto;}
	.leftMenuBig1.pushdown {top: 79px; height: auto;}
	.leftMenuBig1 .btn{padding: 1px 0;height: auto}
	.leftNav{position: relative;}
	.adjPortrait{margin-top: 140px; margin-left: 3px; width: 81.4%; overflow-x: auto; overflow-y: auto; min-height: 570px;}
	.adjsmPortrait {margin-top: 140px; min-height: 402px; margin-left: 2px; width: 91.2%;}
	.leftmenu > li > a{padding: 18px 21px 18px 5px;}
	.vinfrm{width: 73.9%;}
	.v-icons{width: 100%;}	
	.errorDiv{margin-top: 91px; margin-left: 0px;}
	.footerbg {height: 70px;}
	/*Error Box*/
	.bubble {position:absolute;padding: 6px 8px 7px 31px !important;left: 246px;z-index: 1099;}
	.bubble:after {z-index: 1;margin-top: -8px;right: 9px;top: -17%;}
	.bubble:before {z-index: 0;margin-top: -8px;right: 9px;top: -20%;}
	.errorbox {top: 28px;}
	.oneviewcontainer {min-height: 66px;}
	
	/*Error Box*/
	/*toyotacare */
	.completed .firstElt{line-height: 76px;}
	.rmPad.adjSecondLabel{float: left !important;padding: 0 0 0 5px;}
	.adjSecondLabel p{width: auto;float: left;}
	span[id^=dcare],span.rmPad{padding: 0;width: 140px;}
	span.pLable,p.pLable {float: right !important;width: 160px !important;}
	span[rel^="cspDealerPop"] {width: auto;padding-left: 15px;}
	#vehicleAlertList{max-height: 250px;}
	/*VinHistory
	#scrollContainer {width: 808px; height: 272px;}*/
	.vehicleAlert.move-vAlert{top: 210px;  min-height: 36%;}
	.vAlertArrow.move-vAlert{top: 200px;}
	/*VinHistory*/

	/*WarrantyPage*/
	.firstCl {padding: 10px 10px; min-width: 78px;}
	/*.thirdCol {width: 15%;min-width: 69px;float: right;text-align:left;}*/
	.fourthCol {width: 11%;min-width: 69px;}
	.headerDiv {padding: 6px 0px;}
	.headerDiv div {display: inline-block;}
	.headerDiv div.fc {min-width: 78px;padding-left: 15px;}
	.headerDiv div.sc {min-width: 95px;}
	.headerDiv div.tc {width: 9%; min-width: 91px; white-space: nowrap;}
	.headerDiv div.fourthc {width: 35%; min-width: 91px; white-space: nowrap; float: right;}
	div.description{width: 104px;}
	.pwr-part-list{float: left;margin-left: 15px;}
	.memodetail{width: 61%}	
	.thirdCol{min-width: 77px;}
	/*WarrantyPage*/
	/*Service history Page*/
	.servicehistorypage #tab3 .row ul.nav {width:90% !important;}

	.servicehistorypage #tab3 .tabandolderconainericon{width:10%;}
	
	.servicehistorypage .older-right-align{background-position:60%;}
	/*Service history Page*/
	/* fs products */
	.serviceProvider .inactive, .serviceProvider .active{line-height: 95px;}
	.firstTabActive .active, .firstTabInctive .inactive{line-height: 25px !important;}
	.fsproductStatus{display : block}
	/*for feedback and customer suvey start */  
	 .feedback {	height:415px;overflow:auto;}
	.customersurveypage .mysurveycolor{padding:0;min-height: 247px;}
	.customersurveypage .mysurveycolor .mysmileyarea {padding-top: 36%;}
	.customersurveypage .mysurveycoloricon{padding-top:16%;}
	
	/*for feedback and customer suvey end */
	.tcmcContainer{margin-top: 130px; min-height:112px; padding: 10px 0px;}
	.tcmcContainer.move-iframe{ margin-top: 200px;}
	.ifrm { margin-top: 10px; min-height: 355px;}
	/* Telematics page and account details starts */
	.teleProdDetail .statustext{line-height:217px; }
	.teleProdDetail .statustext.reduceHeight{line-height:133px;}
	.teleProdDetail .statustext.statusTextPortrait{line-height:168px;}
	/* Telematics page and account details ends */
	/* Service connect alerts  starts */
	/*.serviceconnectAlert{height:370px;} */
	.serviceconnectAlert.move-vAlert{top: 210px; /* min-height: 36%; */}
	.serviceConnectAlertContainer{height:290px;}
	/* Service connect alerts  ends */
	/* LPS */
	#pendingBtn{  float: left !important;}
	#pendingBtn button, #pendingBtn div {
		margin-left: 0;
		margin-right: 20px;
	}
	h5#pendingHead{float: left;width: 100%;}
	.cusPop{ width: 80%; left: 11%;}
	.ppheader h2 {width: 85%;}
	#breadcrumb img{ height: 45px;}
	.popupContent {max-height: 310px;}
	.pending.active:after {left: 86px;}
	/* LPS */
		/* house hold*/
	.disposedContainer,.currentContainer{max-height:250px;}
	.addpaddingbottomportrait{padding-bottom:6px;}
	/* house hold */
	/*road side */
	.teleProdDetail.roadsideDetails .statustext{line-height:120px;}
	/* road side */
		/*announcements pop up */
	.announcementspopdiv{max-height:250px;}
	.hideBorder {
	width: 4px;
	box-shadow: none;
	}
	/*announcements pop up */
	.serviceContainer{width: 462px;}
	.barGraph {width: 80%; margin-bottom: 5px;margin-left: 20px;}
	div#sheduleContainer {width: 91.5%;}
	.move-smContent {margin-top: 90px;}
	/* Print pop up */
	#internalUse{text-align: right;}
	.showprintPreview { overflow-x: scroll;}
	span#vhIcon{right: 26px;}
	/*Mirai swap starts */
	.mystatuscolor{padding:36px 0px;/*min-height: 247px;*/}
	/*Mirai swap ends */	
	.fsproduct-col2{padding: 0;}
	.dtcScrnNote{margin-bottom: 15px;}
	.dtcAdjDD{margin-top: 10px;}
	.dtcadjDD{margin-top:10px !important;}
		/*knowledge center starts */
		.addmargintopkc {
	    margin-top: 24px;
	}
	/*knowledge center ends */
	
	/* library search starts*/
	.posmargin {
    margin-left: 15%;
    padding:0px;
   
}
.tipWidth{max-width:400px !important;}
/* DTC page tool tip*/
.dtctip , .dtctipp{max-width:415px !important;}
.dtcnumber{margin-bottom:75px !important;}
.dtcrows{margin-left:0px !important;}
.logtip{max-width:160px !important;}
.posfix{height: 320px;overflow:scroll;}
.printPopup {
      position:absolute ;
	}
/*library search ends */
}



/*7" (ios) Landscape */
@media only screen and (min-width: 993px) and (max-width: 1200px){
	body{background-color: yellow1;}
	/*.lookup{padding: 17px 17px 17px 30px;}
	.barcode{padding: 17px 17px 17px 30px;}
	.reset-image{background-size: 18px 18px;padding: 17px 22px 17px 22px;}*/
	 .oneviewcontainer{min-height: 66px;}
	.rightNav {margin-top: 157px;}	
	.leftNav, .leftMenuBig1{top: 145px;margin-top: 0px;}
	.leftmenu > li > a{padding: 17px 21px 17px 5px;}
	.vinfrm{width: 53%;}
	.bordHR{display:none;}
	.adjPortrait {width: 85%; margin-top: 139px; min-height:222px;}
	.adjsmPortrait {margin-top: 155px; min-height: 402px; margin-left: 2px; width: 93.2%;}
	.errorDiv{margin-top: 189px; margin-left: 0px;}
	.footerbg {height: 70px;}
	span[id^=dcare],span.rmPad{width: 140px;}
	.lDate{width: 185px !important;}
	span[rel^="cspDealerPop"] {width: auto;}
	/*Error Box*/
	.bubble {position:absolute;padding: 6px 8px 7px 31px !important;left: 360px;z-index: 1099;}
	.bubble:after {z-index: 1;margin-top: -8px;right: 9px;top: -17%;}
	.bubble:before {z-index: 0;margin-top: -8px;right: 9px;top: -20%;}
	.errorbox {top: 28px;}
	.leftNav {position: fixed;}
	/*Error Box*/
	/*VehicleInfo*/
	.secondCol {margin-left: 75px;}
	.secondCol.reduceMarg {margin-left: 70px;}
	/*VehicleInfo*/
	/*VinHistory
	#scrollContainer {width: 1003px; height: 350px;}*/
	/*VinHistory*/
	.tipWidth{max-width:190px !important}
	/*WarrantyPage*/
	.firstCl {padding: 10px 10px; min-width: 78px;}
	/*.thirdCol {width: 15%;min-width: 69px;float: right;text-align:left;}*/
	.fourthCol {width: 11%;min-width: 69px;}
	.headerDiv div {float: left; padding-left: 15px;}
	.headerDiv {width: 100%;}
	.headerDiv div.fc {min-width: 78px;}
	.headerDiv div.sc {min-width: 185px;}
	.headerDiv div.tc {width: 9%; min-width: 91px; white-space: nowrap;}
	.headerDiv div.fourthc {width: 35%; min-width: 91px; white-space: nowrap; float: right;}
	div.description{width: 206px;}
	.memodetail{width: 74%;}
	/*WarrantyPage*/
	/*Service history Page*/
	.servicehistorypage #tab3 .row ul.nav {width:90% !important;}
	.servicehistorypage #tab3 .tabandolderconainericon{width:10%;}
	.servicehistorypage .older-right-align{background-position:60%;} 
	.addpad{padding-top:10px;}
	/*Service history Page*/
	/*for feedback and customer suvey start */
	
	.feedbackContainer.ng-scope {height: 520px;}
	.customersurveypage .mysurveycoloricon{padding-top:14%;}
	.customersurveypage   .mysmileyarea  span.rmPad{line-height:43px;}
	.customersurveypage .greensurvey,.customersurveypage .redsurvey,.customersurveypage .greysurvey{ padding-top:10px;}
	.remLRpad.leftremovepad{padding-left:8px;}
	.customersurveypage .mysurveycolor{ min-height:229px;}
	.customersurveypage  .mysurveycolor .mysmileyarea{padding-top:34%;}
	/*for feedback and customer suvey end */
	.tcmcContainer{height:685px;}
	.tcmcContainer.ipadclass{height:auto;}
	.ifrm {padding-top: 95px;}
	.tooltipPopUpCSPBottomline{  top: -105px !important;}
	.tooltipPopUpCSPBottomline:after {top:100px;}
	/* Telematics page and account details starts */
	.linowrap{white-space:nowrap;}
		.remLRpadhoriz{
	padding-left: 0; 
	padding-right: 0; 
}
/* service conect alerts page starts */
	
	/* service conect alerts page ends */
	/* Telematics page and account details ends */
	.cusPop{width: 83%; left: 9%;}
	.ppheader h2 {width: 85%;}
	#breadcrumb img{width: 100%;	height: 50px;}
	.popupContent {max-height: 310px;}
	.barGraph{width: 74%;}
	div#sheduleContainer {
    width: 93.6%;}
	.showprintPreview { overflow-x: scroll;}
	/* Mirai swap starts */
		.mystatusarea{padding:13px;}
	.mystatuscoloricon{padding-top:1%;}
	/* Mirai swap ends */
	 
	 .leftmenu.overShowMenu{
		height: 540px;
	}
		/* library search starts*/
	.posmargin {
    margin-left: 9%;
    
}
.fsEllipse{  max-width: 169px;}
/* DTC page tool tip*/
.dtctip{max-width:220px !important;}
.dtctipp{max-width:285px !important;}
.logtip{max-width:400px !important;}
.adjsmPortrait.sheduleContainer1 {
    margin-top: 122px;
}
	/*library search ends */
	.appsuite{ max-width:139px; }
	/* POD app */
	.auditfrm {width:44%;}
	.userName {max-width: 213px;}
	.entryForm h5:after {  left: 8%;  width:90%; }
	.podEllipse { max-width:179px; }
	.click-to-edit .ng-modal-dialog { width:36%;}
	#nextServiceApt .customeDesc {left:100px;}
	.salvageLoad { width:78%; }	
}

/* Android 10" landscape */
@media only screen and (min-width: 1201px){
	body{background-color: orange1;}
	/*.lookup{padding: 17px 17px 17px 30px;}
	.barcode{padding: 17px 17px 17px 30px;}
	.reset-image{background-size: 18px 18px; padding: 17px 10px 17px 10px;}*/
	.move-content{height:21px;}
	.oneviewcontainer{min-height: 66px;}
	.rightNav {margin-top: 154px;}	
	.leftNav, .leftMenuBig1 {margin-top: 124px; height:593px;}
	.leftNav {position: relative;}
	.leftmenu.overShowMenu {height: 680px;}
	.leftmenu.overShowMenu.notoyota{height: 625px;}
	.leftMenuBig1{top: 21px;height: auto}
	/*.leftmenu > li > a{padding: 15px 21px 17px 5px;}*/
	.bordHR{display:none;}	
	.userLgDet{max-width: 310px;}	
	.vinfrm{width: 45%;}
	.adjPortrait {margin-top: 138px; min-height: 402px; margin-left: 1px; width: 87.7%;}
	.adjsmPortrait {margin-top: 155px; min-height: 402px; margin-left: 2px; width: 94.2%;}
	.errorDiv{margin-top: 178px; margin-left: 0px;}
	/*Error Box*/
	.bubble {position:absolute;padding: 6px 8px 7px 31px !important;right: 218px;z-index: 1099;}
	.bubble:after {z-index: 1;margin-top: -8px;right: 9px;top: -17%;}
	.bubble:before {z-index: 0;margin-top: -8px;right: 9px;top: -20%;}
	.errorbox {top: 28px;}
	.footerbg {height: 70px;}
	span[id^=dcare],span.rmPad{padding: 0;width: 160px}
	/*Error Box*/
	/*VehicleInfo*/
	.secondCol {margin-left: 120px;}
	/*VehicleInfo*/
	
	/*WarrantyPage*/
	.firstCl {padding: 10px 10px; min-width: 78px;}
	/*.thirdCol {width: 15%;min-width: 69px;float: right;text-align:left;}*/
	.fourthCol {width: 11%;min-width: 69px;}
	.headerDiv div {float: left; padding-left: 15px;}
	.headerDiv {width: 100%;}
	.headerDiv div.fc {min-width: 78px;}
	.headerDiv div.sc {min-width: 250px;}
	.headerDiv div.tc {width: 9%; min-width: 91px; white-space: nowrap;}
	.headerDiv div.fourthc {width: 35%; min-width: 91px; white-space: nowrap; float: right;}
	/*WarrantyPage*/
	
	/*Service history Page*/
	.servicehistorypage .panel-group .panel-heading a:before{left:85.4%;}
	.servicehistorypage #tab3 .panel-group .panel-heading a:before{left:84.4%;}
	.addpad{padding-top:10px;}
	/*Service history Page*/
	/*for feedback and customer suvey start */
	.feedback {height: 520px;overflow: auto;}
	.customersurveypage .mysurveycoloricon{padding-top:9%;}
	.customersurveypage .mysurveycolor{ min-height:233px;}
	.customersurveypage   .mysmileyarea  span.rmPad{line-height:34px;}
	.customersurveypage .mysurveycolor .mysmileyarea {
   		 padding-top: 33%;
	}
	/*for feedback and customer suvey end */
	.tcmcContainer{height:715px;padding-top:5px;}
	.ifrm{padding-top:145px;}
	.tooltipPopUpCSPBottomline{  top: -105px !important;}
	.tooltipPopUpCSPBottomline:after {top:100px;}
	/* Telematics page and account details starts */
		.remLRpadhoriz{
	padding-left: 0; 
	padding-right: 0; 
	}
	/* Telematics page and account details ends */
	.cusPop{width: 87%; left: 7%;}
	.ppheader h2 {width: 85%;}
	#breadcrumb img{	width: 100%; height: 75px;}
	/* service conect alerts page starts */
	/* service conect alerts page ends */
	/* Telematics page and account details ends */
		/* Mirai swap starts */
	 .mystatuscolor{padding:13px 0px;}
	 .mystatuscoloricon{padding-top:1%;}
	 .tipWidth{max-width:245px !important}
	 /* Mirai swap ends */
	 .printPopup {
      position:absolute ;
	}
	.fsEllipse{  max-width: 274px;}
	/* DTC page tool tip*/
	.dtctip{max-width:240px !important;}
	.dtctipp{max-width:466px !important;}
	.logtip{max-width:400px !important;}
	.appsuite{ max-width:363px; }
	.auditfrm {width:38%;}
	.podEllipse { max-width:300px !important; }
	.click-to-edit .ng-modal-dialog { width:29%;}	
}
/* windows 10 resolution support */
@media only screen and (min-width: 1800px) and (orientation : landscape){
	 @-ms-viewport {
		width:1280px;
	  }
}
@media only screen and (min-width: 1800px) and (orientation : portrait){
	 @-ms-viewport {
   		width:800px;
	 }
	 .tcmcContainer{height:1110px !important;}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {	
	
	body{background-color: pink1;}
	.leftNav{width:97px;overflow-x:hidden}
	.leftmenu.overShowMenu {height: 647px;}
	.leftmenu.overShowMenu.notoyota{height: 595px;}
}